<!--XL Subject Topic View-->
<div class="d-xl-block d-lg-none d-md-none d-sm-none d-none">
    <div class="row">
        <div class="col-2 mt-3 mb-3 subject-card"></div>
        <div class="col-2 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/MathematicsCard.svg" onclick="FilterByCards('Mathematics')" />
        </div>
        <div class="col-2 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/ScienceCard.svg" onclick="FilterByCards('Science')" />
        </div>
        <div class="col-2 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/EngineeringCard.svg" onclick="FilterByCards('Engineering')" />
        </div>
        <div class="col-2 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/BusinessCard.svg" onclick="FilterByCards('Business')" />
        </div>
        <div class="col-2 mt-3 mb-3 subject-card"></div>
        <div class="col-2 mt-3 mb-3 subject-card"></div>
        <div class="col-2 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/LawCard.svg" onclick="FilterByCards('Law')" />
        </div>
        <div class="col-2 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/ArtCard.svg" onclick="FilterByCards('Art')" />
        </div>
        <div class="col-2 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/HumanitiesCard.svg" onclick="FilterByCards('Humanities')" />
        </div>
        <div class="col-2 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/OtherCard.svg" onclick="FilterByCards('Other')" />
        </div>
    </div>
</div>

<!--Lg Subject Topic View-->
<div class="d-xl-none d-lg-block d-md-none d-sm-none d-none">
    <div class="row">
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/MathematicsCard.svg" onclick="FilterByCards('Mathematics')" />
        </div>
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/ScienceCard.svg" onclick="FilterByCards('Science')" />
        </div>
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/EngineeringCard.svg" onclick="FilterByCards('Engineering')" />
        </div>
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/BusinessCard.svg" onclick="FilterByCards('Business')" />
        </div>
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/LawCard.svg" onclick="FilterByCards('Law')" />
        </div>
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/ArtCard.svg" onclick="FilterByCards('Art')" />
        </div>
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/HumanitiesCard.svg" onclick="FilterByCards('Humanities')" />
        </div>
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/OtherCard.svg" onclick="FilterByCards('Other')" />
        </div>
    </div>
</div>

<!--Md Subject Topic View-->
<div class="d-xl-none d-lg-none d-md-block d-sm-none d-none">
    <div class="row">
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/MathematicsCard.svg" onclick="FilterByCards('Mathematics')" />
        </div>
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/ScienceCard.svg" onclick="FilterByCards('Science')" />
        </div>
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/EngineeringCard.svg" onclick="FilterByCards('Engineering')" />
        </div>
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/BusinessCard.svg" onclick="FilterByCards('Business')" />
        </div>
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/LawCard.svg" onclick="FilterByCards('Law')" />
        </div>
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/ArtCard.svg" onclick="FilterByCards('Art')" />
        </div>
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/HumanitiesCard.svg" onclick="FilterByCards('Humanities')" />
        </div>
        <div class="col-3 mt-3 mb-3 subject-card">
            <img src="~/images/GenericAssets/OtherCard.svg" onclick="FilterByCards('Other')" />
        </div>
    </div>
</div>

<!--Sm and Xs Carousel-->
<div id="subject-topic-carousel-xs" class="carousel slide d-xl-none d-lg-none d-md-none d-sm-block d-block" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row p-3">
                <div class="col-6 mt-3 mb-3 subject-card">
                    <img src="~/images/GenericAssets/MathematicsCard.svg" onclick="FilterByCards('Mathematics')" />
                </div>
                <div class="col-6 mt-3 mb-3 subject-card">
                    <img src="~/images/GenericAssets/ScienceCard.svg" onclick="FilterByCards('Science')" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row p-3">
                <div class="col-6 mt-3 mb-3 subject-card">
                    <img src="~/images/GenericAssets/EngineeringCard.svg" onclick="FilterByCards('Engineering')" />
                </div>
                <div class="col-6 mt-3 mb-3 subject-card">
                    <img src="~/images/GenericAssets/BusinessCard.svg" onclick="FilterByCards('Business')" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row p-3">
                <div class="col-6 mt-3 mb-3 subject-card">
                    <img src="~/images/GenericAssets/LawCard.svg" onclick="FilterByCards('Law')" />
                </div>
                <div class="col-6 mt-3 mb-3 subject-card">
                    <img src="~/images/GenericAssets/ArtCard.svg" onclick="FilterByCards('Art')" />
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row p-3">
                <div class="col-6 mt-3 mb-3 subject-card">
                    <img src="~/images/GenericAssets/HumanitiesCard.svg" onclick="FilterByCards('Humanities')" />
                </div>
                <div class="col-6 mt-3 mb-3 subject-card">
                    <img src="~/images/GenericAssets/OtherCard.svg" onclick="FilterByCards('Other')" />
                </div>
            </div>
        </div>
    </div>
    <a class="d-inline-block p-3" style="color:#004643" href="#subject-topic-carousel-xs" data-slide="prev">Previous</a>
    <a class="d-inline-block float-right p-3" style="color:#004643" href="#subject-topic-carousel-xs" data-slide="next">Next</a>
</div>