@foreach (var tutor in Model.AllTutors)
{
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mt-2 mb-2">
        <div class="card rounded pointer" style="min-height:350px;" onclick="window.location.href='/Profiles/Tutor/@tutor.Username'">
            <img class="card-img-top" src="@tutor.ProfilePicture" height="250" style="object-fit:cover; object-position:top">
            <div class="card-body">
                <p class="form-header mb-0" style="font-size:16px; color:@tutor.ProfileColor">@tutor.Name.Replace('|', ' ')</p>
                <p class="form-sub-header mb-0" style="font-size:12px;">@tutor.ProfileCaption</p>
            </div>
        </div>
    </div>
}