<div class="container-fluid mt-4 pb-5" style="background-color:#004643; min-height:440px; color:white">
    <div class="container" style="max-width:1500px">
        <div class="row pb-5 pt-4">
            <div class="col-lg-3">
                <a href="/"><img class="mt-3 mb-3" src="~/images/GenericAssets/StreamWork-Full-White.svg" width="225" /></a>
                <p>StreamWork is an online tutoring center that brings the minds of students together, building upon each other’s knowledge to reach scholastic success. <br />📚👩🏽‍🎓✨<br /><br />Study smarter, not harder. Get schooled with StreamWork.</p>
                <a href="/Home/About"><button class="streamWork-secondary">Learn More</button></a>
            </div>
            <div class="col-1"></div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <h5 class="mt-4 mb-3" style="font-weight: bold;">StreamWork</h5>
                            <a href="/Home/About" style="color: white;">About</a><br />
                            <a href="/Home/Tutor" style="color: white;">Tutor</a><br />
                            <a href="/Home/SignUp" style="color: white;">Sign Up</a><br />
                            <a href="/Home/SignIn/SW" style="color: white;">Sign In</a>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <h5 class="mt-4 mb-3" style="font-weight: bold;">Education</h5>
                        <div class="d-flex">
                            <div>
                                <a href="/Home/Browse/Mathematics" style="color: white;">Mathematics</a><br />
                                <a href="/Home/Browse/Science" style="color: white;">Science</a><br />
                                <a href="/Home/Browse/Engineering" style="color: white;">Engineering</a><br />
                                <a href="/Home/Browse/Business" style="color: white;">Business</a><br />
                            </div>
                            <div class="ml-4">
                                <a href="/Home/Browse/Law" style="color: white;">Law</a><br />
                                <a href="/Home/Browse/Art" style="color: white;">Art</a><br />
                                <a href="/Home/Browse/Humanities" style="color: white;">Humanities</a><br />
                                <a href="/Home/Browse/Other" style="color: white;">Other</a><br />
                            </div>
                        </div>
                        <br />
                        <a href="/Home/Browse/SW" style="color: white;">Browse</a>
                    </div>
                    <div class="col-md-4">
                        <h5 class="mt-4 mb-3" style="font-weight: bold;">Contact Us</h5>
                        <a style="color:#00A0A0" href="mailto:hey@streamwork.live">hey@streamwork.live</a>
                        <h5 class="mt-4 mb-3" style="font-weight: bold;">Follow Us</h5>
                        <a href="https://www.facebook.com/streamwork.live/"><img class="mr-3" src="~/images/facebook.png" style="width: 30px; height: 30px;" /></a>
                        <a href="https://twitter.com/StreamWorkLive"><img class="mr-3" src="~/images/twitter.png" style="width: 30px; height: 30px;" /></a>
                        <a href="https://www.linkedin.com/company/streamwork"><img src="~/images/linkedin.png" style="width: 30px; height: 30px;" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br />
    <div style="text-align: center;">
        Copyright © 2020 StreamWork LLC. All rights reserved.
    </div>
</div>