<!DOCTYPE html>
<!--
      _/_/_/  _/                                         _/       _/                  _/
   _/      _/_/_/_/ _/ _/_/  _/_/     _/_/_/ _/_/  _/   _/       _/  _/_/    _/ _/_/ _/  _/
    _/_/    _/     _/_/   _/_/_/_/ _/    _/ _/  _/  _/ _/  _/   _/ _/   _/  _/_/    _/_/
       _/  _/     _/     _/       _/    _/ _/  _/  _/  _/_/ _/_/  _/   _/  _/      _/  _/
_/_/_/      _/_/ _/       _/_/_/   _/_/_/ _/  _/  _/   _/   _/     _/_/   _/      _/    _/
-->

<html style="height:100%">

<head>
    <title>@ViewData["Title"] | StreamWork</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/images/StreamworkLogo.png">

    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Tutor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Streams.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Tutor/TutorDashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Profile/Profile.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="~/js/EditProfile.js" asp-append-version="true"></script>
    <script src="~/js/SignUpLogin.js" asp-append-version="true"></script>
    <script src="~/js/Search.js" asp-append-version="true"></script>
    <script src="~/js/TutorJS/Tutor.js" asp-append-version="true"></script>
    <script src="~/js/TutorJS/TutorStream.js" asp-append-version="true"></script>
    <script src="~/js/Settings.js" asp-append-version="true"></script>
    <script src="~/js/Following.js" asp-append-version="true"></script>
    <script src="~/js/NotificationAndModals.js" asp-append-version="true"></script>
    <script src="~/js/TutorJS/TutorDashboard.js" asp-append-version="true"></script>

    <script>!function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '825070711264915');
        fbq('track', 'PageView');</script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=825070711264915&ev=PageView
    &noscript=1" />
    </noscript>
</head>

<body style="background-color:#F3F3F3"> 
    <div class="row">
        <nav class="navbar navbar-expand-lg p-1 w-100" style="background-color:white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse pl-3" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active d-block mr-auto ml-auto">
                        <a class="navItem nav-link pl-3 pr-3" href="#">Tutor</a>
                    </li>
                    <li class="nav-item active d-block mr-auto ml-auto">
                        <a class="navItem nav-link pl-3 pr-3" href="#">Browse</a>
                    </li>
                    <li class="nav-item active d-block mr-auto ml-auto">
                        <a class="navItem nav-link pl-3 pr-3" href="#">About</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group pr-3">
                <input id="navbar-profile-picture" class="navbar-profile-picture" type="image" data-toggle="dropdown" src=@Model.UserProfile.ProfilePicture />
                <button type="button" id="dropdown" class="btn btn-info dropdown-toggle border-0 navbar-dropdown-button" data-toggle="dropdown"></button>
                <div class="dropdown-menu dropdown-menu-right" style="font-size:12px; min-width:0px !important">
                    <a class="dropdown-item" href="/Tutor/TutorDashboard">Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="Settings" href="/Tutor/TutorSettings">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" onclick="Logout()">Logout</a>
                </div>
            </div>
            <script>$('#dropdown').dropdown()</script>
        </nav>

    </div>

    <div class="page-body">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>
