@page
@model StreamWork.Pages.Home.AboutModel
@{Layout = "SignUp-SignIn/_LayoutSignUp-SignIn";}

    <div class="container custom-container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card" style="background-color: white">
                    <div class="card-tite form-header text-center header-appearance streamWork-green ">About StreamWork</div>
                    <div class="card-body">
                        <p class="roboto p-margins">StreamWork is an educational live-streaming platform for homework tutoring that allows for students to learn from their classmates. Our vision is to be the #1 online tutoring center that brings the minds of students together, building upon each other’s knowledge to reach scholastic success.📚👩🏽‍🎓✨</p>
                        <p class="roboto p-margins">StreamWork’s team was founded to relieve the restrictions of on-campus university tutoring. We’ve felt the difficulties of having to attend on-campus tutoring sessions constrained by working hours, fees, and physical location.</p>
                        <p class="roboto p-margins">By providing 24/7 live, interactive coursework help, students looking to study alongside an A grade student have the ability to do so on StreamWork. We provide accessibility to both the academically proficient and struggling students to learn together online.</p>
                    </div>
                    <div class="card-tite form-header text-center header-appearance streamWork-green">Team StreamWork</div>
                    <div class="card-body">
                        <div class="container" style="max-width:750px">
                            <div class="row">
                                <div class="col-lg-12 mt-5">
                                    <img src="/images/JaredHsu2.jpg" class="rounded" width="150" align="left" />
                                    <p class="roboto-slab" style="padding-left:175px; font-size:18px">Jared Hsu, Co-Founder / CEO</p>
                                    <p class="roboto" style="padding-left:175px; font-size:14px">Jared Hsu is a technology entrepreneur and supporter of all things ed-tech. After graduating from ASU in 2019 he worked at Google and is now currently at Facebook. As an avid techie, Jared has interned at several Y-Combinator backed startups and is a 2x hackathon winner.</p>
                                </div>
                                <div class="col-lg-12 team-streamwork-margins">
                                    <img src="/images/RithvikArun.jpeg" class="rounded float-right ml-4" width="150" align="right" />
                                    <p class="roboto-slab" style="font-size:18px">Rithvik Arun, Co-Founder / CTO</p>
                                    <p class="roboto" style="font-size:14px">Rithvik Arun is a software engineering student pursuing a bachelors degree at ASU and is currently a software engineering intern at Intel. He has multiple years of programming experience and has worked on numerous projects in the .NET and Xamarin environments through internships.</p>
                                </div>
                                <div class="col-lg-12 team-streamwork-margins">
                                    <img src="/images/Tom.jpg" class="rounded" width="150" align="left" />
                                    <p class="roboto-slab" style="padding-left:175px; font-size:18px">Tom Hansen, Co-Founder / CIO</p>
                                    <p class="roboto" style="padding-left:175px; font-size:14px">Tom Hansen is a software engineering student pursuing a bachelors degree at ASU Barret Honors and a Co-Founder at StreamWork. Notably a game developer he has worked on and created multiple games in the past years while being a successful programming tutor.</p>
                                </div>
                                <div class="col-lg-12 team-streamwork-margins">
                                    <img src="/images/KenPena.jpg" class="rounded float-right ml-4" width="150" align="right" />
                                    <p class="roboto-slab" style="font-size:18px">Ken Pena, Creative Director</p>
                                    <p class="roboto" style="font-size:14px">Kenneth Pena is a multi-disciplinary graphic designer that believes good design should not be reserved to the top 1% of companies but to 100% of the people. As a recent graduate of ASU, Kenneth has since made it his mission to utilize his passion and skills to illustrate the importance of design by branding various start-ups, non-profits and solo-projects alike.</p>
                                </div>
                                <div class="col-lg-12 team-streamwork-margins">
                                    <img src="/images/Junshu230.jpg" class="rounded" width="150" align="left" />
                                    <p class="roboto-slab" style="padding-left:175px; font-size:18px">Junshu Liu, Product Designer</p>
                                    <p class="roboto" style="padding-left:175px; font-size:14px">Junshu Liu is a designer pursuing a master’s degree at Georgia Institute of Technology. He is creative and proficient in software tools regarding UI/UX/interaction design, graphic design, and video editing. He is proficient in creating visual identity (VI) for several SaaS applications.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-tite form-header text-center header-appearance streamWork-green">We're Hiring!</div>
                    <div class="card-body">
                        <p class="roboto p-margins">
                          StreamWork is fast approaching a high growth trajectory and seeking thinkers and doers to join our vision to make higher education learning accessible for everyone.
                          Reach out at <script>o = '&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#104;&#101;&#121;&#64;&#115;&#116;&#114;&#101;&#97;'; ó = '&#104;&#101;&#121;&#64;&#115;&#116;&#114;&#101;&#97;'; ο = '&#109;&#119;&#111;&#114;&#107;&#46;&#108;&#105;&#118;&#101;'; document.write('<a style="color: #004643;" href="' + o + ο + '">' + ó + ο + '</a>');</script>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
