@page "{searchTerm}"
@{ Layout = "Browse/_LayoutBrowse"; }
@model StreamWork.Pages.Home.BrowseModel
@Html.AntiForgeryToken()

<div class="container-fluid mr-0" style="padding-top:25px;">
    <div class="container-fluid inner-container-fluid custom-container-padding">
        <div class="d-flex pl-3 pr-3">
            <form id="search-form" class="p-2 border w-100 rounded d-inline-block custom-form" onkeyup="SearchStreams(event)" onsubmit="SearchAll(event)">
                <div class="d-flex">
                    <input class="mt-1 ml-2" type="image" src="~/images/GenericAssets/Search.svg" width="30" height="40" />
                    <input id="searchQuery" class="form-control-lg mainLoginInput mt-1" type="search" placeholder="Search Streams" style="border: none; font-size:14px;">
                    <select id="filter" name="filter" class="form-control form-control-sm rounded m-2 h-100 float-right" onchange="SearchStreams(event)" style="max-width:175px;">
                        <option value="">Filter Topic</option>
                        <option value="Mathematics">Mathematics</option>
                        <option value="Science">Science</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Business">Business</option>
                        <option value="Law">Law</option>
                        <option value="Art">Art</option>
                        <option value="Humanities">Humanities</option>
                        <option value="Other">Others</option>
                    </select>
                </div>
            </form>
        </div>
        <p id="clear-filter" class="float-right mr-4 pointer mt-2" style="font-size:12px; color:#004643" onclick="ClearFilter()">Clear Filter</p>
        <script>$('#clear-filter').hide();</script>
        <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active form-header" id="streams-tab" data-toggle="tab" href="#streams" onclick="SliderStreams()">Streams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link form-header" id="schedule-tab" data-toggle="tab" href="#schedule" onclick="SliderSchedule()">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link form-header" id="tutors-tab" data-toggle="tab" href="#tutors" onclick="SliderTutors()">Tutors</a>
            </li>
        </ul>

        <div class="slider">
            <div id="slider-object" class="slider-object"></div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="streams" role="tabpanel" aria-labelledby="streams-tab">
                <div class="container-fluid pt-3" style="width:100%">
                    <p class="form-header pl-3" style="font-size:22px">Live Streams</p>
                    <div id="stream-row" class="row p-3">
                        @if (Model.LiveChannels.Count > 0)
                        {
                            @foreach (var stream in Model.LiveChannels)
                            {
                                <div id="stream-@stream.Id" class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-3 stream">
                                    @await Html.PartialAsync("Partials/Stream/StreamAppearance", stream)
                                </div>

                                <div id="stream-none-found" class="col-9 d-none">
                                    <p class="form-sub-header pl-3 pr-3 pt-3 pb-0" style="font-size:22px">No streams with the currrent search term.</p>
                                    <p class="form-sub-header pl-3 pr-3" style="font-size:14px; font-family:'Roboto', serif">Try using a different search term.</p>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-9">
                                <p class="form-sub-header pl-3 pr-3 pt-3 pb-0" style="font-size:22px">No live streams at the moment.</p>
                                <p class="form-sub-header pl-3 pr-3" style="font-size:14px; font-family:'Roboto', serif">Feel free to look at some past streams in the videos tab.</p>
                            </div>
                        }
                        <input id="live-channel-count" type="hidden" value="@Model.LiveChannels.Count" />
                    </div>
                    <hr />
                    <p class="form-header pl-3" style="font-size:22px">Videos</p>
                    <div id="video-row" class="row p-3">
                        @foreach (var video in Model.Videos)
                        {
                            <div id="video-@video.Id" class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-3 video">
                                @await Html.PartialAsync("Partials/Stream/VideoAppearance", video)
                            </div>


                            <div id="video-none-found" class="col-9 d-none" style="height:200px">
                                <p class="form-sub-header pl-3 pr-3 pt-3 pb-0" style="font-size:22px">No videos with the currrent search term.</p>
                                <p class="form-sub-header pl-3 pr-3" style="font-size:14px; font-family:'Roboto', serif">Try using a different search term.</p>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
                <div class="container-fluid pt-3" style="width:100%; max-height:calc(100%-500px);">
                    <p class="form-header pl-3" style="font-size:22px">Scheduled Streams</p>
                    <div id="schedule-row" class="row p-3">
                        @await Html.PartialAsync("Partials/Browse/Schedule", Model)
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tutors" role="tabpanel" aria-labelledby="tutors-tab">
                <div class="container-fluid pt-3" style="width:100%">
                    <p class="form-header pl-3" style="font-size:22px">Tutors</p>
                    <div id="tutor-row" class="row p-3">
                        @await Html.PartialAsync("Partials/Browse/Tutors", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <nav id="sidebar">
        <img class="logo-desktop" onclick="window.location.href ='/'" src="~/images/GenericAssets/StreamWork-Full-White.svg" />
        <ul class="p-0">
            <p class="form-header p-3" style="font-size:18px; color:white">Popular Tutors</p>
            @await Html.PartialAsync("Partials/Browse/PopularTutors", Model)
        </ul>
    </nav>
</div>

<div class="wrapper">
    <nav id="sidebar-tablet">
        <img class="logo-tablet" onclick="window.location.href ='/'" src="~/images/GenericAssets/StreamWork-Icon-White.svg" />
        <ul class="p-0">
            @foreach (var tutor in Model.PopularTutors)
            {
                <li class="card d-flex align-items-center justify-content-center border-0" style="cursor:pointer; background-color:transparent" onclick="window.location.href ='/Profiles/Tutor/@tutor.Username'">
                    <div class="card-body">
                        <input align="left" class="rounded" type="image" src="@tutor.ProfilePicture" style="width:30px; cursor:text" />
                    </div>
                </li>
            }
        </ul>
    </nav>
</div>

@if (Model.SearchTerm != null || Model.SearchTerm != "")
{
<script>
    $('#searchQuery').val('@Model.SearchTerm')
    SearchStreams()
</script>
}

@await Html.PartialAsync("Partials/Notification/PushNotifications")
