@page
@{Layout = "Browse/_LayoutBrowse";}
@model StreamWork.Pages.Home.BrowseModel
@{var cacheRand = new Random().Next();}
@Html.AntiForgeryToken()

<div class="container-fluid mr-0" style="padding-top:25px;">
    <div class="container-fluid inner-container-fluid custom-container-padding">
        <p class="form-header pl-3" style="font-size:38px">Browse</p>
        <p class="form-header pl-3" style="font-size:22px">Subject Topics</p>
        <hr />
        @await Html.PartialAsync("Partials/Browse/Topics")
        <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active form-header" id="streams-tab" data-toggle="tab" href="#streams" onclick="SliderStreams()">Streams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link form-header" id="videos-tab" data-toggle="tab" href="#videos" onclick="SliderVideos()">Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link form-header" id="tutors-tab" data-toggle="tab" href="#tutors" onclick="SliderTutors()">Tutors</a>
            </li>
        </ul>

        <div class="slider">
            <div id="slider-object" class="slider-object"></div>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="streams" role="tabpanel" aria-labelledby="streams-tab">
                <div class="container-fluid pt-3" style="width:100%">
                    <div id="stream-row" class="row">
                        @if (Model.LiveChannels.Count > 0)
                        {

                        }
                        else
                        {
                            <div class="col-9" style="height:200px">
                                <p class="form-sub-header pl-3 pr-3 pt-3 pb-0" style="font-size:22px">No live streams at the moment.</p>
                                <p class="form-sub-header pl-3 pr-3" style="font-size:14px; font-family:'Roboto', serif">Feel free to look at some past streams in the videos tab.</p>
                            </div>
                        }
                        @await Html.PartialAsync("Partials/Browse/LiveChannels", Model)
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="videos" role="tabpanel" aria-labelledby="videos-tab">
                <div class="container-fluid pt-3" style="width:100%; max-height:calc(100%-500px);">
                    <div id="video-row" class="row p-3">
                        @await Html.PartialAsync("Partials/Browse/Videos", Model)
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tutors" role="tabpanel" aria-labelledby="tutors-tab">
                <div class="container-fluid pt-3" style="width:100%">
                    <div id="tutor-row" class="row">
                        @await Html.PartialAsync("Partials/Browse/Tutors", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <nav id="sidebar">
        <img class="logo-desktop" onclick="window.location.href ='/'" src="~/images/WhiteStreamWork.png" />
        <ul class="p-0">
            <p class="form-header p-3" style="font-size:18px; color:white">Popular Tutors</p>
            @await Html.PartialAsync("Partials/Browse/PopularTutors", Model)
        </ul>
    </nav>
</div>

<div class="wrapper">
    <nav id="sidebar-tablet">
        <img class="logo-tablet" onclick="window.location.href ='/'" src="~/images/streamWorkPencilWhite.png" />
        <ul class="p-0">
        </ul>
    </nav>
</div>
