@page
@model StreamWork.Pages.Home.ForgotPasswordModel
@{Layout = "SignUp-SignIn/_LayoutSignUp-SignIn";}

<br />
<div class="sign-in-sign-up-padding" style="background-color: #f3f3f3;  overflow-x: hidden;">
    <br />
    <div class="row my-4" style="display: block; text-align: center;">
        <a href="/"><img class="sign-in-sign-up-logo" src="~/images/GenericAssets/StreamWork-Full.svg" /></a>
    </div>

    <div class="row" id="username-tab">
        <div class="col-lg-4 col-md-3"></div>
        <div class="col-lg-4 col-md-6 py-4 px-5" style="background-color: white; border-style: solid; border-width: 1px; border-color: #b1b1b1;">
            <p class="text-center my-3" style="font-family: 'Roboto Slab'; font-size: 40px; font-weight: bold;">Forgot Password</p>
            <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Enter your username or email address, and we'll send you an email that will help you recover your account.</p>

            <p style="font-family: 'Roboto Slab'; font-size: 14px; color: #707070; margin-bottom: 0;">Username / Email Address</p>
            <input id="username" type="text" class="mb-3" style="width: 100%;" onkeyup="usernameTabUpdateNext();" />
            <button id="username-tab-next" type="button" class="streamWork-disabled mb-3" style="width: 100%;" onclick="usernameTabNext();">Recover Account</button>
        </div>
        <div class="col-lg-4 col-md-3"></div>
    </div>

    <div class="row" id="changePassword-tab" style="display: none;">
        <div class="col-lg-4 col-md-3"></div>
        <div class="col-lg-4 col-md-6 py-4 px-5" style="background-color: white; border-style: solid; border-width: 1px; border-color: #b1b1b1;">
            <p class="text-center my-3" style="font-family: 'Roboto Slab'; font-size: 40px; font-weight: bold;">Change Password</p>
            <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Check your email for your code.</p>

            <p class="d-inline-block float-right roboto pb-0" style="font-size: 14px;">Not getting the email? Maybe you entered your username in wrong. <a href="/Home/ForgotPassword" style="color:#00A0A0;">Restart</a></p>
            <p style="font-family: 'Roboto Slab'; font-size: 14px; color: #707070; margin-bottom: 0;">Verification Code</p>
            <input id="changePasswordCode" type="text" class="mb-3" style="width: 100%;" onkeyup="changePasswordTabUpdateNext();" data-container="body" data-toggle="popover" data-placement="top" data-content="Incorrect verification code" />
            <p style="color: #707070; margin-bottom: 0; font-family: 'Roboto Slab'; font-size: 14px;">New Password</p>
            <div class="mb-3 input-group">
                <input id="password" type="password" class="form-control" style="border-radius: 0px;" onkeyup="changePasswordTabUpdateNext();" data-toggle="popover" data-placement="top" data-content="Passwords must be at least 8 characters long, including at least one letter and number" />
                <div class="input-group-append">
                    <span class="input-group-text" style="background-color: white; cursor: pointer; border-radius: 0px;" onclick="togglePasswordVisibility('password');">
                        <i id="password-eye" class="fa fa-eye-slash"></i>
                    </span>
                </div>
            </div>
            <p style="color: #707070; margin-bottom: 0; font-family: 'Roboto Slab'; font-size: 14px;">Re-Enter Password</p>
            <div class="mb-3 input-group">
                <input id="confirmPassword" type="password" class="form-control" style="border-radius: 0px;" onkeyup="changePasswordTabUpdateNext();" data-toggle="popover" data-placement="top" data-content="Passwords must match" />
                <div class="input-group-append">
                    <span class="input-group-text" style="background-color: white; cursor: pointer; border-radius: 0px;" onclick="togglePasswordVisibility('confirmPassword');">
                        <i id="confirmPassword-eye" class="fa fa-eye-slash"></i>
                    </span>
                </div>
            </div>

            <button id="changePassword-tab-next" type="button" class="streamWork-disabled mb-3" style="width: 100%;" onclick="changePasswordTabNext();">Change Password</button>
        </div>
        <div class="col-lg-4 col-md-3"></div>
    </div>

    <div class="row" id="passwordChanged-tab" style="display: none;">
        <div class="col-lg-4 col-md-3"></div>
        <div class="col-lg-4 col-md-6 py-4 px-5" style="background-color: white; border-style: solid; border-width: 1px; border-color: #b1b1b1;">
            <p class="text-center my-3" style="font-family: 'Roboto Slab'; font-size: 20px; font-weight: bold;">Your Password Has Been Changed</p>

            <a href="/Home/SignIn/SW"><p class="streamWork-primary mb-3 text-center" style="width: 100%;">Sign In</p></a>
        </div>
        <div class="col-lg-4 col-md-3"></div>
    </div>
</div>
