@{Layout = "_LayoutNoNavbar";}
@{ViewData["Title"] = "Recover Password";}

<script src="~/js/SignUpLogin.js"></script>

<br />
<br />
<br />
<br />
<br />
<br />
<form class="form-sign">
    <div class=" text-center">
        <a href="/"><img src="~/images/streamworklogo.png" width="250" height="70" /></a>
        <h1 class="h3 mb-3 font-weight-normal">Recover Password</h1>
        <input type="text" id="username" class="form-control" placeholder="Username" autofocus="">
        <br />
        <input class="streamWorkPrimary" type="button" value="Recover" style="width:300px" onclick="RecoverPassword()">
        <br />
        <div class="pt-2"> Don't have an account?  <a href="/Home/SignUp" style="color: rgb(0,160,160)">Sign Up!</a> </div>
    </div>
</form>
