@page "{route}"
@model StreamWork.Pages.Home.SignInModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{Layout = "SignUp-SignIn/_LayoutSignUp-SignIn";}
@Html.AntiForgeryToken()

<br />
<div class="sign-in-padding pl-lg-5 pr-lg-5 pr-md-5 pl-md-5 pl-sm-5 pr-sm-5 pl-4 pr-4" style="background-color: #f3f3f3;  overflow-x: hidden;">
    <br />

    @* Email *@
    <div class="row" id="email">
        <div class="card d-block mr-auto ml-auto py-4 px-5 border" style="background-color: white; width:550px">
            <div id="invalid-username-password-notification" class="alert notification-warning text-center" style="padding-left:25px" role="alert">
                <b>Invalid Username or Password</b>.
            </div>
            <script>$('#invalid-username-password-notification').hide()</script>
            <p class="text-center my-3" style="font-family: 'Roboto Slab'; font-size: 50px; font-weight: bold;">Sign In</p>
            <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Welcome back! Sign in to continue learning!</p>
            <p class="form-header mb-0">Username / Email Address</p>
            <input id="username" type="text" class="mb-3 form-control rounded-0" style="width: 100%;" onkeydown="CheckIfBothFieldsAreEmpty()" onkeyup="CheckIfBothFieldsAreEmpty()" required />
            <p class="d-inline-block form-header mb-0">Password</p>
            <a href="/Home/ForgotPassword" class="d-inline-block float-right roboto pb-0" style="font-size:14px; color:#00A0A0 ">Forgot Password?</a>
            <div class="mb-3 input-group">
                <input id="password" type="password" class="form-control rounded-0" onkeydown="CheckIfBothFieldsAreEmpty()" onkeyup="CheckIfBothFieldsAreEmpty();" required />
                <div class="input-group-append">
                    <span class="input-group-text" style="background-color: white; cursor: pointer; border-radius: 0px;" onclick="togglePasswordVisibility('password');">
                        <i id="password-eye" class="fa fa-eye-slash"></i>
                    </span>
                </div>
            </div>
            <button id="sign-in-button" type="button" class="streamWork-primary mb-3" style="width: 100%;" onclick="SignIn();">Sign-in</button>
            <br />

            <p class="divider-text">or</p>
            <div class="row">
                <div class="col-md-12">
                    <a id="sign-in-google" class="btn d-block mr-auto ml-auto" style="border-color:black; text-transform:none;" onclick="SignInOauth()" role="button">
                        <img width="20" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        Sign in with Google
                    </a>
                </div>
            </div>

            <br />
            <br />

            <p style="text-align: center; color: #004643;">New to StreamWork? <a href="/Home/SignUp" style="color: #00A0A0">Sign Up</a></p>
        </div>
    </div>
</div>


@* Student/Tutor and College/High School *@
@await Html.PartialAsync("Partials/SignUp/StudentOrTutor")

@* Student Topics *@
@await Html.PartialAsync("Partials/SignUp/Student/StudentTopics")

@* Student Profile Info *@
@await Html.PartialAsync("Partials/SignUp/Student/StudentProfileInfo")

@* Student Profile Info (GoogleOAuth) *@
@await Html.PartialAsync("Partials/SignUp/Student/StudentProfileInfoOAuth")

@* Student Complete *@
@await Html.PartialAsync("Partials/SignUp/Student/StudentComplete")

@* Tutor Topics *@
@await Html.PartialAsync("Partials/SignUp/Tutor/TutorTopics")

@* Tutor Profile Info *@
@await Html.PartialAsync("Partials/SignUp/Tutor/TutorProfileInfo")

@* Student Profile Info (GoogleOAuth) *@
@await Html.PartialAsync("Partials/SignUp/Tutor/TutorProfileInfoOAuth")

@* Tutor Resume & Transcript *@
@await Html.PartialAsync("Partials/SignUp/Tutor/TutorResumeTranscript")

@* Tutor Complete *@
@await Html.PartialAsync("Partials/SignUp/Tutor/TutorComplete")

<br />
<br />

@if (@Model.ModalSignInFailed)
{
    <script>
        StartSignUpProcess();
    </script>
}

<script>CheckIfBothFieldsAreEmpty()
    document.getElementById('username').onkeydown = function (event) {
        if (event.keyCode == 13) {
            SignIn();
        }
    }
    document.getElementById('password').onkeydown = function (event) {
        if (event.keyCode == 13) {
            SignIn();
        }
    }</script>

<style>
</style>
