@page
@model StreamWork.Pages.Home.SignInModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{Layout = "SignUp-SignIn/_LayoutSignUp-SignIn";}
@Html.AntiForgeryToken()

<br />
<div style="background-color: #f3f3f3; padding-top:100px;">
    <br />
    <div class="row my-4" style="display: block; text-align: center;">
        <a href="/"><img src="~/images/streamworkLogo.png" height="100" /></a>
    </div>

    @* Email *@
    <div class="row" id="tab-1">
        <div class="col-lg-4 col-md-3"></div>
        <div class="col-lg-4 col-md-6 py-4 px-5" style="background-color: white; border-style: solid; border-width: 1px; border-color: #b1b1b1;">
            <div id="invalid-username-password-notification" class="alert notification-warning text-center" style="padding-left:25px" role="alert">
                <b>Invalid Username or Password</b>.
            </div>
            <script>$('#invalid-username-password-notification').hide()</script>
            <p class="text-center my-3" style="font-family: 'Roboto Slab'; font-size: 50px; font-weight: bold;">Sign-in</p>
            <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Welcome back! Sign in to continue learning!</p>
            <p class="form-header mb-0">Username</p>
            <input id="username" type="text" class="mb-3" style="width: 100%;" onkeydown="CheckIfBothFieldsAreEmpty()" onkeyup="CheckIfBothFieldsAreEmpty()" required />
            <p class="form-header mb-0">Password</p>
            <input id="password" type="password" class="mb-3" style="width: 100%;" onkeydown="CheckIfBothFieldsAreEmpty()" onkeyup="CheckIfBothFieldsAreEmpty()" required />
            <button id="sign-in-button" type="button" class="streamWork-primary mb-3" style="width: 100%;" onclick="SignIn();">Sign-in</button>
            <br />

            <p class="divider-text">or sign in with</p>

            @*TODO Implement*@
            <button class="streamWork-secondary mb-1" style="width: 100%;">Sign-in with Google</button>
            <br />
            <br />

            <p style="text-align: center; color: #004643;">Not a Member? <a href="/Home/SignUp" style="color: #00A0A0">Sign up</a></p>
        </div>
        <div class="col-lg-4 col-md-3"></div>
    </div>
</div>

<script>
    CheckIfBothFieldsAreEmpty()
    document.getElementById('username').onkeydown = function (event) {
        if (event.keyCode == 13) {
            SignIn();
        }
    }
    document.getElementById('password').onkeydown = function (event) {
        if (event.keyCode == 13) {
            SignIn();
        }
    }
</script>
