@page
@model StreamWork.Pages.Home.SignUpModel
@{Layout = "SignUp-SignIn/_LayoutSignUp-SignIn";}
@Html.AntiForgeryToken()
<br />

<div style="background-color: #f3f3f3; margin-top:100px">
    <br />

    <div class="row my-4" style="display: block; text-align: center;">
        <a href="/"><img src="~/images/streamworkLogo.png" height="100" /></a>
    </div>

    @* Email *@
    @await Html.PartialAsync("Partials/SignUp/Email")

    @*TODO Email verification page*@

    @* Student/Tutor and College/High School *@
    @await Html.PartialAsync("Partials/SignUp/College-HighSchool")

    @* Student Topics *@
    @await Html.PartialAsync("Partials/SignUp/Student/Topics")

    @* Student Profile Info *@
    @await Html.PartialAsync("Partials/SignUp/Student/ProfileInformation")

    @* Student Profile Info (GoogleOAuth) *@
    @await Html.PartialAsync("Partials/SignUp/Student/ProfileInformationOauth")

    @* Student Complete *@
    @await Html.PartialAsync("Partials/SignUp/Student/Complete")

    @* Tutor Profile Info *@
    @await Html.PartialAsync("Partials/SignUp/Tutor/ProfileInformation")

    @* Tutor Resume & Transcript *@
    @await Html.PartialAsync("Partials/SignUp/Tutor/Resume-Transcript")

    @* Tutor Complete *@
    @await Html.PartialAsync("Partials/SignUp/Tutor/Complete")
</div>