@page
@model StreamWork.Pages.Home.SignUpModel
@{Layout = "SignUp-SignIn/_LayoutSignUp-SignIn";}
@Html.AntiForgeryToken()

<br />

<div style="background-color: #f3f3f3; margin-top:100px">
    <br />

    <div class="row my-4" style="display: block; text-align: center;">
        <a href="/"><img src="~/images/streamworkLogo.png" height="100" /></a>
    </div>

    @* Email *@
    <div class="row" id="tab-1">
        <div class="col-lg-4 col-md-3"></div>
        <div class="col-lg-4 col-md-6 py-4 px-5" style="background-color: white; border-style: solid; border-width: 1px; border-color: #b1b1b1;">
            <p class="text-center my-3" style="font-family: 'Roboto Slab'; font-size: 50px; font-weight: bold;">Sign Up</p>
            <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Interact with StreamTutors and get your questions answered!</p>

            <p style="font-family: 'Roboto Slab'; font-size: 14px; color: #707070; margin-bottom: 0;">Email</p>
            <div id="emailAddress-wrapper" data-container="body" data-toggle="popover" data-placement="top" data-content="An account already exists with this email address">
                <input id="emailAddress" type="text" class="mb-3" style="width: 100%;" onkeyup="tab1UpdateNext();" data-container="body" data-toggle="popover" data-placement="top" data-content="Please enter a valid email address" />
            </div>
            <button id="tab-1-next" type="button" class="streamWork-primary mb-3" style="width: 100%;" onclick="tab1Next();">Continue with Email</button>
            <br />

            <p class="divider-text">or sign up with</p>

            @*TODO Implement*@
            <button class="streamWork-secondary mb-1" style="width: 100%;">Continue with Google</button>
            <br />
            <br />

            <p style="text-align: center; color: #004643;">Already a Member? <a href="/Home/Login" style="color: #00A0A0">Sign in</a></p>
        </div>
        <div class="col-lg-4 col-md-3"></div>
    </div>

    @*TODO Email verification page*@

    @* Student/Tutor and College/High School *@
    <div class="row" id="tab-2" style="display: none;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="background-color: white; border-style: solid; border-width: 1px; border-color: #b1b1b1;">
            <div class="row" style="min-height: 400px;">
                <div class="col-md-6"></div>
                <div class="col-md-6 pt-5 px-5" style="border-style: none none none solid; border-width: 1px; border-color: #b1b1b1;">
                    <h1 class="text-center mb-2" style="font-family: 'Roboto Slab';">Awesome!</h1>
                    <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Help us learn more about you:</p>

                    <p style="color: #707070; font-size: 12px; margin-bottom: 0;">I want to join as a</p>
                    <label class="radio-inline mb-4" style="color: #707070; font-size: 13px; font-family: 'Roboto Slab';">
                        <input class="mr-2" value="false" type="radio" name="profile-type" onclick="setIsTutor(false);" />Student
                    </label>
                    <label class="radio-inline mb-4" style="color: #707070; font-size: 13px; font-family: 'Roboto Slab';">
                        <input class="ml-3 mr-2" value="true" type="radio" name="profile-type" onclick="setIsTutor(true);" />StreamTutor
                    </label>
                    <br />

                    <button id="tab-2-inHighSchool" class="streamWork-secondary mb-1" type="button" style="width: 100%" onclick="setInCollege(false);">In High School</button>
                    <br />
                    <button id="tab-2-inCollege" class="streamWork-secondary mb-3" type="button" style="width: 100%" onclick="setInCollege(true);">In College</button>

                    <div id="tab-2-bottom" style="display: none;">
                        <p id="tab-2-schoolType" style="font-family: 'Roboto Slab'; color: #707070; margin-bottom: 0; font-size: 12px;">High School Name</p>
                        <input id="schoolName" class="mb-3" style="width: 100%;" onkeyup="tab2UpdateNext();" />

                        <button id="tab-2-next" class="streamWork-disabled" type="button" style="width: 100%;" onclick="tab2Next();">Sign Up As a Student</button>
                    </div>

                    <br />
                    <br />
                    <br />

                    <div class="mt-6 pt-6 pr-3" style="color: #004643; position: absolute; bottom: 0; right: 0;">
                        <h5 style="color: #004643; display: inline-block;">&#x25CF;</h5><h5 style="color: #b1b1b1; display: inline-block;">&#x25CB;&#x25CB;</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    @* Student Topics *@
    <div class="row" id="tab-3" style="display: none;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="background-color: white; border-style: solid; border-width: 1px; border-color: #b1b1b1;">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 pt-5 pb-4 px-5" style="border-style: none none none solid; border-width: 1px; border-color: #b1b1b1;">
                    <h2 class="text-center mb-2" style="font-family: 'Roboto Slab';">What Topics do you Like?</h2>
                    <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Select the topics that you are interested in<br />so we can recommend StreamTutors you like!</p>

                    <p id="tab-3-selected" style="color: #707070; font-size: 13px; text-align: right; margin-bottom: 0;">Selected: 0</p>
                    <div class="mb-2">
                        <div id="tab-3-tab-1">
                            <table class="mb-2" style="width: 100%;">
                                <tr style="padding-bottom: 4px;">
                                    <td>
                                        <img src="~/images/ChatAssets/Humanities.png" style="height: 40px; width: 40px; margin-right: 8px;" />
                                    </td>
                                    <td id="tab-3-humanities" class="text-center ml-3 mb-3 streamWork-secondary-rect" onclick="toggleSubject('humanities');">Humanities</td>
                                </tr>
                                <tr>
                                    <td><div class="mb-1"></div></td>
                                    <td><div class="mb-1"></div></td>
                                </tr>
                                <tr style="padding-bottom: 4px;">
                                    <td>
                                        <img src="~/images/ChatAssets/Math.png" style="height: 40px; width: 40px; margin-right: 8px;" />
                                    </td>
                                    <td id="tab-3-math" class="text-center ml-3 mb-3 streamWork-secondary-rect" onclick="toggleSubject('math');">Math</td>
                                </tr>
                                <tr>
                                    <td><div class="mb-1"></div></td>
                                    <td><div class="mb-1"></div></td>
                                </tr>
                                <tr style="padding-bottom: 4px;">
                                    <td>
                                        <img src="~/images/ChatAssets/Science.png" style="height: 40px; width: 40px; margin-right: 8px;" />
                                    </td>
                                    <td id="tab-3-science" class="text-center ml-3 mb-3 streamWork-secondary-rect" onclick="toggleSubject('science');">Science</td>
                                </tr>
                                <tr>
                                    <td><div class="mb-1"></div></td>
                                    <td><div class="mb-1"></div></td>
                                </tr>
                                <tr style="padding-bottom: 4px;">
                                    <td>
                                        <img src="~/images/ChatAssets/Art.png" style="height: 40px; width: 40px; margin-right: 8px;" />
                                    </td>
                                    <td id="tab-3-art" class="text-center ml-3 mb-3 streamWork-secondary-rect" onclick="toggleSubject('art');">Art</td>
                                </tr>
                            </table>

                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-4 text-center">
                                    <p style="font-size: 12px; color: #707070;">Page 1 of 2</p>
                                </div>
                                <div class="col-4" style="text-align: right;">
                                    <button class="streamWork-primary text-center" style="width: 60px; height: 20px; padding: 0px 0px;" onclick="goToTab3Tab2();">Next ></button>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3-tab-2" style="display: none;">
                            <table class="mb-2" style="width: 100%;">
                                <tr style="padding-bottom: 4px;">
                                    <td>
                                        <img src="~/images/ChatAssets/Engineering.png" style="height: 40px; width: 40px; margin-right: 8px;" />
                                    </td>
                                    <td id="tab-3-engineering" class="text-center ml-3 mb-3 streamWork-secondary-rect" onclick="toggleSubject('engineering');">Engineering</td>
                                </tr>
                                <tr>
                                    <td><div class="mb-1"></div></td>
                                    <td><div class="mb-1"></div></td>
                                </tr>
                                <tr style="padding-bottom: 4px;">
                                    <td>
                                        <img src="~/images/ChatAssets/Business.png" style="height: 40px; width: 40px; margin-right: 8px;" />
                                    </td>
                                    <td id="tab-3-business" class="text-center ml-3 mb-3 streamWork-secondary-rect" onclick="toggleSubject('business');">Business</td>
                                </tr>
                                <tr>
                                    <td><div class="mb-1"></div></td>
                                    <td><div class="mb-1"></div></td>
                                </tr>
                                <tr style="padding-bottom: 4px;">
                                    <td>
                                        <img src="~/images/ChatAssets/Law.png" style="height: 40px; width: 40px; margin-right: 8px;" />
                                    </td>
                                    <td id="tab-3-law" class="text-center ml-3 mb-3 streamWork-secondary-rect" onclick="toggleSubject('law');">Law</td>
                                </tr>
                                <tr>
                                    <td><div class="mb-1"></div></td>
                                    <td><div class="mb-1"></div></td>
                                </tr>
                                <tr style="padding-bottom: 4px;">
                                    <td>
                                        <img src="~/images/ChatAssets/Other.png" style="height: 40px; width: 40px; margin-right: 8px;" />
                                    </td>
                                    <td id="tab-3-other" class="text-center ml-3 mb-3 streamWork-secondary-rect" onclick="toggleSubject('other');">Misc / Other</td>
                                </tr>
                            </table>

                            <div class="row">
                                <div class="col-4" style="text-align: left;">
                                    <button class="streamWork-primary text-center" style="width: 60px; height: 20px; padding: 0px 0px;" onclick="goToTab3Tab1();">< Back</button>
                                </div>
                                <div class="col-4 text-center">
                                    <p style="font-size: 12px; color: #707070;">Page 2 of 2</p>
                                </div>
                                <div class="col-4"></div>
                            </div>
                        </div>
                    </div>

                    <button id="tab-3-next" class="streamWork-disabled" type="button" style="width: 100%;" onclick="tab3Next();">Next</button>

                    <br />
                    <br />
                    <br />

                    <div class="mt-6 pt-6 pr-3" style="color: #004643; position: absolute; bottom: 0; left: 0;">
                        <button id="tab-3-next" class="streamWork-primary ml-3 mb-2" style="width: 60px; height: 20px; padding: 0px 0px;" onclick="goToTab(2);">Go Back</button>
                    </div>
                    <div class="mt-6 pt-6 pr-3" style="color: #004643; position: absolute; bottom: 0; right: 0;">
                        <h5 style="color: #b1b1b1; display: inline-block;">&#x25CB;</h5><h5 style="color: #004643; display: inline-block;">&#x25CF;</h5><h5 style="color: #b1b1b1; display: inline-block;">&#x25CB;</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    @* Student Profile Info *@
    <div class="row" id="tab-4" style="display: none;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="background-color: white; border-style: solid; border-width: 1px; border-color: #b1b1b1;">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 pt-5 pb-4 px-5" style="border-style: none none none solid; border-width: 1px; border-color: #b1b1b1;">
                    <h3 class="text-center mb-2" style="font-family: 'Roboto Slab';">Finish Up Profile</h3>
                    <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Let's create a profile so you can connect with others!</p>

                    <div class="row">
                        <div class="col-sm-6">
                            <p style="color: #707070; margin-bottom: 0; font-family: 'Roboto Slab'; font-size: 12px;">First Name</p>
                            <input id="student-firstName" class="mb-3" style="width: 100%;" onkeyup="tab4UpdateNext();" />
                        </div>
                        <div class="col-sm-6">
                            <p style="color: #707070; margin-bottom: 0; font-family: 'Roboto Slab'; font-size: 12px;">Last Name</p>
                            <input id="student-lastName" class="mb-3" style="width: 100%;" onkeyup="tab4UpdateNext();" />
                        </div>
                    </div>
                    <p style="color: #707070; margin-bottom: 0; font-family: 'Roboto Slab'; font-size: 12px;">Username</p>
                    <div id="student-username-wrapper" data-container="body" data-toggle="popover" data-placement="top" data-content="This username is taken">
                        <input id="student-username" class="mb-3" style="width: 100%;" onkeyup="tab4UpdateNext();" data-toggle="popover" data-placement="top" data-content="Usernames may only include letters, numbers, underscores, and hyphens" />
                    </div>
                    <p style="color: #707070; margin-bottom: 0; font-family: 'Roboto Slab'; font-size: 12px;">Password</p>
                    <input id="student-password" type="password" class="mb-3" style="width: 100%;" onkeyup="tab4UpdateNext();" data-toggle="popover" data-placement="top" data-content="Passwords must be at least 8 characters long, including at least one letter and number" />
                    <p style="color: #707070; margin-bottom: 0; font-family: 'Roboto Slab'; font-size: 12px;">Re-Enter Password</p>
                    <input id="student-confirmPassword" type="password" class="mb-3" style="width: 100%;" onkeyup="tab4UpdateNext();" data-toggle="popover" data-placement="top" data-content="Passwords must match" />

                    @*TODO Invoke signup*@
                    <button id="tab-4-next" class="streamWork-disabled" type="button" style="width: 100%;" onclick="tab4Next();">Create Profile</button>

                    <br />
                    <br />
                    <br />

                    <div class="mt-6 pt-6 pr-3" style="color: #004643; position: absolute; bottom: 0; left: 0;">
                        <button class="streamWork-primary ml-3 mb-2" style="width: 60px; height: 20px; padding: 0px 0px;" onclick="goToTab(3);">Go Back</button>
                    </div>
                    <div class="mt-6 pt-6 pr-3" style="color: #004643; position: absolute; bottom: 0; right: 0;">
                        <h5 style="color: #b1b1b1; display: inline-block;">&#x25CB;&#x25CB;</h5><h5 style="color: #004643; display: inline-block;">&#x25CF;</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    @* Student Complete *@
    <div class="row" id="tab-5" style="display: none;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 pt-5 pb-4 px-5" style="background-color: white; border-style: solid; border-width: 1px; border-color: #b1b1b1;">
            <br />
            <br />
            <br />
            <hr />
            <br />
            <br />

            <h1 class="text-center mb-2" style="font-family: 'Roboto Slab';">Welcome To StreamWork!</h1>
            <p class="text-center mb-4" style="color: #707070; font-size: 13px;">You are now connected to one of the largest networks of Education!</p>
            <div class="text-center">
                <a href="/"><button type="button" class="streamWork-primary mb-3" style="width: 40%;">Start Learning Now</button></a>
            </div>

            <br />
            <br />
        </div>
        <div class="col-lg-2"></div>
    </div>

    @* Tutor Profile Info *@
    <div class="row" id="tab-6" style="display: none;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="background-color: white; border-style: solid; border-width: 1px; border-color: #b1b1b1;">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 pt-5 pb-4 px-5" style="border-style: none none none solid; border-width: 1px; border-color: #b1b1b1;">
                    <h3 class="text-center mb-2" style="font-family: 'Roboto Slab';">Finish Up Profile</h3>
                    <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Let's create a profile so you can connect with others!</p>

                    <div class="row">
                        <div class="col-sm-6">
                            <p style="color: #707070; margin-bottom: 0; font-family: 'Roboto Slab'; font-size: 12px;">First Name</p>
                            <input id="tutor-firstName" class="mb-3" style="width: 100%;" onkeyup="tab6UpdateNext();" />
                        </div>
                        <div class="col-sm-6">
                            <p style="color: #707070; margin-bottom: 0; font-family: 'Roboto Slab'; font-size: 12px;">Last Name</p>
                            <input id="tutor-lastName" class="mb-3" style="width: 100%;" onkeyup="tab6UpdateNext();" />
                        </div>
                    </div>
                    <p style="color: #707070; margin-bottom: 0; font-family: 'Roboto Slab'; font-size: 12px;">Username</p>
                    <div id="tutor-username-wrapper" data-container="body" data-toggle="popover" data-placement="top" data-content="This username is taken">
                        <input id="tutor-username" class="mb-3" style="width: 100%;" onkeyup="tab6UpdateNext();" data-toggle="popover" data-placement="top" data-content="Usernames may only include letters, numbers, underscores, and hyphens" />
                    </div>
                    <p style="color: #707070; margin-bottom: 0; font-family: 'Roboto Slab'; font-size: 12px;">Password</p>
                    <input id="tutor-password" type="password" class="mb-3" style="width: 100%;" onkeyup="tab6UpdateNext();" data-toggle="popover" data-placement="top" data-content="Passwords must be at least 8 characters long, including at least one letter and number" />
                    <p style="color: #707070; margin-bottom: 0; font-family: 'Roboto Slab'; font-size: 12px;">Re-Enter Password</p>
                    <input id="tutor-confirmPassword" type="password" class="mb-3" style="width: 100%;" onkeyup="tab6UpdateNext();" data-toggle="popover" data-placement="top" data-content="Passwords must match" />

                    <button id="tab-6-next" class="streamWork-disabled" type="button" style="width: 100%;" onclick="tab6Next();">Create Profile</button>

                    <br />
                    <br />
                    <br />

                    <div class="mt-6 pt-6 pr-3" style="color: #004643; position: absolute; bottom: 0; left: 0;">
                        <button class="streamWork-primary ml-3 mb-2" style="width: 60px; height: 20px; padding: 0px 0px;" onclick="goToTab(2);">Go Back</button>
                    </div>
                    <div class="mt-6 pt-6 pr-3" style="color: #004643; position: absolute; bottom: 0; right: 0;">
                        <h5 style="color: #b1b1b1; display: inline-block;">&#x25CB;</h5><h5 style="color: #004643; display: inline-block;">&#x25CF;</h5><h5 style="color: #b1b1b1; display: inline-block;">&#x25CB;</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    @* Tutor Resume & Transcript *@
    <div class="row" id="tab-7" style="display: none;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" style="background-color: white; border-style: solid; border-width: 1px; border-color: #b1b1b1;">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 pt-5 pb-4 px-5" style="border-style: none none none solid; border-width: 1px; border-color: #b1b1b1;">
                    <h1 class="text-center mb-2" style="font-family: 'Roboto Slab';">Awesome!</h1>
                    <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Just a few more things we need from you!</p>

                    <label id="transcript-label" for="transcript" class="streamWork-block">
                        Upload Transcript
                    </label>
                    <input id="transcript" type="file" accept="image/*,.pdf" style="display: none;" />
                    <p style="color: #707070; font-size: 13px;">Accepts: image/pdf, Max size: 2MB</p>
                    <label id="resume-label" for="resume" class="streamWork-block">
                        Upload Résumé
                    </label>
                    <input id="resume" type="file" accept="image/*,.pdf" style="display: none;" />
                    <p style="color: #707070; font-size: 13px;">Accepts: image/pdf, Max size: 2MB</p>

                    <br />
                    <br />

                    @*TODO Invoke signup*@
                    <button id="tab-7-next" class="streamWork-disabled" type="button" style="width: 100%;" onclick="tab7Next();">Apply To Become StreamTutor</button>

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                    <div class="mt-6 pt-6 pr-3" style="color: #004643; position: absolute; bottom: 0; left: 0;">
                        <button class="streamWork-primary ml-3 mb-2" style="width: 60px; height: 20px; padding: 0px 0px;" onclick="goToTab(6);">Go Back</button>
                    </div>
                    <div class="mt-6 pt-6 pr-3" style="color: #004643; position: absolute; bottom: 0; right: 0;">
                        <h5 style="color: #b1b1b1; display: inline-block;">&#x25CB;&#x25CB;</h5><h5 style="color: #004643; display: inline-block;">&#x25CF;</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    @* Tutor Complete *@
    <div class="row" id="tab-8" style="display: none;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 pt-5 pb-4 px-5" style="background-color: white; border-style: solid; border-width: 1px; border-color: #b1b1b1;">
            <br />
            <br />
            <br />
            <hr />

            <h1 class="text-center mb-2" style="font-family: 'Roboto Slab';">Your Application Has Been Received!</h1>
            <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Please keep an eye out on your inbox, we will reach out in 1-2 days! While you wait...<br />feel free to fill out your StreamTutor profile!</p>

            <div class="text-center">
                <a href="/Tutor/TutorDashboard"><button type="button" class="streamWork-primary mb-3" style="width: 40%;">Continue</button></a>
            </div>

            <br />
            <br />
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<script>
    var subjects = 0;
    var transcriptUploaded = false;
    var resumeUploaded = false;

    function goToTab(tab) {
        for (let i = 1; i <= 9; i++) {
            $('#tab-' + i).hide();
        }
        $('#tab-' + tab).show();
    }

    function tab1UpdateNext() {
        $('#emailAddress').removeClass('input-invalid');
        $('#emailAddress').popover('hide');
        $('#emailAddress').popover('disable');
        $('#emailAddress-wrapper').popover('hide');
        $('#emailAddress-wrapper').popover('disable');
        if ($('#emailAddress').val().length == 0) {
            $('#tab-1-next').removeClass('streamWork-primary');
            $('#tab-1-next').addClass('streamWork-disabled');
        } else {
            $('#tab-1-next').removeClass('streamWork-disabled');
            $('#tab-1-next').addClass('streamWork-primary');
        }
    }

    function tab1Next() {
        if ($('#emailAddress').val().length > 0) {
            if (/^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test($('#emailAddress').val())) {
                $.ajax({
                    url: '/Home/SignUp/?handler=IsAddressAvailable',
                    type: 'GET',
                    datatype: 'json',
                    data: {
                        emailAddress: $('#emailAddress').val()
                    }
                }).done(function (data) {
                    if (data) {
                        $('#emailAddress').removeClass('input-invalid');
                        $('#emailAddress').popover('hide');
                        $('#emailAddress').popover('disable');
                        $('#emailAddress-wrapper').popover('hide');
                        $('#emailAddress-wrapper').popover('disable');
                        goToTab(2);
                    } else {
                        $('#emailAddress').addClass('input-invalid');
                        $('#emailAddress-wrapper').popover('enable');
                        $('#emailAddress-wrapper').popover('show');
                    }
                });
            } else {
                $('#emailAddress').addClass('input-invalid');
                $('#emailAddress').popover('enable');
                $('#emailAddress').popover('show');
            }
        }
    }

    function setInCollege(inCollege) {
        let primary;
        let secondary;
        if (inCollege) {
            primary = $('#tab-2-inCollege');
            secondary = $('#tab-2-inHighSchool');
            $('#tab-2-schoolType').text('College / University Name');
        } else {
            primary = $('#tab-2-inHighSchool');
            secondary = $('#tab-2-inCollege');
            $('#tab-2-schoolType').text('High School Name');
        }

        primary.addClass('streamWork-primary').removeClass('streamWork-secondary');
        secondary.addClass('streamWork-secondary').removeClass('streamWork-primary');

        let isTutor = $("input[name='profile-type']:checked").val()
        if (isTutor === 'true' || isTutor === 'false') {
            $('#tab-2-bottom').show();
        }
    }

    function setIsTutor(isTutor) {
        if (isTutor) {
            $('#tab-2-next').text('Sign Up As a Tutor');
        } else {
            $('#tab-2-next').text('Sign Up As a Student');
        }

        if ($('#tab-2-inCollege').hasClass('streamWork-primary') || $('#tab-2-inHighSchool').hasClass('streamWork-primary')) {
            $('#tab-2-bottom').show();
        }
    }

    function tab2UpdateNext() {
        if ($('#schoolName').val().length == 0) {
            $('#tab-2-next').removeClass('streamWork-primary');
            $('#tab-2-next').addClass('streamWork-disabled');
        } else {
            $('#tab-2-next').removeClass('streamWork-disabled');
            $('#tab-2-next').addClass('streamWork-primary');
        }
    }

    function tab2Next() {
        if ($('#schoolName').val().length > 0) {
            if ($("input[name='profile-type']:checked").val() === 'true') {
                goToTab(6);
            } else {
                goToTab(3);
            }
        }
    }

    function toggleSubject(subject) {
        let button = $('#tab-3-' + subject);
        if (button.hasClass('streamWork-primary-rect')) {
            button.removeClass('streamWork-primary-rect');
            button.addClass('streamWork-secondary-rect');
            subjects -= 1;
        } else {
            button.removeClass('streamWork-secondary-rect');
            button.addClass('streamWork-primary-rect');
            subjects += 1;
        }

        $('#tab-3-selected').text('Selected: ' + subjects);

        if (subjects >= 1) {
            $('#tab-3-next').removeClass('streamWork-disabled');
            $('#tab-3-next').addClass('streamWork-primary');
        } else {
            $('#tab-3-next').removeClass('streamWork-primary');
            $('#tab-3-next').addClass('streamWork-disabled');
        }
    }

    function goToTab3Tab1() {
        $('#tab-3-tab-2').hide();
        $('#tab-3-tab-1').show();
    }

    function goToTab3Tab2() {
        $('#tab-3-tab-1').hide();
        $('#tab-3-tab-2').show();
    }

    function tab3Next() {
        if (subjects >= 1) {
            goToTab(4);
        }
    }

    function tab4UpdateNext() {
        $('#student-username').removeClass('input-invalid');
        $('#student-username').popover('hide');
        $('#student-username').popover('disable');
        $('#student-username-wrapper').popover('hide');
        $('#student-username-wrapper').popover('disable');
        $('#student-password').removeClass('input-invalid');
        $('#student-password').popover('hide');
        $('#student-password').popover('disable');
        $('#student-confirmPassword').removeClass('input-invalid');
        $('#student-confirmPassword').popover('hide');
        $('#student-confirmPassword').popover('disable');
        if ($('#student-firstName').val().length == 0 ||
            $('#student-lastName').val().length == 0 ||
            $('#student-username').val().length == 0 ||
            $('#student-password').val().length == 0 ||
            $('#student-confirmPassword').val().length == 0) {
            $('#tab-4-next').removeClass('streamWork-primary');
            $('#tab-4-next').addClass('streamWork-disabled');
        } else {
            $('#tab-4-next').removeClass('streamWork-disabled');
            $('#tab-4-next').addClass('streamWork-primary');
        }
    }

    function tab4Next() {
        if ($('#student-firstName').val().length > 0 &&
            $('#student-lastName').val().length > 0 &&
            $('#student-username').val().length > 0 &&
            $('#student-password').val().length > 0 &&
            $('#student-confirmPassword').val().length > 0) {
            if (/^[A-Za-z0-9_-]+$/.test($('#student-username').val())) {
                $.ajax({
                    url: '/Home/SignUp/?handler=IsUsernameAvailable',
                    type: 'GET',
                    data: {
                        username: $('#student-username').val()
                    }
                }).done(function (data) {
                    if (data) {
                        if (/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/.test($('#student-password').val())) {
                            if ($('#student-password').val() === $('#student-confirmPassword').val()) {
                                $('#student-username').removeClass('input-invalid');
                                $('#student-username').popover('hide');
                                $('#student-username').popover('disable');
                                $('#student-username-wrapper').popover('hide');
                                $('#student-username-wrapper').popover('disable');
                                $('#student-password').removeClass('input-invalid');
                                $('#student-password').popover('hide');
                                $('#student-password').popover('disable');
                                $('#student-confirmPassword').removeClass('input-invalid');
                                $('#student-confirmPassword').popover('hide');
                                $('#student-confirmPassword').popover('disable');
                                signUpStudent();
                            } else {
                                $('#student-confirmPassword').addClass('input-invalid');
                                $('#student-confirmPassword').popover('enable');
                                $('#student-confirmPassword').popover('show');
                            }
                        } else {
                            $('#student-password').addClass('input-invalid');
                            $('#student-password').popover('enable');
                            $('#student-password').popover('show');
                        }
                    } else {
                        $('#student-username').addClass('input-invalid');
                        $('#student-username-wrapper').popover('enable');
                        $('#student-username-wrapper').popover('show');
                    }
                });
            } else {
                $('#student-username').addClass('input-invalid');
                $('#student-username').popover('enable');
                $('#student-username').popover('show');
            }
        }
    }

    function tab6UpdateNext() {
        $('#tutor-username').removeClass('input-invalid');
        $('#tutor-username').popover('hide');
        $('#tutor-username').popover('disable');
        $('#tutor-username-wrapper').popover('hide');
        $('#tutor-username-wrapper').popover('disable');
        $('#tutor-password').removeClass('input-invalid');
        $('#tutor-password').popover('hide');
        $('#tutor-password').popover('disable');
        $('#tutor-confirmPassword').removeClass('input-invalid');
        $('#tutor-confirmPassword').popover('hide');
        $('#tutor-confirmPassword').popover('disable');
        if ($('#tutor-firstName').val().length == 0 ||
            $('#tutor-lastName').val().length == 0 ||
            $('#tutor-username').val().length == 0 ||
            $('#tutor-password').val().length == 0 ||
            $('#tutor-confirmPassword').val().length == 0) {
            $('#tab-6-next').removeClass('streamWork-primary');
            $('#tab-6-next').addClass('streamWork-disabled');
        } else {
            $('#tab-6-next').removeClass('streamWork-disabled');
            $('#tab-6-next').addClass('streamWork-primary');
        }
    }

    function tab6Next() {
        if ($('#tutor-firstName').val().length > 0 &&
            $('#tutor-lastName').val().length > 0 &&
            $('#tutor-username').val().length > 0 &&
            $('#tutor-password').val().length > 0 &&
            $('#tutor-confirmPassword').val().length > 0) {
            if (/^[A-Za-z0-9_-]+$/.test($('#tutor-username').val())) {
                $.ajax({
                    url: '/Home/SignUp/?handler=IsUsernameAvailable',
                    type: 'GET',
                    data: {
                        username: $('#tutor-username').val()
                    }
                }).done(function (data) {
                    if (data) {
                        if (/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/.test($('#tutor-password').val())) {
                            if ($('#tutor-password').val() === $('#tutor-confirmPassword').val()) {
                                $('#tutor-username').removeClass('input-invalid');
                                $('#tutor-username').popover('hide');
                                $('#tutor-username').popover('disable');
                                $('#tutor-username-wrapper').popover('hide');
                                $('#tutor-username-wrapper').popover('disable');
                                $('#tutor-password').removeClass('input-invalid');
                                $('#tutor-password').popover('hide');
                                $('#tutor-password').popover('disable');
                                $('#tutor-confirmPassword').removeClass('input-invalid');
                                $('#tutor-confirmPassword').popover('hide');
                                $('#tutor-confirmPassword').popover('disable');
                                goToTab(7);
                            } else {
                                $('#tutor-confirmPassword').addClass('input-invalid');
                                $('#tutor-confirmPassword').popover('enable');
                                $('#tutor-confirmPassword').popover('show');
                            }
                        } else {
                            $('#tutor-password').addClass('input-invalid');
                            $('#tutor-password').popover('enable');
                            $('#tutor-password').popover('show');
                        }
                    } else {
                        $('#tutor-username').addClass('input-invalid');
                        $('#tutor-username-wrapper').popover('enable');
                        $('#tutor-username-wrapper').popover('show');
                    }
                });
            } else {
                $('#tutor-username').addClass('input-invalid');
                $('#tutor-username').popover('enable');
                $('#tutor-username').popover('show');
            }
        }
    }

    function tab7UpdateNext() {
        $('#transcript-label').popover('hide');
        $('#transcript-label').popover('disable');
        $('#resume-label').popover('hide');
        $('#resume-label').popover('disable');
        if (!transcriptUploaded || !resumeUploaded) {
            $('#tab-7-next').removeClass('streamWork-primary');
            $('#tab-7-next').addClass('streamWork-disabled');
        } else {
            $('#tab-7-next').removeClass('streamWork-disabled');
            $('#tab-7-next').addClass('streamWork-primary');
        }
    }

    function tab7Next() {
        if (transcriptUploaded && resumeUploaded) {
            signUpTutor()
            $('#transcript-label').popover('hide');
            $('#transcript-label').popover('disable');
            $('#resume-label').popover('hide');
            $('#resume-label').popover('disable');
            goToTab(8);
        }
    }

    function signUpStudent() {
        var formData = new FormData();
        formData.append('EmailAddress', $('#emailAddress').val());
        formData.append('InCollege', $('#tab-2-inCollege').hasClass('streamWork-primary'));
        formData.append('SchoolName', $('#schoolName').val());
        formData.append('FirstName', $('#student-firstName').val());
        formData.append('LastName', $('#student-lastName').val());
        formData.append('Username', $('#student-username').val());
        formData.append('Password', $('#student-password').val());
        formData.append('Topics', $('#tab-3-humanities').hasClass('streamWork-primary-rect') + "|" + $('#tab-3-math').hasClass('streamWork-primary-rect') + "|" + $('#tab-3-science').hasClass('streamWork-primary-rect') + "|" + $('#tab-3-art').hasClass('streamWork-primary-rect') + "|" + $('#tab-3-engineering').hasClass('streamWork-primary-rect') + "|" + $('#tab-3-business').hasClass('streamWork-primary-rect') + "|" + $('#tab-3-law').hasClass('streamWork-primary-rect') + "|" + $('#tab-3-other').hasClass('streamWork-primary-rect'))

        try {
            $.ajax({
                url: '/Home/SignUp/?handler=SignUpStudent',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
            }).done(function (data) {
                goToTab(5);
            });
        } catch (e) {
            alert(e.message);
        }
    }


    function signUpTutor() {
        var formData = new FormData();
        formData.append('EmailAddress', $('#emailAddress').val());
        formData.append('InCollege', $('#tab-2-inCollege').hasClass('streamWork-primary'));
        formData.append('SchoolName', $('#schoolName').val());
        formData.append('FirstName', $('#tutor-firstName').val());
        formData.append('LastName', $('#tutor-lastName').val());
        formData.append('Username', $('#tutor-username').val());
        formData.append('Password', $('#tutor-password').val());
        formData.append('Transcript', $('#transcript')[0].files[0]);
        formData.append('Resume', $('#resume')[0].files[0]);

        $.ajax({
            url: '/Home/SignUp/?handler=SignUpTutor',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
        }).done(function (data) {
            //goToTab(5);
        });
    }

    $(function () {
        tab1UpdateNext();
        tab2UpdateNext();
        tab4UpdateNext();
        tab6UpdateNext();
        tab7UpdateNext();

        $('#transcript').change(function (e) {
            $('#transcript-label').text('Transcript: "' + e.target.files[0].name + '"');
            transcriptUploaded = e.target.files.length > 0;
            tab7UpdateNext();
        });
        $('#resume').change(function (e) {
            $('#resume-label').text('Résumé: "' + e.target.files[0].name + '"');
            resumeUploaded = e.target.files.length > 0;
            tab7UpdateNext();
        });
    });</script>

