@page
@model StreamWork.Pages.Home.SignUpModel
@{Layout = "SignUp-SignIn/_LayoutSignUp-SignIn";}
@Html.AntiForgeryToken()
<br />

<div class="sign-in-sign-up-padding" style="background-color: #f3f3f3; overflow-x: hidden;">
    <br />

    <div class="row my-4" style="display: block; text-align: center;">
        <a href="/"><img class="sign-in-sign-up-logo" src="~/images/GenericAssets/StreamWork-Full.svg" width="450" /></a>
    </div>

    @* 2020 Aug 1: Partial names have been changed to match an update in the JavaScript *@

    @* Current control flow: *@
    @* Email -> EmailVerification -> StudentOrTutor -> StudentTopics -> StudentProfileInfo -> StudentComplete *@
    @*     \-------------------------^            \                \-> StudentProfileInfoOAuth -^ *@
    @*                                             \-> TutorTopics -> TutorProfileInfo -> TutorResumeTranscript -> TutorComplete *@
    @*                                                           \-> TutorProfileInfoOAuth -^ *@

    @* Email *@
    @await Html.PartialAsync("Partials/SignUp/Email")

    @* Email Verification *@
    @await Html.PartialAsync("Partials/SignUp/EmailVerification")

    @* Student/Tutor and College/High School *@
    @await Html.PartialAsync("Partials/SignUp/StudentOrTutor")

    @* Student Topics *@
    @await Html.PartialAsync("Partials/SignUp/Student/StudentTopics")

    @* Student Profile Info *@
    @await Html.PartialAsync("Partials/SignUp/Student/StudentProfileInfo")

    @* Student Profile Info (GoogleOAuth) *@
    @await Html.PartialAsync("Partials/SignUp/Student/StudentProfileInfoOAuth")

    @* Student Complete *@
    @await Html.PartialAsync("Partials/SignUp/Student/StudentComplete")

    @* Tutor Topics *@
    @await Html.PartialAsync("Partials/SignUp/Tutor/TutorTopics") 

    @* Tutor Profile Info *@
    @await Html.PartialAsync("Partials/SignUp/Tutor/TutorProfileInfo")

    @* Student Profile Info (GoogleOAuth) *@
    @await Html.PartialAsync("Partials/SignUp/Tutor/TutorProfileInfoOAuth")

    @* Tutor Resume & Transcript *@
    @await Html.PartialAsync("Partials/SignUp/Tutor/TutorResumeTranscript")

    @* Tutor Complete *@
    @await Html.PartialAsync("Partials/SignUp/Tutor/TutorComplete")

    <br />
    <br />
</div>