@page
@{
    ViewData["Title"] = "Tutor";
}
@model StreamWork.Pages.Home.TutorModal
@{Layout = "Home/_LayoutHome";}

<div class="container blob-banner-tutor custom-container-first" id="blob-banner-tutor">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 p-0">
            <div class="card opacity-change custom-padding rounded-0">
                <div class="row custom-row-padding">
                    <div class="col-lg-12">
                        <div class="form-header header line-height mb-4">What's a StreamTutor?</div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4 mt-3">
                        <div class="card drop-shadow text-center">
                            <h5 class="roboto-slab m-3">Do you help your friends understand their homework?</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-3">
                        <div class="card drop-shadow text-center">
                            <h5 class="roboto-slab m-3">Have you ever taught a classmate an easier way to solve a problem?</h5>
                        </div>
                    </div>
                    <div class="container mt-4" style="max-width:750px">
                        <h3 class="roboto-slab m-3 text-center">You may have the qualities of a StreamTutor!</h3>
                        <p class="m-3 text-center">Tutors on StreamWork are the stars of the community. When StreamTutors help out student viewers, they have the opportunity to receive donations as a thank you. If you are comfortable tutoring a subject and have received or maintain an A grade in the course, feel free to sign up as a StreamTutor and start making money from doing your homework!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container blob-banner-inverted-tutor custom-container" id="blob-banner-inverted-tutor">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 p-0">
            <div class="card opacity-change custom-padding rounded-0">
                <div class="row custom-row-padding">
                    <div class="col-lg-12">
                        <div class="form-header header line-height mb-4">How to become a StreamTutor?</div>
                    </div>
                    <div class="col-lg-12">
                        <div class="container mt-4 mb-4" style="max-width:750px">
                            <h3 class="roboto-slab m-3 text-center">To become a StreamTutor: <br />here’s your checklist.</h3>
                        </div>
                    </div>

                    <div class="col-lg-2"></div>
                    <div class="col-lg-4 mt-3">
                        <div class="card drop-shadow text-center">
                            <h1 class="roboto-slab mt-2">Confident.</h1>
                            <p class="pl-2 pr-2">Feel comfortable tutoring your chosen subject.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-3">
                        <div class="card drop-shadow text-center">
                            <h1 class="roboto-slab mt-2">A or above.</h1>
                            <p class="pl-2 pr-2">Maintain an A grade in the topic being taught.</p>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 mt-4">
                        <div class="card drop-shadow text-center">
                            <h1 class="roboto-slab mt-2">Prove yourself.</h1>
                            <p class="pl-2 pr-2">Provide StreamWork with a resume and transcript.</p>
                        </div>
                        <ul class="m-5">
                            <li>
                                <p>Transcripts and resume’s let StreamWork verify that tutors are adequate and experienced enough to teach in certain subjects, in order to give students an optimal learning experience.</p>
                            </li>
                            <li>
                                <p>These documents will suffice (if approved) as a StreamTutors entry ticket to their own streaming channel, chat box and donation system.</p>
                            </li>
                            <li>
                                <p>These documents will be private to StreamWork and not be shared with any other tutors or students.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="card drop-shadow text-center">
                            <h1 class="roboto-slab mt-2">Wait.</h1>
                            <p class="pl-2 pr-2">Wait 1-2 business days to get approved by StreamWork.</p>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 mt-4">
                        <div class="card drop-shadow text-center">
                            <h1 class="roboto-slab mt-2">But first...</h1>
                            <p class="pl-2 pr-2">If you have the superpowers of a StreamTutor, sign up here!</p>
                        </div>

                        <button class="streamWork-primary w-100 mt-5">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container blob-banner-inverted custom-container" id="blob-banner-inverted-tutor">
    <div class="custom-padding">
        <div class="row custom-row-padding">
            <div class="col-lg-6">
                <div class="form-header header line-height">Team StreamWork.</div>
                <h5 class="roboto-slab mt-3">Our startup is proudly founded by a group of university students.</h5>
                <p class="roboto mt-3">By providing 24/7 live, interactive homework help, students looking to study alongside an A-grade student have the ability to do so on StreamWork. We provide accessibility to both the academically proficient and struggling students to learn collaboratively online.</p>
            </div>
            <div class="container mb-4" style="max-width:750px">
                <div class="row d-lg-block d-md-block d-sm-block d-none">
                    <div class="col-lg-12 mt-4">
                        <div class="card drop-shadow">
                            <div class="card-body">
                                <img src="/images/JaredHsu2.jpg" class="rounded" width="150" align="left" />
                                <h1 class="roboto-slab mb-0" style="padding-left:175px;">Jared <span class="roboto-slab-200">Hsu</span></h1>
                                <h5 class="roboto-slab mb-2" style="padding-left:175px;">Co-Founder / CEO</h5>
                                <p class="roboto" style="padding-left:175px; font-size:14px">Jared Hsu is a technology entrepreneur and supporter of all things ed-tech. After graduating from ASU in 2019 he worked at Google and is now currently at Facebook. As an avid techie, Jared has interned at several Y-Combinator backed startups and is a 2x hackathon winner.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 team-streamwork-margins-desktop">
                        <div class="card drop-shadow">
                            <div class="card-body">
                                <img src="/images/RithvikArun.jpeg" class="rounded float-right ml-4" width="150" align="right" />
                                <h1 class="roboto-slab mb-0">Rithvik <span class="roboto-slab-200">Arun</span></h1>
                                <h5 class="roboto-slab mb-2">Co-Founder / CTO</h5>
                                <p class="roboto" style="font-size:14px">Rithvik Arun is a software engineering student pursuing a bachelors degree at ASU and is currently a software engineering intern at Intel. He has multiple years of programming experience and has worked on numerous projects in the .NET and Xamarin environments through internships.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 team-streamwork-margins-desktop">
                        <div class="card drop-shadow">
                            <div class="card-body">
                                <img src="/images/Tom.jpg" class="rounded" width="150" align="left" />
                                <h1 class="roboto-slab mb-0" style="padding-left:175px;">Tom <span class="roboto-slab-200">Hansen</span></h1>
                                <h5 class="roboto-slab mb-2" style="padding-left:175px;">Co-Founder / CIO</h5>
                                <p class="roboto" style="padding-left:175px; font-size:14px">Tom Hansen is a software engineering student pursuing a bachelors degree at ASU Barret Honors and a Co-Founder at StreamWork. Notably a game developer he has worked on and created multiple games in the past years while being a successful programming tutor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 team-streamwork-margins-desktop">
                        <div class="card drop-shadow">
                            <div class="card-body">
                                <img src="/images/KenPena.jpg" class="rounded float-right ml-4" width="150" align="right" />
                                <h1 class="roboto-slab mb-0">Ken <span class="roboto-slab-200">Pena</span></h1>
                                <h5 class="roboto-slab mb-2">Creative Director</h5>
                                <p class="roboto" style="font-size:14px">Kenneth Pena is a multi-disciplinary graphic designer that believes good design should not be reserved to the top 1% of companies but to 100% of the people. As a recent graduate of ASU, Kenneth has since made it his mission to utilize his passion and skills to illustrate the importance of design by branding various start-ups, non-profits and solo-projects alike.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 team-streamwork-margins-desktop">
                        <div class="card drop-shadow">
                            <div class="card-body">
                                <img src="/images/Junshu230.jpg" class="rounded" width="150" align="left" />
                                <h1 class="roboto-slab mb-0" style="padding-left:175px;">Junshu <span class="roboto-slab-200">Liu</span></h1>
                                <h5 class="roboto-slab mb-2" style="padding-left:175px;">Product Designer</h5>
                                <p class="roboto" style="padding-left:175px; font-size:14px">Junshu Liu is a designer pursuing a master’s degree at Georgia Institute of Technology. He is creative and proficient in software tools regarding UI/UX/interaction design, graphic design, and video editing. He is proficient in creating visual identity (VI) for several SaaS applications.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-lg-none d-md-none d-sm-none d-block">
                    <div class="col-lg-12 mt-4">
                        <div class="card drop-shadow">
                            <div class="card-body d-block">
                                <img src="/images/JaredHsu2.jpg" class="rounded d-block mr-auto ml-auto" width="120" />
                                <h3 class="roboto-slab text-center mt-3 mb-0">Jared <span class="roboto-slab-200">Hsu</span></h3>
                                <h6 class="roboto-slab text-center mb-3">Co-Founder / CEO</h6>
                                <p class="roboto text-center" style="font-size:14px">Jared Hsu is a technology entrepreneur and supporter of all things ed-tech. After graduating from ASU in 2019 he worked at Google and is now currently at Facebook. As an avid techie, Jared has interned at several Y-Combinator backed startups and is a 2x hackathon winner.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 team-streamwork-margins-desktop">
                        <div class="card drop-shadow">
                            <div class="card-body">
                                <img src="/images/RithvikArun.jpeg" class="rounded d-block mr-auto ml-auto" width="120" />
                                <h3 class="roboto-slab text-center mt-3 mb-0">Rithvik <span class="roboto-slab-200">Arun</span></h3>
                                <h6 class="roboto-slab text-center mb-3">Co-Founder / CTO</h6>
                                <p class="roboto text-center" style="font-size:14px">Rithvik Arun is a software engineering student pursuing a bachelors degree at ASU and is currently a software engineering intern at Intel. He has multiple years of programming experience and has worked on numerous projects in the .NET and Xamarin environments through internships.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 team-streamwork-margins-desktop">
                        <div class="card drop-shadow">
                            <div class="card-body">
                                <img src="/images/Tom.jpg" class="rounded d-block mr-auto ml-auto" width="120" />
                                <h3 class="roboto-slab text-center mt-3 mb-0">Tom <span class="roboto-slab-200">Hansen</span></h3>
                                <h6 class="roboto-slab text-center mb-3">Co-Founder / CIO</h6>
                                <p class="roboto text-center" style="font-size:14px">Tom Hansen is a software engineering student pursuing a bachelors degree at ASU Barret Honors and a Co-Founder at StreamWork. Notably a game developer he has worked on and created multiple games in the past years while being a successful programming tutor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 team-streamwork-margins-desktop">
                        <div class="card drop-shadow">
                            <div class="card-body">
                                <img src="/images/KenPena.jpg" class="rounded d-block mr-auto ml-auto" width="120" />
                                <h3 class="roboto-slab text-center mt-3 mb-0">Ken <span class="roboto-slab-200">Pena</span></h3>
                                <h6 class="roboto-slab text-center mb-3">Creative Director</h6>
                                <p class="roboto text-center" style="font-size:14px">Kenneth Pena is a multi-disciplinary graphic designer that believes good design should not be reserved to the top 1% of companies but to 100% of the people. As a recent graduate of ASU, Kenneth has since made it his mission to utilize his passion and skills to illustrate the importance of design by branding various start-ups, non-profits and solo-projects alike.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 team-streamwork-margins-desktop">
                        <div class="card drop-shadow">
                            <div class="card-body">
                                <img src="/images/Junshu230.jpg" class="rounded d-block mr-auto ml-auto" width="120" />
                                <h3 class="roboto-slab text-center mt-3 mb-0">Junshu <span class="roboto-slab-200">Liu</span></h3>
                                <h6 class="roboto-slab text-center mb-3">Product Designer</h6>
                                <p class="roboto text-center" style="font-size:14px">Junshu Liu is a designer pursuing a master’s degree at Georgia Institute of Technology. He is creative and proficient in software tools regarding UI/UX/interaction design, graphic design, and video editing. He is proficient in creating visual identity (VI) for several SaaS applications.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>function ResizeBackground() {
        $(document).ready(function () {
            ResizeAlgo()
        })

        $(window).resize(function () {
            ResizeAlgo()
        })
    }

    function ResizeAlgo() {
        var windowWidth = 1680;
        var viewWidth = 155;

        var currentWindowWidth = $(window).width();
        var newWindowWidth = (currentWindowWidth * viewWidth) / windowWidth

        var diff = viewWidth - newWindowWidth;
        var newWW = viewWidth + (diff)

        $('#blob-card').css('background-position-x', '40%')

        if (newWW > 270) {
            $('#blob-card').css('background-position-x', '25%')
            newWW = 450;
        }
        else if (newWW > 250) {
            $('#blob-card').css('background-position-x', '25%')
            newWW = 400;
        }
        else if (newWW > 215) {
            $('#blob-card').css('background-position-x', '25%')
            newWW = 370;
        }
        else if (newWW > 200) {
            $('#blob-card').css('background-position-x', '25%')
            newWW = 310;
        }
        else if (newWW < 100) {
            newWW = 105;
        }

        $('#blob-banner-tutor').css('background-size', newWW + 'vw')
        $('#blob-banner-inverted-tutor').css('background-size', newWW + 'vw')
        $('#blob-banner-inverted-2-about').css('background-size', newWW + 'vw')
    }
    ResizeBackground()</script>
@await Html.PartialAsync("Partials/Home/Footer")

@await Html.PartialAsync("Partials/Notification/PushNotifications")


@await Html.PartialAsync("Partials/Notification/PushNotifications")