@page
@model StreamWork.Pages.Home.TutorModal
@{Layout = "Home/_LayoutHome";}

    <div class="container custom-container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card" style="background-color: white">
                    <div class="card-tite form-header text-center header-appearance ">What's a StreamTutor?</div>
                    <div class="card-body">
                        <p class="roboto p-margins">Do you help your friends understand their homework 📓? Have you ever taught a classmate an easier way to solve a problem? You may have the qualities of a StreamTutor!</p>
                        <p class="roboto p-margins">Tutors on StreamWork make up the backbone of the platform and are the stars of the community. When StreamTutors help out student viewers, they have the opportunity to receive donations as a thank you. If you are comfortable tutoring a subject and have received or maintain an A grade in the course, feel free to sign up as a StreamTutor and to start making money 🤑 from doing your homework!</p>
                        <p class="roboto p-margins">For a limited time, StreamTutors get paid $5 💸 for every 15+ minute tutoring session streamed. Please note we send money via PayPal and reserve the right to withhold pay based on what we deem appropriate content. No prior tutoring experience is necessary to become a StreamTutor. ✏️</p>
                    </div>
                    <div class="card-tite form-header text-center header-appearance ">How do I become a StreamTutor?</div>
                    <div class="card-body">
                        <p class="roboto p-margins">To become a StreamTutor, students must:</p>
                        <ol class="p-margins">
                            <li>
                                <p class="roboto">Feel comfortable tutoring their chosen subject</p>
                            </li>
                            <li>
                                <p class="roboto">Maintain an A grade in the topic being taught</p>
                            </li>
                            <li>
                                <p class="roboto">Provide StreamWork with a resume and transcript</p>
                                <ol>
                                    <li>
                                        <p class="roboto">Transcripts and resume's let StreamWork verify that tutors are adequate and experienced enough to teach in certain subjects, in order to give students an optimal learning experience</p>
                                    </li>
                                    <li>
                                        <p class="roboto">These documents will suffice (if approved) as a StreamTutors entry ticket to their own streaming channel, chat box and donation system/p>
                                    <li>
                                        <p class="roboto">These documents will be private to StreamWork and not be shared with any other tutors or students</p>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p class="roboto">Wait 1-2 business days to get approved by StreamWork</p>
                            </li>
                            <li>
                                <p class="roboto">If you have the superpowers of a StreamTutor, sign up here! 📚👩🏽‍🎓</p>
                            </li>
                        </ol>
                    </div>
                    <div class="card-tite form-header text-center header-appearance ">Some of our StreamTutors</div>
                    <div class="card-body">
                        <p class="roboto p-margins">To become a StreamTutor, students must:</p>
                        <ol class="p-margins">
                            <li>
                                <p class="roboto">Feel comfortable tutoring their chosen subject</p>
                            </li>
                            <li>
                                <p class="roboto">Maintain an A grade in the topic being taught</p>
                            </li>
                            <li>
                                <p class="roboto">Provide StreamWork with a resume and transcript</p>
                                <ol>
                                    <li>
                                        <p class="roboto">Transcripts and resume's let StreamWork verify that tutors are adequate and experienced enough to teach in certain subjects, in order to give students an optimal learning experience</p>
                                    </li>
                                    <li>
                                        <p class="roboto">These documents will suffice (if approved) as a StreamTutors entry ticket to their own streaming channel, chat box and donation system/p>
                                    <li>
                                        <p class="roboto">These documents will be private to StreamWork and not be shared with any other tutors or students</p>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p class="roboto">Wait 1-2 business days to get approved by StreamWork</p>
                            </li>
                            <li>
                                <p class="roboto">If you have the superpowers of a StreamTutor, sign up here! 📚👩🏽‍🎓</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>