@page
@{
    ViewData["Title"] = "Tutor";
}
@model StreamWork.Pages.Home.TutorModal
@{Layout = "Home/_LayoutHome";}

<div class="container blob-banner-tutor custom-container-first" id="blob-banner-tutor">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 p-0">
            <div class="card opacity-change custom-padding rounded-0">
                <div class="row custom-row-padding">
                    <div class="col-lg-12">
                        <div class="form-header header line-height mb-4">What's a StreamTutor?</div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4 mt-3">
                        <div class="card drop-shadow text-center">
                            <h5 class="roboto-slab m-3">Do you help your friends understand their homework?</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-3">
                        <div class="card drop-shadow text-center">
                            <h5 class="roboto-slab m-3">Have you ever taught a classmate an easier way to solve a problem?</h5>
                        </div>
                    </div>
                    <div class="container mt-4" style="max-width:750px">
                        <div class="card drop-shadow text-center">
                            <h3 class="roboto-slab m-3 text-center">You may have the qualities of a StreamTutor!</h3>
                            <p class="ml-3 mr-3 text-center">Tutors on StreamWork are the stars of the community. When StreamTutors help out student viewers, they have the opportunity to receive donations as a thank you. If you are comfortable tutoring a subject and have received or maintain an A grade in the course, feel free to sign up as a StreamTutor and start making money from doing your homework!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container blob-banner-inverted-tutor custom-container" id="blob-banner-inverted-tutor">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 p-0">
            <div class="card opacity-change custom-padding rounded-0">
                <div class="row custom-row-padding">
                    <div class="col-lg-12">
                        <div class="form-header header line-height mb-4">How to become a StreamTutor?</div>
                    </div>
                    <div class="col-lg-12">
                        <div class="container mt-4 mb-4" style="max-width:750px">
                            <h3 class="roboto-slab m-3 text-center">To become a StreamTutor: <br />here’s your checklist.</h3>
                        </div>
                    </div>

                    <div class="col-lg-2"></div>
                    <div class="col-lg-4 mt-3">
                        <div class="card drop-shadow text-center">
                            <h1 class="roboto-slab mt-2">Confident.</h1>
                            <p class="pl-2 pr-2">Feel comfortable tutoring your chosen subject.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-3">
                        <div class="card drop-shadow text-center">
                            <h1 class="roboto-slab mt-2">A or above.</h1>
                            <p class="pl-2 pr-2">Maintain an A grade in the topic being taught.</p>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 mt-4">
                        <div class="card drop-shadow text-center">
                            <h1 class="roboto-slab mt-2">Prove yourself.</h1>
                            <p class="pl-2 pr-2">Provide StreamWork with a resume and transcript.</p>
                        </div>
                        <div class="card drop-shadow mt-5 mb-5">
                            <ul class="mb-4 ml-3 mr-4 pl-4" style="margin-top:40px">
                                <li>
                                    <p>Transcripts and resume’s let StreamWork verify that tutors are adequate and experienced enough to teach in certain subjects, in order to give students an optimal learning experience.</p>
                                </li>
                                <li>
                                    <p>These documents will suffice (if approved) as a StreamTutors entry ticket to their own streaming channel, chat box and donation system.</p>
                                </li>
                                <li>
                                    <p>These documents will be private to StreamWork and not be shared with any other tutors or students.</p>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="card drop-shadow text-center">
                            <h1 class="roboto-slab mt-2">Wait.</h1>
                            <p class="pl-2 pr-2">Wait 1-2 business days to get approved by StreamWork.</p>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 mt-4">
                        <div class="card drop-shadow text-center">
                            <h1 class="roboto-slab mt-2">But first...</h1>
                            <p class="pl-2 pr-2">If you have the superpowers of a StreamTutor, sign up here!</p>
                        </div>
                        <button class="streamWork-primary d-block mr-auto ml-auto w-50 mt-5" style="font-size:24px;" onclick="window.location.href='/Home/SignUp'">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container blob-banner-inverted-2-tutor custom-container" id="blob-banner-inverted-2-tutor">
    <div class="custom-padding">
        <div class="row custom-row-padding">
            <div class="col-lg-6">
                <div class="form-header header line-height">Featured StreamTutors.</div>
                <h5 class="roboto-slab mt-3">Some of our favorite tutors this month.</h5>
            </div>
            <div class="container mb-4" style="max-width:750px">
                <div class="row d-lg-block d-md-block d-sm-block d-none">
                    <div class="col-lg-12 mt-4">
                        <div class="card drop-shadow">
                            <div class="card-body">
                                <img src="/images/HomeAssets/Featured1.jpg" class="rounded" width="150" align="left" />
                                <p class="roboto" style="padding-left:175px; font-size:14px">
                                    “As a homework procrastinator, I couldn’t be more thankful to find StreamWork’s online tutoring center during a time like now. From Mathematics to Humanities, StreamWork has shown me that even after studying for hours on end alone, anyone can benefit from watching and learning a thing or two from others. Just as I did when I first joined, take this as a sign to end your procrastination, and soon I hope to learn something from you!”
                                </p>
                                <h5 class="roboto-slab mb-0" style="padding-left:175px;">Katrina <span class="roboto-slab-200">Rogers</span></h5>
                                <p class="roboto mb-2" style="padding-left:175px; font-size:12px">B.S. Biomedical Science, Psychology, & Chemistry, University of Southern Mississippi</>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 team-streamwork-margins-desktop">
                        <div class="card drop-shadow">
                            <div class="card-body">
                                <img src="/images/HomeAssets/Featured2.jpg" class="rounded float-right ml-4" width="150" align="right" />
                                <p class="roboto" style="font-size:14px">
                                    “StreamWork has been an awesome experience for me. As an online tutoring center, they’ve allowed me to fulfill my passion for helping others. Their platform allows for mutually beneficial sessions between tutors and tutees while being FREE; which is crazy considering all the great learning content that’s available here.”
                                </p>
                                <h5 class="roboto-slab mb-0">Joshua <span class="roboto-slab-200">Bermea</span></h5>
                                <p class="roboto mb-2" style="font-size:12px">B.S. Civil Engineering, San Jose State University<p/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-lg-none d-md-none d-sm-none d-block">
                    <div class="col-lg-12 mt-4">
                        <div class="card drop-shadow">
                            <div class="card-body d-block">
                                <img src="/images/HomeAssets/Featured1.jpg" class="rounded d-block mr-auto ml-auto" width="150" />
                                <p class="roboto mt-3 mb-0 text-center" style="font-size:14px">
                                    “As a homework procrastinator, I couldn’t be more thankful to find StreamWork’s online tutoring center during a time like now. From Mathematics to Humanities, StreamWork has shown me that even after studying for hours on end alone, anyone can benefit from watching and learning a thing or two from others. Just as I did when I first joined, take this as a sign to end your procrastination, and soon I hope to learn something from you!”
                                </p>
                                <h5 class="roboto-slab mb-1 mt-3 text-center">Katrina <span class="roboto-slab-200">Rogers</span></h5>
                                <p class="roboto mb-2 text-center" style="font-size:12px">B.S. Biomedical Science, Psychology, & Chemistry, University of Southern Mississippi</>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 team-streamwork-margins-desktop">
                        <div class="card drop-shadow">
                            <div class="card-body">
                                <img src="/images/HomeAssets/Featured2.jpg" class="rounded d-block mr-auto ml-auto" width="150"/>
                                <p class="roboto mt-3 mb-0 text-center" style="font-size:14px">
                                    “StreamWork has been an awesome experience for me. As an online tutoring center, they’ve allowed me to fulfill my passion for helping others. Their platform allows for mutually beneficial sessions between tutors and tutees while being FREE; which is crazy considering all the great learning content that’s available here.”
                                </p>
                                <h5 class="roboto-slab mb-1 mt-3 text-center">Joshua <span class="roboto-slab-200">Bermea</span></h5>
                                <p class="roboto mb-2 text-center" style="font-size:12px">B.S. Civil Engineering, San Jose State University<p />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>function ResizeBackground() {
        $(document).ready(function () {
            ResizeAlgo()
        })

        $(window).resize(function () {
            ResizeAlgo()
        })
    }

    function ResizeAlgo() {
        var windowWidth = 1680;
        var viewWidth = 155;

        var currentWindowWidth = $(window).width();
        var newWindowWidth = (currentWindowWidth * viewWidth) / windowWidth

        var diff = viewWidth - newWindowWidth;
        var newWW = viewWidth + (diff)

        $('#blob-card').css('background-position-x', '40%')

        if (newWW > 270) {
            $('#blob-card').css('background-position-x', '25%')
            newWW = 450;
        }
        else if (newWW > 250) {
            $('#blob-card').css('background-position-x', '25%')
            newWW = 400;
        }
        else if (newWW > 215) {
            $('#blob-card').css('background-position-x', '25%')
            newWW = 370;
        }
        else if (newWW > 200) {
            $('#blob-card').css('background-position-x', '25%')
            newWW = 310;
        }
        else if (newWW < 100) {
            newWW = 105;
        }

        $('#blob-banner-tutor').css('background-size', newWW + 'vw')
        $('#blob-banner-inverted-tutor').css('background-size', newWW + 'vw')
        $('#blob-banner-inverted-2-tutor').css('background-size', newWW + 'vw')
    }
    ResizeBackground()</script>
@await Html.PartialAsync("Partials/Home/Footer")

@await Html.PartialAsync("Partials/Notification/PushNotifications")


@await Html.PartialAsync("Partials/Notification/PushNotifications")