body {
    background-color:rebeccapurple;
}

.containerFluid {
    width: calc(100% - 200px)
}

@media screen and (max-width: 800px) {
    .containerFluid {
        width: calc(100% - 100px)
    }
}

@media screen and (max-width: 700px) {
    .containerFluid {
        width: calc(100% - 75px);
        padding:0px;
    }
}

@media screen and (max-width: 600px) {
    .containerFluid {
        width: 100%;
        padding:0px;
    }
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    background: #004643;
    color: #fff;
    transition: all 0.3s;
}

#sidebarTablet {
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    background: #004643;
    color: #fff;
    transition: all 0.3s;
    display:none
}

@media screen and (max-width: 800px) {
    #sidebar {
        width: 0px;
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #sidebarTablet {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    #sidebarTablet {
        width: 75px;
    }
}

@media screen and (max-width: 600px) {
    #sidebarTablet {
        width: 0px;
        display: none;
    }
}


.navBar {
    width: 100%;
    background-color:white
}

.navbarDropDown {

}

.navbarDropDownButton {
    background-color: #006060;
    border: none;
}

.navBarProfilePicture {
    width: 40px;
    height: 50px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

@media screen and (max-width: 600px) {
    .navBar {
        width: 100%
    }
}

.logoSize {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

.logoTabletSize {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

.navList {
    list-style-type: none;
    height: 50px;
    background-color: #003936;
    padding: 10px;
    padding-left:30px;
    margin-top: 3px;
    cursor: pointer;
    font-size:14px;
    text-align:left;
}

.navListTablet {
    list-style-type: none;
    height: 50px;
    background-color: #003936;
    text-align: center;
    margin-top: 3px;
    cursor: pointer;
    display:block;
    margin-right:auto;
    margin-left:auto;
}

.navItem {
    color: #004643;
    font-family: 'Roboto Slab', serif;
}

.slider {
    width: 100%;
    height: 5px;
    background-color: #d3d3d3;
    outline: none;
    opacity: 0.7;
}

.sliderObject {
    width: 50px;
    height: 5px;
    background-color: #FFC627;
    outline: none;
    transition: transform .5s ease-in-out;
    transform: translate3d(15px, 0px, 0px);
}

.nav-tabs > li > a.active {
    color: #707070 !important;
    background-color: transparent !important;
    border:none;
}

.nav-tabs > li > a {
    color: #9F9F9F !important;
    background-color: transparent !important;
    border: none;
}

@media (max-width: 1275px) {
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-md-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .order-md-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #d3d3d3;
    outline: none;
    opacity: 0.7;
    margin-top: 25px;
    margin-bottom: 25px;
}

.formHeaders {
    font-family:'Roboto Slab', serif;
    color:#707070;
    font-size:14px
}

.formInput {
    font-size: 12px;
}

.formTextArea {
    font-size: 12px;
    height: 125px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    margin-left:auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius:0px;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4)
}

@media (max-width: 600px) {
    .modal {
        width: 100%;
    }
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    border-radius: 0px;
    width: 700px;
}

@media (max-width: 800px) {
    .modal-content {
        width: 600px;
    }
}

@media (max-width: 600px) {
    .modal-content {
        width: 575px;
    }
}

@media (max-width: 550px) {
    .modal-content {
        width: 450px;
    }
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
