@page
@model StreamWork.Pages.API.PayPalModel
@{Layout = "SignUp-SignIn/_LayoutSignUp-SignIn";}

<br />
<br />
<br />
<button class="streamWork-primary m-4" onclick="testWebhook()">Test Webhook</button>

<script>
    function testWebhook() {
        alert('tset tset');

        $.ajax({
            url: '/API/PayPal',
            type: 'POST',
            dataType: 'json',
            data: {
                "id": "PAYMENT.ORDER.CREATED",
                "create_time": "aoueaoeu",
                "event_type": "aoeuaoeu"
            },
        }).done(function (data) {
            alert('success?');
        });
    }
</script>