
<div id="stream-row" class="row p-3">
        @if (Model.UserArchivedStreams.Count != 0)
        {
            @await Html.PartialAsync("Partials/Stream/Stream_Appearance")
        }
        else
        {
            if (Model.UserProfile.ProfileType == "tutor")
            {
                <div class="col-12 text-center">
                    <p class="form-sub-header p-0" style="font-size:22px">Looks like you don't have any videos yet...</p>
                    <p class="form-sub-header p-0" style="font-size:14px; font-family:'Roboto', serif">Help other students find the help they need by putting up content!</p>
                    <button class="streamWork-primary mt-3" onclick="window.location.href ='/Tutor/TutorStream'" style="font-size:14px; font-family:'Roboto', serif">Start your first stream</button>
                </div>
            }
            else
            {
                <div class="col-12 text-center">
                    <p class="form-sub-header p-0" style="font-size:22px">No Streams</p>
                    <p class="form-sub-header p-0" style="font-size:14px; font-family:'Roboto', serif">This tutor hasn't streamed yet!</p>
                </div>
            }
        }
    </div>
