<!DOCTYPE html>
<!--
      _/_/_/  _/                                         _/       _/                  _/
   _/      _/_/_/_/ _/ _/_/  _/_/     _/_/_/ _/_/  _/   _/       _/  _/_/    _/ _/_/ _/  _/
    _/_/    _/     _/_/   _/_/_/_/ _/    _/ _/  _/  _/ _/  _/   _/ _/   _/  _/_/    _/_/
       _/  _/     _/     _/       _/    _/ _/  _/  _/  _/_/ _/_/  _/   _/  _/      _/  _/
_/_/_/      _/_/ _/       _/_/_/   _/_/_/ _/  _/  _/   _/   _/     _/_/   _/      _/    _/
-->

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <title>@ViewData["Title"] | StreamWork</title>
    <link rel="stylesheet" href="~/lib/bootstrap-4/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/bootstrap-4/js/bootstrap.js">
    <link rel="stylesheet" href="~/images/StreamworkLogo.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="~/js/SignUpLogin.js" asp-append-version="true"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:800&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>!function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '825070711264915');
        fbq('track', 'PageView');</script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=825070711264915&ev=PageView
    &noscript=1" />
    </noscript>
</head>

<body style="font-family:'Roboto'; background-color:#F3F3F3">
    <div>
        <div class="full-page" style="width:100%">
            <div class="in-page">
                <div class="page-body">
                    @RenderBody()
                </div>
                <div class="page-footer my-3">
                    Copyright © 2020 StreamWork LLC. All rights reserved.
                </div>
                @RenderSection("Scripts", required: false)
            </div>
        </div>
    </div>

    @*Notification Modal Fail*@
    <div class="modal fade" id="notifyModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" style="background-color:red;">
                    <p id="notifyBody" class="text-center p-0 m-0" style="color:white; font-size:16px"></p>
                </div>

            </div>
        </div>
    </div>

    @*Notification Modal Success*@
    <div class="modal fade" id="notifyModalSuccess" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" style="background-color:green;">
                    <p id="notifyBodySuccess" class="text-center p-0 m-0" style="color:white; font-size:16px"></p>
                </div>

            </div>
        </div>
    </div>

    @*Student Greeting Modal*@
    <div id="checkStudentModal" class="modal" tabindex="2" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #008080">
                <div class="modal-header">
                    <h5 class="modal-title text-center" style="color:white">One more thing!</h5>
                </div>
                <div class="modal-body">
                    <p id="notificationBody" class=" text-center" style="color: white;">Although donations aren't required to use StreamWork, we do encourage donating to our StreamTutors to show appreciation for their hard work. We hope that StreamWork will give you the tutoring necessary for you to excel in the classroom. Happy learning!</p>
                    <a href="/"><img src="~/images/streamworkPencilWhite.png" style="display:block; margin-left:auto; margin-right:auto;" height="70" /></a>
                </div>
                <div class="modal-footer">
                    <button type="button" style="background-color:#006565; color:white" class="btn" onclick="SignUpStudent()">Watch Livestreams!</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
