@{
    ViewData["Title"] = "About";
}

<div style="font-family:'Roboto', sans-serif;">
    <nav class="navbar navbar-expand-lg text-center" style="position:fixed;z-index:2 ;width:100%;background-color:#008080">
        <img src="~/images/WhiteStreamWork.png" width="250" height="70" onclick="window.location.href='/'" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" id="nav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-sm-5" style="font-size:14px;">
                    <a class="nav-link" href="/" style="color:white;">Browse by Subjects</a>
                </li>
                <li class="nav-item ml-sm-5" style="font-size:14px; ">
                    <a class="nav-link" href="/Home/BecomeTutor" style="color:white;">Become a Tutor</a>
                </li>
                <li class="nav-item ml-sm-5" style="font-size:14px;">
                    <a id="button" class="nav-link" href="/Home/About" style="color:white;">About</a>
                </li>
                <li class="nav-item ml-sm-5" style="font-size:14px;">
                    <a class="nav-link" href="/Home/HowToStream" style="color:white;">How to Stream</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" style="padding-top:140px">
        <div class="row">
            <div class="col-lg-1 col-md-0 col-sm-0"></div>
            <div class="col-lg-10 col-md-12 col-sm-12">
                <div class="card" style="background-color: #006565;">
                    <div class="card-body">
                        <div class="d-none d-md-block col-3"></div>                             <div class="  p-5" style="background-color: #006565; color: white; text-align: justify;">
                                <img src="/images/streamworkPencilWhite.png" style="height: 104px; width: 72px; margin-left:auto; margin-right:auto;display:block">                                 <h2 style="text-align: center">&nbsp;About StreamWork</h2> <br />                                 <p style="text-align:center"><strong>StreamWork</strong> is an educational live-streaming platform for homework tutoring that allows for students to learn from their classmates. Our vision is to be the #1 online tutoring center that brings the minds of students together, building upon each other’s knowledge to reach scholastic success.📚👩🏽‍🎓✨</p>
                                <br />
                                <h2 style="text-align: center">&nbsp;Who Are We</h2> <br />
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-sm-12">
                                        <div class="card" style="background-color:transparent; border:none">
                                            <div class="card-body">
                                                <img src="~/images/JaredHsu2.jpg" style="width:65%; height:100%; margin-left:auto; margin-right:auto;display:block" />
                                                <br />
                                                <h4 class="text-center" >Jared Hsu</h4>
                                                <h6 class="text-center">Founder</h6>
                                                <br />
                                                <div style="text-align:center">Jared Hsu is a technological entrepreneur and supporter of all things ed-tech. As a Silicon Valley native, he’s worked at YC-backed startups and is a 2x hackathon winner.</div>
                                                <br />
                                                <br />
                                                <a class="fa fa-linkedin-square text-center" style="font-size: 60px; margin-left:auto; margin-right:auto;display:block; color:#0077B5" href="https://www.linkedin.com/in/jared-hsu-170704186/"></a>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-md-4 col-lg-4 col-sm-12">
                                        <div class="card" style="background-color:transparent;border:none">
                                            <div class="card-body">
                                                <img src="~/images/RithvikArun.jpeg" style="width:65%; height:100%; margin-left:auto; margin-right:auto;display:block" />
                                                <br />
                                                <h4 class="text-center">Rithvik Arun</h4>
                                                <h6 class="text-center">Co-Founder/Software Engineer</h6>
                                                <br />
                                                <div style="text-align:center">Rithvik Arun is a software engineering student and a Co-Founder at StreamWork. He has multiple years of programming experience and has worked on numerous projects in the .NET and Xamarin environments.</div>
                                                <br />
                                                <a class="fa fa-linkedin-square text-center" style="font-size: 60px; margin-left:auto; margin-right:auto;display:block; color:#0077B5" href="https://www.linkedin.com/in/rithvik-arun-b57850162/"></a>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-md-4 col-lg-4 col-sm-12">
                                        <div class="card" style="background-color:transparent;border:none">
                                            <div class="card-body">
                                                <img src="~/images/Tom.jpg" style="width:65%; height:100%; margin-left:auto; margin-right:auto;display:block" />
                                                <br />
                                                <h4 class="text-center">Thomas Hansen</h4>
                                                <h6 class="text-center">Co-Founder/Software Engineer</h6>
                                                <br />
                                                <div style="text-align:center">Tom Hansen is a software engineering student, former programming tutor, and game programmer. Now he’s a web developer, notably for StreamWork, of which he is a Co-Founder. </div>
                                                <br />
                                                <br />
                                                <a class="fa fa-linkedin-square text-center" style="font-size: 60px; margin-left:auto; margin-right:auto;display:block; color:#0077B5" href="https://www.linkedin.com/in/rithvik-arun-b57850162/"></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>                             </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    p{margin:0}
</style>