@model StreamWork.ViewModels.DefaultViewModel

@{ViewData["Title"] = "About";}

<div class="container-fluid" style="padding-top:75px">
    <div class="row">
        <div class="col-lg-1 col-md-0 col-sm-0"></div>
        <div class="col-lg-10 col-md-12 col-sm-12">
            <div class="card" style="background-color: #006565;">
                <div class="card-body">
                    <div class="d-none d-md-block col-3"></div>                             <div class="  p-5" style="background-color: #006565; color: white; text-align: justify;">
                        <img src="/images/streamworkPencilWhite.png" style="height: 104px; width: 72px; margin-left:auto; margin-right:auto;display:block">                                 <h2 style="text-align: center">&nbsp;About StreamWork</h2> <br />                                 <p style="text-align:center"><strong>StreamWork</strong> is an educational live-streaming platform for homework tutoring that allows for students to learn from their classmates. Our vision is to be the #1 online tutoring center that brings the minds of students together, building upon each other’s knowledge to reach scholastic success.📚👩🏽‍🎓✨</p>
                        <br />
                        <h2 style="text-align: center">&nbsp;Our Story</h2> <br />
                        <p style="text-align:center">
                            StreamWork’s team was founded to relieve the restrictions of on-campus university tutoring. We’ve felt the difficulties of having to attend on-campus tutoring sessions constrained by working hours, fees, and physical location.

                            By providing 24/7 live, interactive coursework help, students looking to study alongside an A grade student has the ability to do so on StreamWork. We provide accessibility to both the academically proficient and struggling students to learn together online.
                        </p><br />
                        <h2 style="text-align: center">&nbsp;Who We Are</h2> <br />
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-12">
                                <div class="card" style="background-color:transparent; border:none">
                                    <div class="card-body">
                                        <img src="~/images/JaredHsu2.jpg" style="width:65%; height:100%; margin-left:auto; margin-right:auto;display:block" />
                                        <br />
                                        <h4 class="text-center">Jared Hsu</h4>
                                        <h6 class="text-center">Founder/CEO</h6>
                                        <br />
                                        <div style="text-align:center">Jared Hsu is a technology entrepreneur and supporter of all things ed-tech. After graduating from ASU in 2019 he worked at Google and is now currently at Facebook. As an avid techie, Jared has interned at several Y-Combinator backed startups and is a 2x hackathon winner.</div>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12">
                                <div class="card" style="background-color:transparent;border:none">
                                    <div class="card-body">
                                        <img src="~/images/RithvikArun.jpeg" style="width:65%; height:100%; margin-left:auto; margin-right:auto;display:block" />
                                        <br />
                                        <h4 class="text-center">Rithvik Arun</h4>
                                        <h6 class="text-center">Co-Founder/CTO</h6>
                                        <br />
                                        <div style="text-align:center">Rithvik Arun is a software engineering student pursuing a bachelors degree at ASU and a Co-Founder at StreamWork. He has multiple years of programming experience and has worked on numerous projects in the .NET and Xamarin environments through internship opportunities.</div>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12">
                                <div class="card" style="background-color:transparent;border:none">
                                    <div class="card-body">
                                        <img src="~/images/Tom.jpg" style="width:65%; height:100%; margin-left:auto; margin-right:auto;display:block" />
                                        <br />
                                        <h4 class="text-center">Tom Hansen</h4>
                                        <h6 class="text-center">Co-Founder/CIO</h6>
                                        <br />
                                        <div style="text-align:center">Tom Hansen is a software engineering student pursuing a bachelors degree at ASU Barret Honors and a Co-Founder at StreamWork. Notably a game developer he has worked on and created multiple games in the past years while being a successful programming tutor.</div>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-lg-4 col-sm-12">
                                <a class="fa fa-linkedin-square text-center" style="font-size: 60px; margin-left:auto; margin-right:auto;display:block;color:#0077B5" href="https://www.linkedin.com/in/jared-hsu-170704186/"></a>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12">
                                <a class="fa fa-linkedin-square text-center" style="font-size: 60px; margin-left:auto; margin-right:auto;display:block; color:#0077B5" href="https://www.linkedin.com/in/rithvik-arun-b57850162/"></a>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-12">
                                <a class="fa fa-linkedin-square text-center" style="font-size: 60px; margin-left:auto; margin-right:auto;display:block; color:#0077B5" href="https://www.linkedin.com/in/tom-hansen-08013118a/"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    p {
        margin: 0
    }
</style>

<script>
    $(document).ready(function () {

        $("#nav").click(function () {

            $("#navbarText").slideToggle();

        });
    });
</script>