@{Layout = "_LayoutNoNavbar";}
@{ViewData["Title"] = "ChangePassword";}

<script src="~/js/SignUpLogin.js"></script>
<script>
    window.onload(CheckSession())
</script>

<br />
<br />
<br />
<br />
<br />
<br />
<form class="form-sign">
    <div class=" text-center">
        <img src="~/images/streamworklogo.png" width="250" height="70" onclick="window.location.href='/'" onmouseover="" style="cursor: pointer;" />
        <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
         <input type="password" id="newPassword" class="form-control" placeholder="New Password" autofocus="">
        <input type="password" id="confirmNewPassword" class="form-control" placeholder="Confirm Password" autofocus="">
        <br />
        <input class="btn btn-lg  btn-block" type="button" value="Change Password" style="background-color:#008080; color: white" onclick="ChangePassword()">
        <br />
        <div class="pt-2"> Don't have an account?  <a href="/Home/SignUp" style="color: rgb(0,160,160)">Sign Up!</a> </div>
    </div>
</form>

<div id="notificationModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #008080">
            <div class="modal-header">
                <h5 class="modal-title text-center" style="color:white">Alert!</h5>
            </div>
            <div class="modal-body">
                <p id="notificationBody" class=" text-center" style="color: white;">It appears you are not a verified StreamTutor! If you are a student, create a separate student account. If you are a StreamTutor, please wait to be approved.</p>
                <img src="~/images/streamworkPencilWhite.png" style="display:block; margin-left:auto; margin-right:auto;" height="70" onclick="window.location.href='/'" />
            </div>
        </div>
    </div>
</div>