<script src="~/js/SignUpLogin.js"></script>
@{
    ViewData["Title"] = "ChnagePassword";
}

<br />
<br />
<br />
<br />
<br />
<br />
<form class="form-sign">
    <div class=" text-center">
        <img src="~/images/streamworklogo.png" width="250" height="70" onclick="window.location.href='/'" />
        <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
         <input type="text" id="newPassword" class="form-control" placeholder="New Password" autofocus="">
        <br />
        <input type="text" id="confirmNewPassword" class="form-control" placeholder="Confirm Password" autofocus="">
        <br />
        <input class="btn btn-lg  btn-block" type="button" value="Change Password" style="background-color:#008080; color: white" onclick="ChangePassword()">
        <br />
        <div class="pt-2"> Don't have an account?  <a href="/Home/SignUp" style="color: rgb(0,160,160)">Sign Up!</a> </div>
    </div>
</form>
