@model StreamWork.ViewModels.ProfileTutorViewModel

@{ViewData["title"] = "Donate";}

<script>
    $.ajax({
        url: '/Home/CreateDonationAttempt',
        type: 'POST',
        dataType: 'json',

        data: {
            'studentName': "@Model.studentOrtutorProfile.Username",
            'tutorName': "@Model.userProfile.Username",
        },
        success: function (data) {
            test = 0
        }
    });
</script>

<br />
<br />
<br />
<br />
<br />
<br />
<div class="form-sign text-center">
    <img src="~/images/streamworklogo.png" width="250" height="70" onclick="" onmouseover="" style="cursor: pointer;" />
    <h4>You are donating to</h4>
    <h1 class="mb-3"><b>@Model.userProfile.Name.Replace('|', ' ')</b></h1>
    <img class="bordered-image" src="@Model.userProfile.ProfilePicture" style="width: 115px; height: 150px"/>
    <br />
    <br />
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="QQPAME3R7N5ZA" />
        <input type="image" src="~/images/donate201911.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" style="display:block; margin-left:auto; margin-right:auto; width:75%; height:75%" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
</div>