@model List<YoutubeAPI>
@{
    ViewData["Title"] = "Engineering";
}
<div style="font-family:'Roboto', sans-serif;">
    <nav class="navbar navbar-expand-lg  text-center" style="position:fixed;z-index:2 ;width:100%;background-color:#008080">
        <img src="~/images/WhiteStreamWork.png" width="250" height="70" onclick="window.location.href='/'" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" id="nav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-sm-3" style="font-size:14px;">
                    <a class="nav-link" href="#" style="color:white;">Browse by Subjects</a>
                </li>
                <li class="nav-item ml-sm-3" style="font-size:14px;">
                    <a class="nav-link" href="#" style="color:white;">Find Tutors</a>
                </li>
                <li class="nav-item ml-sm-3" style="font-size:14px;">
                    <a class="nav-link" href="#" style="color:white;">Popular Livestreams</a>
                </li>
                <li class="nav-item ml-sm-3" style="font-size:14px; ">
                    <a class="nav-link" href="#" style="color:white;">Become a Tutor</a>
                </li>
                <li class="nav-item ml-sm-3" style="font-size:14px;">
                    <a id="button" class="nav-link" href="#" style="color:white;">About StreamWork</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class=" col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <h1 style="font-size:7vw; font-family:'Roboto', sans-serif;padding-top:125px">Engineering</h1>
                <h5>POPULAR LIVESTREAMS</h5>
                <hr />
                <div class="row">

                    @if (Model.ToArray().Length == 0)
                    {
                        <h4>No Livestreams Going On Right Now</h4>
                    }

                    @foreach (var videoInfo in Model)
                    {
                        if (videoInfo.Items[0].Snippet.LiveBroadcastContent == "live")
                        {
                            <div class="col-lg-4 col-md-6 mt-4">
                                <input type="image" width="100%" height="80%" src=@videoInfo.Items[0].Snippet.Thumbnails.High.Url.ToString() onclick="window.location.href='../StreamViews/MathStream?streamKey=' + ('@videoInfo.Items[0].Id.VideoId.ToString()');">
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-10">
                <div class="sidenav">
                    <h3 style="font-size:1vw; color:white;">Popular Engineering Streamtutors</h3>
                    <div class="card pt-3 pd-3" style="display:block;background-color:black;border:none">
                        <div class=" card-title tutors">
                            <input type="image" src="~/images/Pro.png" />
                            <h3 style="font-size:1vw; color:white">THE MATH WIZARD</h3>
                            <h6 style="font-size:0.9vw; color:white">600,000 views</h6>
                            <h6 style="font-size:0.9vw; color:white"></h6>
                        </div>
                    </div>

                    <div class="card pt-3 pd-3" style="display:block;background-color:black;border:none">
                        <div class=" card-title tutors">
                            <input type="image" src="~/images/Pro.png" />
                            <h3 style="font-size:1vw; color:white">THE Algorithm Genius</h3>
                            <h6 style="font-size:0.9vw; color:white">550,000 views</h6>
                            <h6 style="font-size:0.9vw; color:white"> 38,000 current viewers</h6>
                        </div>
                    </div>
                    <div class="card pt-3 pd-3" style="display:block;background-color:black;border:none">
                        <div class=" card-title tutors">
                            <input type="image" src="~/images/Pro.png" />
                            <h3 style="font-size:1vw; color:white">MATHMAN</h3>
                            <h6 style="font-size:0.9vw; color:white">410,000 views</h6>
                            <h6 style="font-size:0.9vw; color:white">37,000 current viewers</h6>

                        </div>
                    </div>
                    <div class="card pt-3 pd-3" style="display:block;background-color:black;border:none">
                        <div class=" card-title tutors">
                            <input type="image" src="~/images/Pro.png" />
                            <h3 style="font-size:1vw; color:white">IAMMATH</h3>
                            <h6 style="font-size:0.9vw; color:white">419,030 views</h6>
                            <h6 style="font-size:0.9vw; color:white">36,000 current viewers</h6>

                        </div>
                    </div>
                    <div class="card pt-3 pd-3" style="display:block;background-color:black;border:none">
                        <div class=" card-title tutors">
                            <input type="image" src="~/images/Pro.png" />
                            <h3 style="font-size:1vw; color:white">AutomaticCalculus</h3>
                            <h6 style="font-size:0.9vw; color:white">415,450 views</h6>
                            <h6 style="font-size:0.9vw; color:white">39,034 current viewers</h6>
                        </div>
                    </div>
                    <div class="pt-3">
                        <button class="btn buttonStyletutor" style="width:15vw">Want to become a streamtutor?</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
        $("#nav").click(function () {
           $("#navbarText").slideToggle();
        });
    });

 function StreamView(key){

 }</script>

<style>
    .sidenav {
        height: 100%;
        width: 17%;
        position: fixed;
        z-index: 1;
        top: 85px;
        right: 0;
        background-color: black;
        overflow-x: hidden;
        padding-top: 20px;
        text-align: center;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .tutors:hover {
        background-color: #008080;
    }
</style>