@{
    ViewData["Title"] = "How to Stream";
}

<div style="font-family:'Roboto', sans-serif;">
    <nav class="navbar navbar-expand-lg text-center" style="position:fixed;z-index:2 ;width:100%;background-color:#008080">
        <img src="~/images/WhiteStreamWork.png" width="250" height="70" onclick="window.location.href='/'" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" id="nav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-sm-5" style="font-size:14px;">
                    <a class="nav-link" href="/" style="color:white;">Browse by Subjects</a>
                </li>
                <li class="nav-item ml-sm-5" style="font-size:14px; ">
                    <a class="nav-link" href="/Home/BecomeTutor" style="color:white;">Become a Tutor</a>
                </li>
                <li class="nav-item ml-sm-5" style="font-size:14px;">
                    <a id="button" class="nav-link" href="/Home/About" style="color:white;">About</a>
                </li>
                <li class="nav-item ml-sm-5" style="font-size:14px;">
                    <a class="nav-link" href="/Home/HowToStream" style="color:white;">How to Stream</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" style="padding-top:140px">
        <div class="row">
            <div class="d-none d-md-block col-3"></div>
            <div class="d-none d-md-block col-6 p-5" style="background-color: #006565; color: white; text-align: justify;">
                <h2 style="text-align: center"><img src="~/images/streamworkPencilWhite.png" style="height: 104px; width: 72px;" />&nbsp;How to Stream</h2> <br />
                <h4>First Time Streaming</h4>
                <strong>On YouTube:</strong>
                <ol start="1">
                    <li>Visit your account's <a href="https://www.youtube.com/account_advanced" style="color: #AAAAFF">advanced settings</a></li>
                    <li>Copy your YouTube Channel ID (ex. UDXbl6MIWEUrk6uThJi7KLr)</li>
                    <li><a href="/Home/SignUp" style="color: #AAAAFF">Create a <strong>StreamTutor</strong> account</a> on <strong>StreamWork</strong> using your YouTube Channel ID</li>
                </ol>
                <strong>On OBS:</strong>
                <ol start="4">
                    <li>Install <a href="https://obsproject.com/" style="color: #AAAAFF">Open Broadcast Software (OBS)</a></li>
                    <li>Go to Settings/Stream/Stream Key</li>
                    <li>Input your Stream Key from your YouTube account's <a href="https://www.youtube.com/live_dashboard" style="color: #AAAAFF">Live Dashboard</a></li>
                </ol>
                <h4>Every Time Streaming</h4>
                <strong>On OBS:</strong>
                <ol>
                    <li>Begin your stream</li>
                    <li>Copy the stream URL</li>
                </ol>
                <strong>On StreamWork:</strong>
                <ol start="3">
                    <li><a href="https://www.streamwork.live/Home/Login" style="color: #AAAAFF">Login</a> to your profile to set up the stream</li>
                    <li>Input the stream information, including the Stream URL copied from OBS</li>
                    <li>Go live!</li>
                </ol>
            </div>
            <div class="d-none d-md-block col-3"></div>
            <div class="d-block d-md-none col-12" style="background-color: #006565; color: white;">
                <h2 style="text-align: center"><img src="~/images/streamworkPencilWhite.png" style="height: 104px; width: 72px;" />&nbsp;How to Stream</h2> <br />
                <strong>On YouTube:</strong>
                <ol>
                    <li>Visit your account's <a href="https://www.youtube.com/account_advanced" style="color: #AAAAFF">advanced settings</a></li>
                    <li>Copy your YouTube Channel ID (ex. UDXbl6MIWEUrk6uThJi7KLr)</li>
                </ol>
                <strong>On Open Broadcaster Software:</strong>
                <ol start="3">
                    <li>Input your Stream Key from your YouTube account's <a href="www.youtube.com/live_dashboard" style="color: #AAAAFF">Live Dashboard</a></li>
                    <li>Begin the stream</li>
                </ol>
                <strong>On StreamWork:</strong>
                <ol start="5">
                    <li><a href="https://www.streamwork.live/Home/Login" style="color: #AAAAFF">Login</a> to your profile to set up the stream and Go Live!</li>
                </ol>
            </div>
        </div>
        <div class="row py-4"></div>
    </div>
</div>