@model StreamWork.ViewModels.DefaultViewModel

@{ViewData["Title"] = "How to Stream";}

<div class="container-fluid" style="padding-top:75px">
    <div class="row">
        <div class="col-lg-1 col-md-0 col-sm-0"></div>
        <div class="col-lg-10 col-md-12 col-sm-12">
            <div class="card" style="background-color: #006565;">
                <div class="card-body">
                    <div class="d-none d-md-block col-3"></div>
                    <div class="  p-5" style="background-color: #006565; color: white; text-align: justify;">
                        <img src="/images/streamworkPencilWhite.png" style="height: 104px; width: 72px; margin-left:auto; margin-right:auto;display:block">
                        <br />
                        <h2 style="text-align:center">How To Stream</h2> <br />
                        <h4>Initial Setup</h4>
                        <div style="text-align:left">
                        <ol start="1">
                            <li>Install <a href="https://obsproject.com/" style="color: #AAAAFF">Open Broadcast Software (OBS)</a></li>
                            <li><a href="/Home/SignUp" style="color: #AAAAFF">Create a <strong>StreamTutor</strong> account</a> on <strong>StreamWork</strong> using an active email</li>
                            <li>We will then verify your qualifications and provide you with a stream key, username and password for OBS within 1-2 business days</li>
                        </ol>
                        <strong>Once you have received your OBS information:</strong>
                        <ol start="4">
                            <li>Go to Settings/Stream on OBS</li>
                            <li>In the dropdown box labeled "Service" make sure that it is set to "Custom"</li>
                            <li>In box labeled "Server" copy and paste the RTMP url that you were provided</li>
                            <li>In box labeled "StreamKey" copy and paste the stream key that you were provided</li>
                            <li>Check "Use Authentication"</li>
                            <li>Enter the username and password that you were provided</li>
                            <li>Login into your StreamWork account and navigate to "Start Streaming"</li>
                            <li>Enter the channel key that you were provided with</li>
                        </ol>
                        <h4>Every Time Streaming</h4>
                        <strong>On OBS:</strong>
                        <ol>
                            <li>Start your stream</li>
                        </ol>
                        <strong>On StreamWork:</strong>
                        <ol start="3">
                            <li><a href="https://www.streamwork.live/Home/Login?-Home-Profile" style="color: #AAAAFF">Login</a> to your profile and you will see your stream playing on "Start Streaming"</li>
                            <li>Enter the stream title and what subject you're streaming</li>
                            <li>Go live!</li>
                        </ol>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#nav").click(function () {

            $("#navbarText").slideToggle();

        });
    });
</script>