@model StreamWork.ViewModels.IndexViewModel

@{Layout = "_LayoutFooter";}
@{ViewData["title"] = "Home";}

<div class="container-fluid margin-custom">
    <div class="row">
        <div class="col-12">
            <img style="margin-top:50px; width:100%; max-width:450px" class="d-block mr-auto ml-auto" src="~/images/StreamWorkWhite.svg" />
            <p class="text-center" style="color:white; font-size:20px;"><i>"Study smarter, not harder."</i></p>
            <p class="text-center mt-4 ml-auto mr-auto" style="color:white; max-width:450px">StreamWork is an academic live-streaming platform where hundreds of students come together to chat, tutor, and learn with classmates and friends.</p>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-6" style="margin-top: 50px">
            <div class="d-block mr-auto ml-auto">
                <p style="color:white;">Join our mailing list to be notified when we launch.</p>
                <div class="d-flex">
                    <form id="email-form" style="width:100%">
                        <input id="email" class="form-control" align="center" type="email" placeholder="you@email.com" style="width:100%; border-top-left-radius:5px; border-bottom-left-radius:5px; border-top-right-radius:0px; border-bottom-right-radius:0px; padding-left: 10px;" required />
                    </form>
                    <button class="streamWorkPrimary text-size" onclick="RecordEmail()">Sign Up</button>

                </div>
                <p id="email-valid" class="text-center mt-3" style="color:red;">Please enter a valid email address</p>
                <p id="confirmation" class="text-center mt-3" style="color:#F9BC60;">Email Saved! We will notify you when we go live.</p>
                <p id="confirmation-fail" class="text-center mt-3" style="color:red;">Hmmm, something went wrong.</p>
                <script>$('#email-valid').hide()</script>
                <script>$('#confirmation').hide()</script>
                <script>$('#confirmation-fail').hide()</script>
            </div>
        </div>
        <div class="col-12">
            <p class="text-center" style="color:white; font-size:20px; margin-top:100px; margin-bottom:50px;">Get schooled on September 1, 2020</p>
        </div>
    </div>
</div>

<style>
    .form-control:focus {
        outline: none !important;
        border: 2px solid #008080 !important;
    }

    .someElement {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        margin: -100px 0 0 -100px;
    }

</style>

<script>
    function RecordEmail() {
        debugger;
        var form = $('#email-form');
        if (!form[0].checkValidity()) {
            $('#email-valid').fadeIn().delay(3000).fadeOut()
            return
        }

        $.ajax({
            url: '/Home/RecordEmail',
            type: 'post',
            dataType: 'json',
            data: {
                'email': $('#email').val()
            },
            success: function (data) {
                if (data.message === "Success") {
                    $('#confirmation').fadeIn().delay(3000).fadeOut()
                }
                else {
                    $('#confirmation-fail').fadeIn().delay(3000).fadeOut()
                }

                $('#email').val("");
            }
        });
    }
</script>