<div class="text-right mt-4" >
    <div class="col-sm-10"></div>
    <div class="col-sm-2 btn-group m-0">
        <button class="btn buttonStyleSignIn">Sign Up</button>
        <button class="btn buttonStyleLogin">Login</button>
    </div>
</div>

<div class="container">
    <div class="mt-sm-4">
        <div class="text-center">
            <img src="~/images/StreamWorkLogo (2).png" width="317" height="83" />         
                <p><font size="3"><i>online livestream tutoring</i></font></p>
                <div class="mt-sm-4">
                    <p><font size="3"><b>I'm a student and I need help with...</b></font></p>
                </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-6 btn-group">
                <div class="mr-3">
                    <button class="btn buttonStyle" onclick="window.open('http://localhost:58539/Home/Math')">MATHEMATICS</button>
                </div>
                <div class="mr-3">
                    <button class="btn buttonStyle" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/Home/Literature')">LITERATURE</button>
                </div>
                <div class="mr-3">
                    <button class="btn buttonStyle" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/Home/Engineering')">ENGINEERING</button>
                </div>
                <div class="mr-3">
                    <button class="btn buttonStyle" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/Home/DesignArt')">DESIGN & ART</button>
                </div>
            </div>

            <div class="pt-3">
                <div class="col-xs-3"></div>
                <div class="col-xs-6 btn-group">

                    <div class="mr-3">
                        <button class=" btn buttonStyle" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/Home/Science')">SCIENCE</button>
                    </div>
                    <div class="mr-3">
                        <button class="btn buttonStyle" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/Home/Business')">BUSINESS</button>
                    </div>
                    <div class="mr-3">
                        <button class="btn buttonStyle" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/Home/Programming')">PROGRAMMING</button>
                    </div>
                    <div class="mr-3">
                        <button class=" btn buttonStyle" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/Home/Other')">OTHERS...</button>
                    </div>

                </div>
            </div>
            <h1><font size="3"><b>I'm a tutor and I would like to help other students by</b> </font></h1>
            <button class=" btn buttonStyletutor">STARTING A BROADCAST</button>
            <div class="mt-4">
                <p style="font-size:11px;">
                    Made for ASU Tempe Undergrads,
                    StreamWork is an online educational platform which <br />provides interactive peer-to-peer teaching and tutoring through livestream sessions.<br />
                    Unlike mega-corporations like Youtube and Twitch which provide non-educational<br /> focused streaming among other things.

                </p>              
                    <button class="btn buttonStyleLearning">Learn more about StreamWork</button>
            </div>
        </div>
         <div class=" text-left fixed-bottom ">
                <div class="col-sm-12 ">
                    <p><font size="1">Copyright 2017-2018 StreamWork Inc. All rights reserved</font></p>
                </div>
            </div>
    </div>
</div>
