@model StreamWork.ViewModels.ProfileTutorViewModel

@{ViewData["title"] = "Home";}

<div class="container-fluid" style="background: linear-gradient(to bottom, #008080 60%, white 0%); max-width:2400px">
    <br />
    <br />
    <p class="text-center" style="color: white "><font size="3"><b>I'm a student and I need help with...</b></font></p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container-fluid" style="max-width:1500px">
        <div class="row">
            <div class="col-lg-8">
                <p style="color:white; font-size:12px; ">Homework - Tutoring - Streaming</p>
                <div class="display-4" style="font-family: 'Roboto Slab', serif; color:white"><b>End your homework <br /> Procrastination <span><u>Tonight.</u></span><span style='font-size:50px; margin-left:20px'>&#127881;</span></b></div>
                <br />
                <p style="color:white; font-size:12px">Streamwork is a revolutionary tool used to make learning easier, <br /> for everyone. Whether it's looking up exam help or specific homework <br /> answers, find it all here. </p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div id="StreamContainer" class="container-fluid" style=" background-color:whitesmoke; border-radius:10px; max-width:1500px">
        <div class="row">
            <div class="col-lg-2 col-md-2 mt-3 mb-3">
                <div class="card p-0" style="height:450px">
                    <input class="mt-3" type="image" data-toggle="dropdown" src="~/images/RithvikArun.jpeg" style="width:75px; height:95px; border-top-left-radius:5%; border-bottom-left-radius:5%; display:block; margin-left:auto; margin-right:auto" />
                    <h6 class="text-center mt-3" style="font-family: 'Roboto Slab', serif; color:black"><b>Rithvik Arun</b></h6>
                    <br />
                    <a class="btn" style="background-color:#006565; width:100px; font-size:15px; color:white; display:block; margin-left:auto; margin-right:auto" ; onclick="window.location.href='/Home/Login?dest=-Home-Profile'"><b>Follow</b></a>
                    <a class="btn mt-1" style="background-color:#006565; width:100px; font-size:15px; color:white; display:block; margin-left:auto; margin-right:auto" ; onclick="window.location.href='/Home/Login?dest=-Home-Profile'"><b>Profile</b></a>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-3 mb-3 p-0">
                <div class="card" style="border-radius:5%; border:none;">
                    <iframe src="//iframe.dacast.com/b/135034/c/799098" height="375" style="border:none"></iframe>
                    <div class="card-body p-0" style="background-color:white; height:75px; border:none;">
                        <div class="row">
                            <div class="col-2 pr-2">
                                <input type="image" style="border-radius:5%; width:50px; margin-left:10px; margin-top:10px; height:60px;" />
                            </div>
                            <div class="col-10" style="color:white;">
                                <h5 class="text-truncate" style="font-family: 'Roboto'; font-size:20px; margin-left:20px; margin-top:10px;"></h5>
                                <h6 class="text-truncate" style="font-family: 'Roboto'; font-size:14px;margin-left:20px;"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 mt-3">
                <iframe src="https://www6.cbox.ws/box/?boxid=829647&boxtag=oq4rEn&tid=42&tkey=099ca5b8c1f4b258b2def31d984a6e58" width="100%" height="450" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
            </div>
        </div>
        <hr />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>
<br />
<br />
<br />
<div class="container-fluid" style="max-width:1525px">
    <div class="card" style="background-color:#e8f4f8">
        <div class="row p-4">
            <div class="col-lg-10 col-md-12">
                <div>
                    <img class="ml-3" src="~/images/pencil.svg" height="70" onclick="window.location.href='/'" onmouseover="" style="cursor: pointer; float:left; margin-right:30px" />
                    <h3 class="mt-3 ml-3" style="font-family: 'Roboto Slab', serif; color:black"><b>Find out how StreamWork can help you!</b></h3>
                    <p>Intrested? Try out our free trial and learn at a higher level!</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mt-4">
                <button class="uploadbtn">Free Trial</button>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="card" style="background-color:whitesmoke">
        <div class="row p-4">
            <div class="col-lg-8 col-lg-8">
                <div class="card-title">
                    <h3 class="mt-4 ml-3" style="font-family: 'Roboto Slab', serif; color:black"><b>Topics</b></h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 mt-2" align="center">
                    <input class="zoom" type="image" src="~/images/MathCard.png" style="width:90%; height:95%; cursor: pointer;" ; onclick="window.location.href='/Home/Subject?s=Mathematics'" onmouseover="" />
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-2" align="center">
                    <input class="zoom" type="image" src="~/images/ScienceCard.png" style="width:90%; height:95%; cursor: pointer;" onclick="window.location.href='/Home/Subject?s=Science'" onmouseover="" />
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-2" align="center">
                    <input class="zoom" type="image" src="~/images/EngineeringCard.png" style="width:90%; height:95%; cursor: pointer;" onclick="window.location.href='/Home/Subject?s=Engineering'" onmouseover="" />
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-2" align="center">
                    <input class="zoom" type="image" src="~/images/BuisnessCard.png" style="width:90%; height:95%; cursor: pointer;" onclick="window.location.href='/Home/Subject?s=Business'" onmouseover="" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 mt-5" align="center">
                    <input class="zoom" type="image" src="~/images/LawCard.png" style="width:90%; height:95%; cursor: pointer;" onclick="window.location.href='/Home/Subject?s=Law'" onmouseover="" />
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-5" align="center">
                    <input class="zoom" type="image" src="~/images/ArtCard.png" style="width:90%; height:95%; cursor: pointer;" onclick="window.location.href='/Home/Subject?s=Art'" onmouseover="" />
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-5" align="center">
                    <input class="zoom" type="image" src="~/images/HumanitiesCard.png" style="width:90%; height:95%; cursor: pointer;" onclick="window.location.href='/Home/Subject?s=Humanities'" onmouseover="" />
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mt-5" align="center">
                    <input class="zoom" type="image" src="~/images/OtherCard.png" style="width:90%; height:95%; cursor: pointer;" onclick="window.location.href='/Home/Subject?s=Other'" onmouseover="" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="card" style="background-color:#e8f4f8">
        <div class="row p-4">
            <div class="col-lg-10 col-md-12">
                <div>
                    <img class="ml-3" src="~/images/Tutor.png" height="80" onclick="window.location.href='/'" onmouseover="" style="cursor: pointer; float:left; margin-right:30px" />
                    <h3 class="mt-3 ml-3" style="font-family: 'Roboto Slab', serif; color:black"><b>Already a StreamTutor?</b></h3>
                    <p>Intrested? Try out our free trial and learn at a higher level!</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mt-4">
                <button class="uploadbtn">Start Streaming</button>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="card" style="background-color:white; border:none">
        <div class="row p-4">
            <div class="col-lg-7">

            </div>
            <div class="col-lg-5">
                <p style="color:black; font-size:12px; ">Homework - Tutoring - Streaming</p>
                <div class="display-4" style="font-family: 'Roboto Slab', serif; color:black"><b>Education <br /> meets <br /> innovation.</b></div>
                <br />
                <p style="color:black; font-size:12px">Streamwork is a revolutionary tool used to make learning easier, <br /> for everyone. Whether it's looking up exam help or specific homework <br /> answers, find it all here. </p>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="card" style="background-color:whitesmoke">
        <div class="row p-4">
            <div class="col-lg-6 ml-4">
                <p style="color:black; font-size:12px; ">Homework - Tutoring - Streaming</p>
                <div class="display-4" style="font-family: 'Roboto Slab', serif; color:black"><b>How can <br /> our Streams <br /> Work for you?</b></div>
                <br />
                <p style="color:black; font-size:12px">Streamwork is a revolutionary tool used to make learning easier, <br /> for everyone. Whether it's looking up exam help or specific homework <br /> answers, find it all here. </p>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

<script>$(document).ready(function () {

        $("#nav").click(function () {
            $("#navbarText").slideToggle();
        });
    });</script>

<style>


    .subjectCard:hover {
        box-shadow: 10px 10px grey;
    }
</style>
