
<nav class="navbar navbar-expand-lg navbar-light  text-center">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" id="nav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item m-2" style="font-size:14px;">
                <a class="btn buttonStyleSignIn pt-2" onclick="window.location.href='Home/SignUp'" id="sign">Sign Up</a>
            </li>
            <li class="nav-item m-2" style="font-size:14px;">
                <a class="btn buttonStyleLogin pt-2" onclick="window.location.href='Home/Login'" style="background-color:#008080; color:white">Login</a>
            </li>
        </ul>
    </div>
</nav>
<section class="jumbotron text-center" style="background-color:white">
    <div class="container">
        <img src="~/images/streamworklogo.png" width="317" height="87" />
        <p><font size="3"><i>online livestream tutoring</i></font></p>
        <p><font size="3"><b>I'm a student and I need help with...</b></font></p>
        <div class="row">
            <div class="col-lg-3 mt-2" align="center">
                <div class="card" style="height:18rem; width:15rem; border:none" onclick="window.location.href='Home/Math'">
                    <img class="card-img-top" src="~/images/MathCard.png" alt="Card image" style="width:100%; height:100%">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-2" align="center">
                <div class="card" style="height:18rem; width:15rem; border:none" onclick="window.location.href='Home/Science'">
                    <img class="card-img-top" src="~/images/SCard.png" alt="Card image" style="width:100%; height:100%">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-2" align="center">
                <div class="card" style="height:18rem; width:15rem; border:none" onclick="window.location.href='Home/Engineering'">
                    <img class="card-img-top" src="~/images/EnCard.png" alt="Card image" style="width:100%; height:100%">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-2" align="center">
                <div class="card" style="height:18rem; width:15rem; border:none" onclick="window.location.href='Home/Business'">
                    <img class="card-img-top" src="~/images/BuCard.png" alt="Card image" style="width:100%; height:100%">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mt-3" align="center">
                <div class="card" style="height:18rem; width:15rem; border:none" onclick="window.location.href='Home/Law'">
                    <img class="card-img-top" src="~/images/LawCard.png" alt="Card image" style="width:100%; height:100%;">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-3" align="center">
                <div class="card" style="height:18rem; width:15rem; border:none" onclick="window.location.href='Home/DesignArt'">
                    <img class="card-img-top" src="~/images/ArtCard.png" alt="Card image" style="width:100%; height:100%">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-3" align="center">
                <div class="card" style="height:18rem; width:15rem; border:none" onclick="window.location.href='Home/Humanities'">
                    <img class="card-img-top" src="~/images/HumanitiesCard.png" alt="Card image" style="width:100%; height:100%">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-3" align="center">
                <div class="card" style="height:18rem; width:15rem; border:none" onclick="window.location.href='Home/Other'">
                    <img class="card-img-top" src="~/images/OCard.png" alt="Card image" style="width:100%; height:100%">
                    <div class="card-img-overlay">


                    </div>
                </div>
            </div>
        </div>
        <h1><font size="3"><b>I'm a tutor and I would like to help other students by</b> </font></h1>
        <img src="~/images/StartBroadcast.png" style="width:250px" onclick="window.location.href='Home/Login'" />
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-sm-12 col-lg-4">
                <p style="font-size:11px" class="mt-4">
                    Made for ASU undergrads, StreamWork is an online educational platform which provides interactive peer-to-peer teaching and tutoring through live-stream sessions. Our tutors are committed to bringing the minds of students together, building on each other’s knowledge to reach academic success. StreamWork is dedicated to academic integrity and does not tolerate cheating in any form.
                </p>
            </div>
        </div>
    </div>
</section>
<script>var x = 1;
    $(document).ready(function () {

        $("#nav").click(function () {

            $("#navbarText").slideToggle();

        });
    });</script>