@model StreamWork.ViewModels.ProfileTutorViewModel

@{ViewData["title"] = "Home";}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="container-fluid" style="background-color:#008080;">
                    <div class="row">
                        <div class="col-lg-12">
                            <br />
                            <br />
                            <p class="text-center" style="color:white"><font size="3"><b>I'm a student and I need help with...</b></font></p>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <p style="color:white; font-size:12px">Homework - Tutoring - Streaming</p>
                                        <div class="display-4" style="font-family: 'Roboto Slab', serif; color:white"><b>End your homework <br /> Procrastination Tonight</b></div>
                                        <br />
                                        <p style="color:white; font-size:12px">Streamwork is a revolutionary tool used to make learning easier, <br /> for everyone. Whether it's looking up exam help or specific homework <br /> answers, find it all here. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    


<script>
    $(document).ready(function () {

        $("#nav").click(function () {

            $("#navbarText").slideToggle();

        });
    });

    
</script>

<style>
    .subjectCard:hover {
        box-shadow: 10px 10px grey;
    }
</style>
