<!DOCTYPE html>

<html>
<head>
</head>
<body>

    <div class="body-center">
        <img src="~/images/StreamWorkLogo (2).png" width="317" height="87" />
    </div>
    <div class="body-center2">
        <h1><font size="3"><i>online livestream tutoring</i></font></h1>
    </div>
    <div class="body-center">
        <h1><font size="3"><b>I'm a student and I need help with...</b></font></h1>
    </div>
    <div class="parent">
        <div class="Math">
            <button class="buttonStyle" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/Home/Math')">MATHEMATICS</button>
        </div>
        <div class="Literature">
            <button class="buttonStyle" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/Home/Literature')">LITERATURE</button>
        </div>
        <div class="Engineering">
            <button class="buttonStyle" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/Home/Engineering')">ENGINEERING</button>
        </div>
        <div class="DesignArt">
            <button class="buttonStyle" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/Home/DesignArt')">DESIGN & ART</button>
        </div>
    </div>
    <div class="parent">
        <div class="Science">
            <button class="buttonStyle" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/Home/Science')">SCIENCE</button>
        </div>
        <div class="Business">
            <button class="buttonStyle" onclick="window.open('http://localhost:58539/Home/Business')">BUSINESS</button>
        </div>
        <div class="Programming">
            <button class="buttonStyle" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/Home/Programming')">PROGRAMMING</button>
        </div>
        <div class="Others">
            <button class="buttonStyle" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/Home/Other')">OTHERS...</button>
        </div>
    </div>
    <div class="body-center">
        <h1><font size="3"><b>I'm a tutor and I would like to help other students by</b> </font></h1>
    </div>
    <div class="Tutor">
        <button class="buttonStyletutor">STARTING A BROADCAST</button>
    </div>
    <div class="body-center4">
        <p style="font-size:11px;line-height:1;" align="center">
            Made for ASU Tempe Undergrads,
            StreamWork is an online educational platform which <br />provides interactive peer-to-peer teaching and tutoring through livestream sessions.<br />
            Unlike mega-corporations like Youtube and Twitch which provide non-educational<br /> focused streaming among other things.
        </p>
    </div>
    <div class="LearningStreamWork">
        <button class="buttonStyleLearning">Learn more about StreamWork</button>
    </div>
    <div class="SignInLoginPos">
        <button class="buttonStyleSignIn">Sign In</button>
        <button class="buttonStyleLogin">Join StreamWork</button>
    </div>
</body> 


</html>

