

<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item m-2" style="font-size:14px; ">
                <a class="btn buttonStyleSignIn" onclick="window.location.href='Home/SignUp'">Sign Up</a>
            </li>
            <li class="nav-item m-2" style="font-size:14px;">
                <a class="btn buttonStyleLogin" onclick="window.location.href='Home/Login'">Login</a>
            </li>
        </ul>
    </div>
</nav>
<section class="jumbotron text-center" style="background-color:white">
    <div class="container">
        <img src="~/images/StreamWorkLogo (2).png" width="317" height="83" />
        <p><font size="3"><i>online livestream tutoring</i></font></p>
        <p><font size="3"><b>I'm a student and I need help with...</b></font></p>
        <p>
            <a href="#" class="btn buttonStyle m-1" onclick="window.location.href='Home/Math'">MATHEMATICS</a>
            <a href="#" class="btn buttonStyle m-1"  onclick="window.location.href='Home/Literature'">LITERATURE</a>
            <a href="#" class="btn buttonStyle m-1"onclick="window.location.href='Home/Engineering'">ENGINEERING</a>
            <a href="#" class="btn buttonStyle m-1" onclick="window.location.href='Home/DesignArt'">DESIGN & ART</a>
        </p>
        <p>
            <a href="#" class="btn buttonStyle m-1" onclick="window.location.href='Home/Science'">SCIENCE</a>
            <a href="#" class="btn buttonStyle m-1" onclick="window.location.href='Home/Business'">BUSINESS</a>
            <a href="#" class="btn buttonStyle m-1" onclick="window.location.href='Home/Programming'">PROGRAMMING</a>
            <a href="#" class="btn buttonStyle m-1" onclick="window.location.href='Home/Other'">OTHERS...</a>
        </p>
        <h1><font size="3"><b>I'm a tutor and I would like to help other students by</b> </font></h1>
        <a href="#" class=" btn buttonStyletutor">STARTING A BROADCAST</a>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-sm-12 col-lg-4">
                <p style="font-size:11px" class="mt-4">
                    Made for ASU Tempe Undergrads,
                    StreamWork is an online educational platform which provides interactive peer-to-peer teaching and tutoring through livestream sessions.
                    Unlike mega-corporations like Youtube and Twitch which provide non-educational focused streaming among other things.
                </p>
            </div>
        </div>
        <p class="float-md-left">
            <font size="1">Copyright 2017-2018 StreamWork Inc. All rights reserved</font>
        </p>

</div>
</section>
