
@{
    ViewData["Title"] = "Literature";
}


<div style="font-family:'Roboto', sans-serif;">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="~/images/StreamWorkLogo (2).png" width="250" height="70" onclick="window.location.href='/'" />

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-sm-3" style="font-size:14px;">
                    <a class="nav-link" href="#" style="color:#008080;">Browse by Subjects</a>
                </li>
                <li class="nav-item ml-sm-3" style="font-size:14px;">
                    <a class="nav-link" href="#" style="color:#008080;">Find Tutors</a>
                </li>
                <li class="nav-item ml-sm-3" style="font-size:14px;">
                    <a class="nav-link" href="#" style="color:#008080;">Popular Livestreams</a>
                </li>
                <li class="nav-item ml-sm-3" style="font-size:14px; ">
                    <a class="nav-link" href="#" style="color:#008080;">Become a Tutor</a>
                </li>
                <li class="nav-item ml-sm-3" style="font-size:14px;">
                    <a class="nav-link" href="#" style="color:#008080;">About StreamWork</a>
                </li>
            </ul>
            <span class="navbar-text">
                <a class="ml-sm-3 float-right">Johnny Appleseed</a>
                <br />
                <a class="ml-sm-3 float-right">#student</a>

            </span>
            <span class="dot ml-sm-3"></span>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 style="font-size:7vw; font-family:'Roboto', sans-serif;">Literature</h1>

            </div>
            <div class="col-sm-2 mt-sm-4">

            </div>
            <div class="col-sm-4 mt-sm-5">

            </div>
        </div>
        <div class="row">
            <div class=" col-lg-9 col-sm-12">
                <h5 class=" ">POPULAR LIVESTREAMS</h5>
                <hr />
                <div class="row text-center">
                    <div class="col-sm-4 mt-4">
                        <div class="card" style="height:11rem" onclick="window.location.href='../StreamViews/MathStream'">
                            <img class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title">Calculus I Tutoring: Limits </h5>
                                <p class="card-text" style="font-size:10px">
                                    <b>111,235</b> students were attended<br />
                                    <b>47,371</b> students re-watched
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-4">
                        <div class="card" style="height:11rem" onclick="window.location.href='../StreamViews/MathStream'">
                            <img class="card-img-top">
                            <div class="card-body ">
                                <h5 class="card-title">Calculus II FINAL EXAM Q&A!</h5>
                                <p class="card-text " style="font-size:10px">
                                    <b>123,219</b> students were attended<br />
                                    <b>42,078 </b> students re-watched
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-4">
                        <div class="card" style="height:11rem" onclick="window.location.href='../StreamViews/MathStream'">
                            <img class="card-img-top">
                            <div class="card-body ">
                                <h5 class="card-title">Everything about Circle: Explained</h5>
                                <p class="card-text " style="font-size:10px">
                                    <b>123,219</b> students were attended<br />
                                    <b>42,078 </b> students re-watched
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-4">
                        <div class="card" style="height:11rem" onclick="window.location.href='../StreamViews/MathStream'">
                            <img class="card-img-top" />
                            <div class="card-body">
                                <h5 class="card-title">Calculus I Tutoring: Limits </h5>
                                <p class="card-text" style="font-size:10px">
                                    <b>111,235</b> students were attended<br />
                                    <b>47,371</b> students re-watched
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-4">
                        <div class="card" style="height:11rem" onclick="window.location.href='../StreamViews/MathStream'">
                            <img class="card-img-top">
                            <div class="card-body ">
                                <h5 class="card-title">Calculus II FINAL EXAM Q&A!</h5>
                                <p class="card-text " style="font-size:10px">
                                    <b>123,219</b> students were attended<br />
                                    <b>42,078 </b> students re-watched
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-4">
                        <div class="card" style="height:11rem" onclick="window.location.href='../StreamViews/MathStream'">
                            <img class="card-img-top">
                            <div class="card-body ">
                                <h5 class="card-title">Everything about Circle: Explained</h5>
                                <p class="card-text " style="font-size:10px">
                                    <b>123,219</b> students were attended<br />
                                    <b>42,078 </b> students re-watched
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <h6 class="mt-1">TOP LITERATURE STREAMTUTORS</h6>
                <hr />
                <div class="row pt-3">
                    <div class="col-3"></div>
                    <div class="dot col-6"></div>
                    <div class="col-sm-12 text-center">
                        <p>ThatAlogrithmGirl</p>
                        <p style="font-size:12px;">
                            In the world of Computer Science and Math.
                        </p>
                        <p style="font-size:12px;"><b>999,967</b> student fans</p>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col-3"></div>
                    <div class="dot col-6"></div>
                    <div class="col-sm-12 text-center">
                        <p>ThatAlogrithmGirl</p>
                        <p style="font-size:12px;">
                            In the world of Computer Science and Math.
                        </p>
                        <p style="font-size:12px;"><b>999,967</b> student fans</p>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-3"></div>
                    <div class="dot col-6"></div>
                    <div class="col-sm-12 text-center">
                        <p>ThatAlogrithmGirl</p>
                        <p style="font-size:12px;">
                            In the world of Computer Science and Math.
                        </p>
                        <p style="font-size:12px;"><b>999,967</b> student fans</p>
                    </div>
                </div>
                <div class="text-center pt-lg-2 pt-sm-4">
                    <button class="btn buttonStyleLearning">See all 2,019 math StreamTutor</button>
                    <p style="font-size:12px">Joseph, as a student who get help from Streamwork, you can also be a StreamTutor at the same time - no extra Streamwork account needed!</p>
                    <button class="btn buttonStyles mb-sm-3"> I WANT TO BE A STREAMTUTOR </button>
                </div>
            </div>
        </div>
    </div>

</div>
