@{Layout = "_LayoutNoNavbar";}
@{ViewData["title"] = "Login";}

<br />
<br />
<br />
<form class="form-sign" style="margin-top:7%">
    <div class=" text-center">
        <a href="/"><img src="~/images/streamworklogo.png" width="250" height="70"/></a>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Username" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password">
        <br />
        <input class="streamWorkPrimary" type="button" value="Login" style="width:300px;" onclick="Login()">
        <br />
        <div class="pt-2"> Don't have an account?  <a href="/Home/PickStudentOrTutor" style="color: rgb(0,160,160)">Sign Up!</a> </div>
        <br />
        <div class="pt-2"> Forgot Password?  <a href="/Home/PasswordRecovery" style="color: rgb(0,160,160)">Click Here</a> </div>
    </div>
</form>
<script>
    document.getElementById('username').onkeydown = function (event) {
        if (event.keyCode == 13) {
            Login();
        }
    }
    document.getElementById('password').onkeydown = function (event) {
        if (event.keyCode == 13) {
            Login();
        }
    }
</script>