@{
    ViewData["Title"] = "ProfileTutor";
}

<br />
<br />
<br />
<br />
<br />
<br />
<form class="form-sign">
    <div class=" text-center">
        <img src="~/images/streamworklogo.png" width="250" height="70" onclick="window.location.href='/'" />
        <h5>You have succesfully logged out!</h5>
    </div>
</form>