
@{
    ViewData["Title"] = "Mathematics";
}
<div class="container-fluid">
    <div class="row mt-sm-1 ">
        <div class="col-sm-12">
            <img src="~/images/StreamWorkLogo (2).png" width="250" height="70" />
            <button class="btn buttonStylePages ml-sm-3">Browse by subjects</button>
            <button class="btn buttonStylePages ml-sm-3 ">Find Tutors</button>
            <button class="btn buttonStylePages ml-sm-3">Popular Livestreams</button>          
            <button class="btn buttonStylePages ml-sm-5">Become a Tutor</button> 
            <button class="btn buttonStylePages ml-sm-5">About StreamWork</button>
        </div>
    </div>
</div>
