@{Layout = "_LayoutNoNavbar";}
@{ViewData["Title"] = "Recover Password";}

<script src="~/js/SignUpLogin.js"></script>

<br />
<br />
<br />
<br />
<br />
<br />
<form class="form-sign">
    <div class=" text-center">
        <a href="/"><img src="~/images/streamworklogo.png" width="250" height="70" /></a>
        <h1 class="h3 mb-3 font-weight-normal">Recover Password</h1>
        <input type="text" id="username" class="form-control" placeholder="Username" autofocus="">
        <br />
        <input class="btn btn-lg  btn-block" type="button" value="Recover" style="background-color:#008080; color: white" onclick="RecoverPassword()">
        <br />
        <div class="pt-2"> Don't have an account?  <a href="/Home/PickStudentOrTutor" style="color: rgb(0,160,160)">Sign Up!</a> </div>
    </div>
</form>

<div id="notificationModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: #008080">
                <div class="modal-header">

                    <h5 class="modal-title text-center" style="color:white">Alert!</h5>
                </div>
                <div class="modal-body">
                    <p id="notificationBody" class=" text-center" style="color: white;">It appears you are not a verified StreamTutor! If you are a student, create a separate student account. If you are a StreamTutor, please wait to be approved.</p>
                    <a href="/"><img src="~/images/streamworkPencilWhite.png" style="display:block; margin-left:auto; margin-right:auto;" height="70"/></a>
                </div>
            </div>
        </div>
    </div>