<script src="~/js/SignUpLogin.js"></script>
@{
    ViewData["Title"] = "PasswordRecovery";
}

<br />
<br />
<br />
<br />
<br />
<br />
<form class="form-sign">
    <div class=" text-center">
        <img src="~/images/streamworklogo.png" width="250" height="70" onclick="window.location.href='/'" />
        <h1 class="h3 mb-3 font-weight-normal">Recover Password</h1>
        <input type="text" id="username" class="form-control" placeholder="Username" autofocus="">
        <br />
        <input class="btn btn-lg  btn-block" type="button" value="Recover" style="background-color:#008080; color: white" onclick="RecoverPassword()">
        <br />
        <div class="pt-2"> Don't have an account?  <a href="/Home/PickStudentOrTutor" style="color: rgb(0,160,160)">Sign Up!</a> </div>
    </div>
</form>
