@model StreamWork.ViewModels.DefaultViewModel

@{ViewData["title"] = "Sign Up";}
@{Layout = "_LayoutNoNavbar";}

<div class=" text-center">
    <div class="container-fluid" style="margin-top:7%">
        <a href="/"><img src="~/images/streamworklogo.png" width="250" height="70" /></a>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a class="card mt-3 mb-3 zoom" style="cursor:pointer; background-color:whitesmoke; color: black;" href="/Home/SignUp?type=Student">
                    <div class="card-body">
                        <img src="~/images/Student.png" />
                        <br />
                        <h3 class="card-title" style="font-family: 'Roboto Slab', serif"><b>Student</b></h3>
                        <p class="card-text">Watch educational tutorials on your favorite subjects LIVE with StreamWork! Students can also take advantage of our video archive database which contains previously recorded streams!</p>

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a class="card mt-3 mb-3 zoom" style="cursor:pointer; background-color:whitesmoke; color: black;" href="/Home/SignUp?type=Tutor">
                    <div class="card-body">
                        <img src="~/images/TutorGreen.png" />
                        <h3 class="card-title" style="font-family: 'Roboto Slab', serif"><b>StreamTutor</b></h3>
                        <p class="card-text">Stream your tutoring sessions LIVE for the student viewers with StreamWork! Obtain donations from student viewers to compensate for your streams and maybe get some homework done too!</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>