@model StreamWork.ViewModels.DefaultViewModel

@{ViewData["title"] = "Sign Up";}
@{Layout = "_LayoutNoNavbar";}

<br />
<br />
<br />
<br />
<br />
<br />
<div class=" text-center">
    <br />
    <br />
    <br />
    <div class="container-fluid">
        <img src="~/images/streamworklogo.png" width="250" height="70" onclick="window.location.href='/'" onmouseover="" style="cursor: pointer;" />
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card m-3 zoom" style="cursor:pointer; background-color:whitesmoke" onclick="window.location.href = '/Home/SignUp?type=Student';">
                    <div class="card-body">
                        <img src="~/images/Student.png" />
                        <br />
                        <h3 class="card-title" style="font-family: 'Roboto Slab', serif"><b>Student</b></h3>
                        <p class="card-text">Watch educational tutorials on your favorite subjects LIVE with StreamWork! Students can also take advantage of our video archive database which contains previously recorded streams!</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card mt-3 mb-3 zoom" style="cursor:pointer; background-color:whitesmoke;" onclick="window.location.href='/Home/SignUp?type=Tutor'">
                    <div class="card-body">
                        <img src="~/images/TutorGreen.png" />
                        <h3 class="card-title" style="font-family: 'Roboto Slab', serif"><b>StreamTutor</b></h3>
                        <p class="card-text">Stream your tutoring sessions LIVE for the student viewers. Obtain donations from student viewers to compensate for your hard work and at the same time get some of your homework done!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>