@model StreamWork.DataModels.UserLogin
@{
    ViewData["PickStudentOrTutor"] = "PickStudentOrTutor";
}
<nav class="navbar navbar-expand-lg navbar-light text-center" style="background-color:#008080;">
        <img src="~/images/streamworkPencilWhite.png" height="70" onclick="window.location.href='/'" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" id="nav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
             <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-sm-4 mt-1" style="font-size:15px;">
                    <a class="nav-link" href="/" style="color:white;">Browse by Subjects</a>
                </li>
                <li class="nav-item ml-sm-5 mt-1" style="font-size:15px; ">
                    <a class="nav-link" href="/Home/BecomeTutor" style="color:white;">Become a StreamTutor</a>
                </li>
                <li class="nav-item ml-sm-5 mt-1" style="font-size:15px;">
                    <a id="button" class="nav-link" href="/Home/About" style="color:white;">About</a>
                </li>
                <li class="nav-item ml-sm-5 mt-1" style="font-size:15px;">
                    <a class="nav-link" href="/Home/HowToStream" style="color:white;">How to Stream</a>
                </li>
            </ul>
             @if(@Model == null || Model.LoggedIn == null){
               <ul class="navbar-nav ml-auto">
                <li class="nav-item mt-1 ml-auto" style="font-size:17px;">
                    <a class="btn buttonStyleLogin pt-2" onclick="window.location.href='/Home/Login?dest=-Home-Profile'" style="background-color:white; color:#008080"><b>Login</b></a>
                </li>
            </ul>
            }
        </div>
     </nav>
<br />
<br />
<br />
<br />
<br />
<br />
<div class=" text-center">
    <img src="~/images/streamworklogo.png" width="250" height="70" onclick="window.location.href='/'" />
    <br />
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card mt-3 mb-3">
                    <div class="card-body">
                        <h3 class="card-title"><b>Student</b></h3>
                        <p class="card-text">Watch educational tutorials on your favorite subjects LIVE with StreamWork! Students can also take advantage of our video archive database which contains many recorded streams that students can play back.</p>
                         <button class="btn-info" style="width:150px; height:50px; border-radius:5px; background-color:#008080" onclick="window.location.href='/Home/SignUp?type=Student'">I am a Student!</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card mt-3 mb-3">
                    <div class="card-body">
                        <h3 class="card-title"><b>Tutor</b></h3>
                        <p class="card-text">Stream your tutoring sessions live for the student viewers watching. Obtain donations from student viewers to compensate for your hard work and get paid by StreamWork for your excellent tutoring services.</p>
                        <button class="btn-info" style="width:150px; height:50px; border-radius:5px; background-color:#008080" onclick="window.location.href='/Home/SignUp?type=Tutor'">I am a Tutor!</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>