@model StreamWork.ViewModels.DefaultViewModel

@{ViewData["title"] = "Sign Up";}

<br />
<br />
<br />
<br />
<br />
<br />
<div class=" text-center">
    <img src="~/images/streamworklogo.png" width="250" height="70" onclick="window.location.href='/'" onmouseover="" style="cursor: pointer;" />
    <br />
    <br />
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card mt-3 mb-3">
                    <div class="card-body">
                        <h3 class="card-title"><b>Student</b></h3>
                        <p class="card-text">Watch educational tutorials on your favorite subjects LIVE with StreamWork! Students can also take advantage of our video archive database which contains many recorded streams that students can play back.</p>
                         <button class="btn-info" style="width:150px; height:50px; border-radius:5px; background-color:#008080; cursor: pointer;" onclick="window.location.href='/Home/SignUp?type=Student'" onmouseover="" >I am a Student!</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card mt-3 mb-3">
                    <div class="card-body">
                        <h3 class="card-title"><b>StreamTutor</b></h3>
                        <p class="card-text">Stream your tutoring sessions live for the student viewers watching. Obtain donations from student viewers to compensate for your hard work and get paid by StreamWork for your excellent tutoring services.</p>
                        <button class="btn-info" style="width:150px; height:50px; border-radius:5px; background-color:#008080; cursor: pointer;" onclick="window.location.href='/Home/SignUp?type=Tutor'" onmouseover="" >I am a Tutor!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>