@model StreamWork.Models.UserProfile

@{
    ViewData["Title"] = "ProfileStudent";
}

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="~/images/Stream.png" width="250" height="70" onclick="window.open('/')" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-sm-3" style="font-size:14px;">
                    <a class="nav-link" href="/" style="color:#008080;">Browse by Subjects</a>
                </li>
                <li class="nav-item ml-sm-3" style="font-size:14px;">
                    <a class="nav-link" href="#" style="color:#008080;">Find Tutors</a>
                </li>
                <li class="nav-item ml-sm-3" style="font-size:14px;">
                    <a class="nav-link" href="#" style="color:#008080;">Popular Livestreams</a>
                </li>
                <li class="nav-item ml-sm-3" style="font-size:14px; ">
                    <a class="nav-link" href="/Home/BecomeTutor" style="color:#008080;">Become a Tutor</a>
                </li>
                <li class="nav-item ml-sm-3" style="font-size:14px;">
                    <a class="nav-link" href="/Home/About" style="color:#008080;">About StreamWork</a>
                </li>
            </ul>
            <span class="navbar-text">
                <a class="ml-sm-3 float-right">@Model.FirstName @Model.LastName</a>
                <br />
                <a class="ml-sm-3 float-right">#student</a>
            </span>
            <span class="dot ml-sm-3"></span>
        </div>
    </nav>
</body>


