@model StreamWork.ViewModels.ProfileTutorViewModel

@{
    ViewData["Title"] = "ProfileTutor";
}
<div>
    <div style="font-family:'Roboto', sans-serif;">
        <nav class="navbar sticky-top navbar-expand-lg  text-center" style="background-color:#008080">
            <img src="/images/WhiteStreamWork.png" width="250" height="70" onclick="window.location.href='/'">
            <button class="navbar-toggler" type="button" data-toggle="collapse" id="nav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ml-sm-3" style="font-size:14px;">
                        <a class="nav-link" href="/" style="color:white;">Browse by Subjects</a>
                    </li>
                    <li class="nav-item ml-sm-3" style="font-size:14px;">
                        <a class="nav-link" href="#" style="color:white;">Find Tutors</a>
                    </li>
                    <li class="nav-item ml-sm-3" style="font-size:14px;">
                        <a class="nav-link" href="#" style="color:white;">Popular Livestreams</a>
                    </li>
                    <li class="nav-item ml-sm-3" style="font-size:14px; ">
                        <a class="nav-link" href="/Home/BecomeTutor" style="color:white;">Become a Tutor</a>
                    </li>
                    <li class="nav-item ml-sm-3" style="font-size:14px;">
                        <a id="button" class="nav-link" href="#" style="color:white;">About StreamWork</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid mt-3">
            <div class="row">
                <nav class="col-md-3 d-none d-lg-block sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <div class="card text-center mt-3" style="color:white;">
                                    <div class="card-body" style="background-color:#008080">
                                        <div class="dot" style="display:block; margin-left:auto;margin-right:auto; margin-bottom:5%">
                                            <h6 style="margin-top:45%; margin-bottom:25px">Add Profile Picture</h6>
                                        </div>
                                        <h1 class="card-title">@Model.userProfile.FirstName @Model.userProfile.LastName</h1>
                                        <p class="card-text">Description could go here in the future.</p>
                                        <button id="Broadcast" onclick="myFunction()" class="btn btn-info" data-toggle="modal" data-target="#youtubeStreamKeyPopup">Start Broadcast</button>
                                        <hr />
                                        <h3 class="card-title">Account Summary</h3>
                                        <h6 style="text-align:start" class="m-3">Broadcasts:</h6>
                                        <h6 style="text-align:start" class="m-3">Views:</h6>
                                        <h6 style="text-align:start" class="m-3">Donations:</h6>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                @if (Model.youtubeStreamKeys[0].SubjectStreaming == null)
                {
                    <script>document.getElementById("Broadcast").innerText = 'Start Broadcast';</script>
                    <div id="youtubeStreamKeyPopup" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Start Broadcast</h4>
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>
                                <div class="modal-body" style="align-items:center">
                                    <label>Pick the subject you are streaming:</label>
                                    <br>
                                    <div style="margin-left:10px">
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="PushStream('Math')">MATHEMATICS</a>
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="PushStream('Literature')">LITERATURE</a>
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="PushStream('Design&Art')">DESIGN&ART</a>
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="PushStream('Science')">SCIENCE</a>
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="PushStream('Business')">BUSINESS</a>
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="PushStream('Programming')">PROGRAMMING</a>

                                    </div>
                                    <div style="margin-left:80px">
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="PushStream('Engineering')">ENGINEERING</a>
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="PushStream('Other')">OTHER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <script>document.getElementById("Broadcast").innerText = 'Stop/Change Broadcast';</script>
                    <div id="youtubeStopChangePopup" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Stop/Change Broadcast</h4>
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>
                                <div class="modal-body" style="align-items:center">
                                    <button style="display:block; margin-left:auto; margin-right:auto" type="button" onclick="StopStream('Stop')" class="btn btn-info btn-lg" data-toggle="modal" data-target="#youtubeStopChangePopup">Stop Broadcast</button>
                                </div>
                                <div class="modal-body" style="align-items:center">
                                    <label>Pick the subject you want to change to:</label>
                                    <br>
                                    <div style="margin-left:10px">
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="ChangeStream('Math')">MATHEMATICS</a>
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="ChangeStream('Literature')">LITERATURE</a>
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="ChangeStream('Design&Art')">DESIGN&ART</a>
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="ChangeStream('Science')">SCIENCE</a>
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="ChangeStream('Business')">BUSINESS</a>
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="ChangeStream('Programming')">PROGRAMMING</a>
                                    </div>
                                    <div style="margin-left:80px">
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="ChangeStream('Engineering')">ENGINEERING</a>
                                        <a style="color:white" class="btn buttonStyle m-1" id="Subject" onclick="ChangeStream('Other')">OTHER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-sm-12 col-md-12 col-lg-9 mt-3">
                    <h3>PAST LIVESTREAMS</h3>
                    <div class="row">
                        @foreach(var stream in Model.archivedVideos){
                        <div class="col-lg-4 col-md-6 mt-4">
                            <input type="image" width="100%" height="80%" src=@stream.StreamThumbnail onclick="window.location.href='../StreamViews/StreamPage?streamKey=' + ('@stream.StreamID');">
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadingPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="align-items:center">
                <h2>Retrieving Stream From Youtube</h2>
                <div style="display:block;margin-left:auto;margin-right:auto;" class="lds-dual-ring"></div>
            </div>
        </div>
    </div>
</div>

<script>
function myFunction() {

        if (document.getElementById('Broadcast').innerText == "Start Broadcast"){
            $('#youtubeStreamKeyPopup').modal('show');
        }
        else{
             $('#youtubeStopChangePopup').modal('show');
        }
   }

   function YoutubeStreamKey() {
       $.ajax({
           url: '/Home/ProfileTutor',
           type: 'post',
           dataType: 'json',
           data: {
               'StreamKey': $("#StreamKey").val(),
           },
           success: function (data) {
               if (data.message === "Success") {

                   window.location.href = '/Home/ProfileTutor';
               } else {

                   alert("Broadcast Failed to Start");
               }
           }
       });
   }

   function StopStream(stop) {
       $.ajax({
           url: '/Home/ProfileTutor',
           type: 'post',
           dataType: 'json',
           data: {
               'Stop': stop
           },
           success: function (data) {
               if (data.message === "Success") {
                   window.location.href = '/Home/ProfileTutor';
                   alert("Your broadcast has stopped");
                   $('#youtubeStreamKeyPopup').modal('hide')
                   document.getElementById("Broadcast").disabled = false;
                   document.getElementById("Broadcast").innerText = 'Start Broadcast';
               } else {

                   alert("Broadcast Failed to Start");
               }
           }
       });
   }

   function PushStream(subject) {
       debugger;
        $('#loadingPopup').modal({
        backdrop: 'static',
        keyboard: false
     });
       document.getElementById("Broadcast").disabled = true;
       $('#youtubeStreamKeyPopup').modal('hide')
       $('#youtubeStopChangePopup').modal('hide');
       $('#loadingPopup').modal('show');
       $.ajax({
           url: '/Home/ProfileTutor',
           type: 'post',
           dataType: 'json',
           data: {
               'Subject': subject
           },
           success: function (data) {
               if (data.message === "Success") {
                   $('#youtubeStreamKeyPopup').modal('hide')
                   $('#loadingPopup').modal('hide')
                   document.getElementById("Broadcast").disabled = false;
                   document.getElementById("Broadcast").innerText = 'Stop/Change Broadcast';
                   alert("Your broadcast has started in " + subject);
                   location.reload();
               }
           }
       });
   }

    function ChangeStream(subject) {
       debugger;
       document.getElementById("Broadcast").disabled = true;
       $('#youtubeStreamKeyPopup').modal('hide')
       $('#youtubeStopChangePopup').modal('hide');
       $.ajax({
           url: '/Home/ProfileTutor',
           type: 'post',
           dataType: 'json',
           data: {
               'Change': subject
           },
           success: function (data) {
               if (data.message === "Success") {
                   $('#youtubeStreamKeyPopup').modal('hide')
                   document.getElementById("Broadcast").disabled = false;
                   document.getElementById("Broadcast").innerText = 'Stop/Change Broadcast';
                   alert("Your broadcast has started in " + subject);
                   x = true;
               }
           }
       });
   }
</script>

<style>
    .dot {
        height: 10vw;
        width: 10vw;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        color: black
    }

    .sidebar {
        height: 100%;
        width: 20%;
        position: fixed;
        z-index: 1;
        top: 85px;
        right: 0;
        background-color: black;
        overflow-x: hidden;
        color: white;
        text-align: center;
    }
</style>


