@{
    var user = "Annika Stephiana";
    ViewData["Title"] = user;
}

<div class="container-fluid">
    <div class="row" style="background-color: #F2F2F2">
        <div class="col-3"> <!--317 x 87 ~ 77-->
            <img src="~/images/StreamWorkLogo (2).png" width="250" height="70" onclick="window.open('/')" />
        </div>
        <div class="col-1"> <button class="btn buttonStylePages mt-3">Browse by subjects</button> </div>
        <div class="col-1"> <button class="btn buttonStylePages mt-3">Find Tutors</button> </div>
        <div class="col-1"> <button class="btn buttonStylePages mt-3">Popular Livestreams</button> </div>
        <div class="col-1"> <img src="~/images/u34.png" class="mt-3 float-right" /> </div>
        <div class="col-1"> <button class="btn buttonStylePages mt-3">Become a Tutor</button> </div>
        <div class="col-1"> <img src="~/images/u34.png" class="mt-3 float-right" /> </div>
        <div class="col-1"> <button class="btn buttonStylePages mt-3">About Streamwork</button> </div>
        <div class="col-1">
            <div class="row">Ok, I'll get</div>
            <div class="row">back to this</div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="row mt-5 ml-1">
                <div style="color: #FFFFFF; background-color: #008080; border-radius: 6px;">
                    &nbsp;TUTOR&nbsp;
                </div>
            </div>
            <div class="row ml-1">
                <h1>
                    Annika <br>
                    Stephiana
                </h1>
            </div>
        </div>
        <div class="col-6">
            <div class="row mt-4">
                <h4><b>LIVESTREAMING NOW</b></h4>
            </div>
            <div class="row">
                <div class="col-6">
                    <button class="streamButtonStyle" style="border:1px solid #000000;"  onclick="window.open('http://localhost:58539/StreamViews/MathStream')"></button>
                </div>
                <div class="col-6">
                    <div class="row">
                        <h2>Calculus II Tutoring</h2>
                    </div>
                    <div class="row">
                        <small>As finals week is approaching, I would like to help you guys with Calculus II! Be sure to sub for more math tutoring livestreams.</small>
                    </div>
                    <div class="aign-text-bottom">
                        40,376 students in this classroom
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                SCHEDULED LIVESTREAM
            </div>
            <div class="row">
                Calculus III Tutoring: Unit 1~3
            </div>
            <div class="row">
                As finals week is approaching, I would like to help you guys with Calculus III! Today we're doing Unit 1~3.
            </div>
            <div class="row">
                Tomorrow, May 29, 2018
            </div>
            <div class="row">
                4:30 p.m. to 6:30 p.m.
            </div>
            <div class="row">
                Reserve image
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="row">
                <p>Mathematics,</p>
                <p>Electrical Engineering,</p>
                <p>Arduino.</p>
            </div>
            <div class="row">
                I love math. I'm an engineer. Hi, I'm Annika, I would like to help people who are in the same place that I was.
            </div>
            <div class="row">
                Joined StreamWork in May 2018
            </div>
            <div class="row">
                image
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                PAST LIVESTREAMS See all her 35 livestreams
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <button class="streamButtonStyle" style="border:1px solid #000000;"  onclick="window.open('http://localhost:58539/StreamViews/MathStream')"></button>
                    </div>
                    <div class="row">
                        Calculus I Tutoring: Limits
                    </div>
                    <div class="row">
                        As finals week is approaching, I would like to help you guys with Calculus I! Today, we're focusing on limits.
                    </div>
                    <div class="row">
                        <p>111,235 students attended</p>
                        <p>47,371 students re-watched</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <button class="streamButtonStyle" style="border:1px solid #000000;"  onclick="window.open('http://localhost:58539/StreamViews/MathStream')"></button>
                    </div>
                    <div class="row">
                        Geometry 101
                    </div>
                    <div class="row">
                        Basics of Geometry. Pre-calculus students or earlier are welcome.
                    </div>
                    <div class="row">
                        <p>679,651 students attended</p>
                        <p>1,476,998 students re-watched</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <button class="streamButtonStyle" style="border:1px solid #000000;"  onclick="window.open('http://localhost:58539/StreamViews/MathStream')"></button>
                    </div>
                    <div class="row">
                        Arduino Smart Lights Workshop: with Motion Sensors!
                    </div>
                    <div class="row">
                        Make you own smart light system! With motion sensors, you can control the light with your body.
                    </div>
                    <div class="row">
                        <p>56,619 students attended</p>
                        <p>73,018 students re-watched</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>