
@{
    ViewData["Title"] = "Programming";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="~/images/StreamWorkLogo (2).png" width="250" height="70" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/')" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-sm-3" style="font-size:14px;">
                <a class="nav-link" href="#" style="color:#008080;">Browse by Subjects</a>
            </li>
            <li class="nav-item ml-sm-3" style="font-size:14px;">
                <a class="nav-link" href="#" style="color:#008080;">Find Tutors</a>
            </li>
            <li class="nav-item ml-sm-3" style="font-size:14px;">
                <a class="nav-link" href="#" style="color:#008080;">Popular Livestreams</a>
            </li>
            <li class="nav-item ml-sm-3" style="font-size:14px; ">
                <a class="nav-link" href="#" style="color:#008080;">Become a Tutor</a>
            </li>
            <li class="nav-item ml-sm-3" style="font-size:14px;">
                <a class="nav-link" href="#" style="color:#008080;">About StreamWork</a>
            </li>
        </ul>
        <span class="navbar-text">
            <a class="ml-sm-3 float-right">Johnny Appleseed</a>
            <br />
            <a class="ml-sm-3 float-right">#student</a>
        </span>
        <span class="dot ml-sm-3"></span>
    </div>
</nav>
<div class="container-fluid">
   
    <div class="row">
        <div class="col-sm-4 mt-sm-4">
            <h1 class="display-3"><b>Programming</b></h1>
        </div>
        <div class="col-sm-2 mt-sm-4">

        </div>
        <div class="col-sm-4 mt-sm-5">
            <div class="topnav btn-group">
                <input type="text" placeholder="Search topics or StreamTutors..">
                <button class="mr-sm-2">Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 mt-sm-4">
            <h5 class="display-">POPULAR LIVESTREAMS</h5>
            <hr />
            <div class="row">
                <div>
                    <div class="ml-sm-3">
                        <canvas width="260" height="175" style="border:1px solid #000000;"></canvas>
                        <p>Calculus I Tutoring: Limits </p>
                        <p style="font-size:12px">
                            <b>111,235</b>students were attended<br />
                            <b>47,371</b> students re-watched
                        </p>

                    </div>
                </div>
                <div>
                    <div class="ml-sm-3">
                        <canvas width="260" height="175" style="border:1px solid #000000;"></canvas>
                        <p>Calculus II FINAL EXAM Q&A!</p>
                        <p style="font-size:12px">
                            <b>123,219</b>   students were attended<br />
                            <b>42,078 </b>students re-watched
                        </p>
                    </div>
                </div>
                <div>
                    <div class="ml-sm-3">
                        <canvas width="260" height="175" style="border:1px solid #000000;"></canvas>
                        <p>Everything about Circle: Explained</p>
                        <p style="font-size:12px">
                            <b>31,415,926</b> students were attended<br />
                            <b>80,008</b> students re-watched
                        </p>
                    </div>
                </div>
                <div>
                    <div class="ml-sm-3">
                        <canvas width="260" height="175" style="border:1px solid #000000;"></canvas>
                        <p>Calculus I Tutoring: Limits </p>
                        <p style="font-size:12px">
                            <b>111,235</b>students were attended<br />
                            <b>47,371</b> students re-watched
                        </p>

                    </div>
                </div>
                <div>
                    <div class="ml-sm-3">
                        <canvas width="260" height="175" style="border:1px solid #000000;"></canvas>
                        <p>Calculus II FINAL EXAM Q&A!</p>
                        <p style="font-size:12px">
                            <b>123,219</b>   students were attended<br />
                            <b>42,078 </b>students re-watched
                        </p>
                    </div>
                </div>
                <div>
                    <div class="ml-sm-3">
                        <canvas width="260" height="175" style="border:1px solid #000000;"></canvas>
                        <p>Everything about Circle: Explained</p>
                        <p style="font-size:12px">
                            <b>31,415,926</b> students were attended<br />
                            <b>80,008</b> students re-watched
                        </p>
                    </div>
                </div>


            </div>



        </div>
        <div class="col-sm-4 mt-sm-4">
            <h5 class="display-">TOP PROGRAMMING STREAMTUTORS</h5>
            <hr />
            <div class="row">
                <div class="dot ml-sm-3">
                </div>
                <div class="col-sm-8">
                    <p>EasyMathMaster3988</p>
                    <p style="font-size:12px;">
                        Don't be a calculoser.
                        I'll help you survive AP Calculus AB/BC!
                    </p>
                    <p style="font-size:12px;"><b>1,623,379</b> student fans</p>
                </div>

            </div>

            <div class="row mt-sm-3">
                <div class="dot ml-sm-3">
                </div>
                <div class="col-sm-8">
                    <p class="mr-sm-5">ThatAlogrithmGirl</p>
                    <p style="font-size:12px;">
                        In the world of Computer Science and Math.
                    </p>
                    <p style="font-size:12px;"><b>999,967</b> student fans</p>
                </div>
            </div>
            <div class="row mt-sm-3">
                <div class="dot ml-sm-3">
                </div>
                <div class="col-sm-8">
                    <p class="mr-sm-5">ThatAlogrithmGirl</p>
                    <p style="font-size:12px;">
                        In the world of Computer Science and Math.
                    </p>
                    <p style="font-size:12px;"><b>999,967</b> student fans</p>
                </div>
            </div>
            <div class="row mt-sm-3">
                <div class="dot ml-sm-3">
                </div>
                <div class="col-sm-8">
                    <p class="mr-sm-5">ThatAlogrithmGirl</p>
                    <p style="font-size:12px;">
                        In the world of Computer Science and Math.
                    </p>
                    <p style="font-size:12px;"><b>999,967</b> student fans</p>
                </div>
            </div>
            <div class="text-center">
                <button class="btn buttonStyleLearning">See all 2,019 math StreamTutor</button>
                <p style="font-size:12px">Joseph, as a student who get help from Streamwork, you can also be a StreamTutor at the same time - no extra Streamwork account needed!</p>
                <button class="btn buttonStyles mb-sm-3"> I WANT TO BE A STREAMTUTOR </button>
            </div>
        </div>

    </div>

</div>

