
@{
    ViewData["Title"] = "Science";
}



<div class="container-fluid">
    <div style=" background-color:lightgray" class="row mt-sm-0">
        <div class="col-sm-9">
            <img src="~/images/StreamWorkLogo (2).png" width="250" height="70" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/')" />
            <div class="btn-group">
                <button class="btn buttonStylePages">Browse by subjects</button>
                <button class="btn buttonStylePages  ">Find Tutors</button>
                <button class="btn buttonStylePages ">Popular Livestreams</button>
                <button class="btn buttonStylePages ml-sm-1 ">Become a Tutor</button>
                <button class="btn buttonStylePages ml-sm-1">About StreamWork</button>
            </div>
        </div>
        <div class="col-sm-2">
            <p class="m-sm-2">
                <b>Johnny AppleSeed</b>
                <button class=" ml-sm-5 buttonStyles1">STUDENT</button>
            </p>


        </div>
        <div class="dot2 m-sm-2"></div>

    </div>
    <div class="row">
        <div class="col-sm-4 mt-sm-4">
            <h1 class="display-3"><b>Science</b></h1>
        </div>
        <div class="col-sm-2 mt-sm-4">

        </div>
        <div class="col-sm-4 mt-sm-5">
            <div class="topnav btn-group">
                <input type="text" placeholder="Search topics or StreamTutors..">
                <button class="mr-sm-2">Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 mt-sm-4">
            <h5 class="display-">POPULAR LIVESTREAMS</h5>
            <hr />
            <div class="row">
                <div>
                    <div class="ml-sm-3">
                        <canvas width="260" height="175" style="border:1px solid #000000;"></canvas>
                        <p>Calculus I Tutoring: Limits </p>
                        <p style="font-size:12px">
                            <b>111,235</b>students were attended<br />
                            <b>47,371</b> students re-watched
                        </p>

                    </div>
                </div>
                <div>
                    <div class="ml-sm-3">
                        <canvas width="260" height="175" style="border:1px solid #000000;"></canvas>
                        <p>Calculus II FINAL EXAM Q&A!</p>
                        <p style="font-size:12px">
                            <b>123,219</b>   students were attended<br />
                            <b>42,078 </b>students re-watched
                        </p>
                    </div>
                </div>
                <div>
                    <div class="ml-sm-3">
                        <canvas width="260" height="175" style="border:1px solid #000000;"></canvas>
                        <p>Everything about Circle: Explained</p>
                        <p style="font-size:12px">
                            <b>31,415,926</b> students were attended<br />
                            <b>80,008</b> students re-watched
                        </p>
                    </div>
                </div>
                <div>
                    <div class="ml-sm-3">
                        <canvas width="260" height="175" style="border:1px solid #000000;"></canvas>
                        <p>Calculus I Tutoring: Limits </p>
                        <p style="font-size:12px">
                            <b>111,235</b>students were attended<br />
                            <b>47,371</b> students re-watched
                        </p>

                    </div>
                </div>
                <div>
                    <div class="ml-sm-3">
                        <canvas width="260" height="175" style="border:1px solid #000000;"></canvas>
                        <p>Calculus II FINAL EXAM Q&A!</p>
                        <p style="font-size:12px">
                            <b>123,219</b>   students were attended<br />
                            <b>42,078 </b>students re-watched
                        </p>
                    </div>
                </div>
                <div>
                    <div class="ml-sm-3">
                        <canvas width="260" height="175" style="border:1px solid #000000;"></canvas>
                        <p>Everything about Circle: Explained</p>
                        <p style="font-size:12px">
                            <b>31,415,926</b> students were attended<br />
                            <b>80,008</b> students re-watched
                        </p>
                    </div>
                </div>


            </div>



        </div>
        <div class="col-sm-4 mt-sm-4">
            <h5 class="display-">TOP SCIENCE STREAMTUTORS</h5>
            <hr />
            <div class="row">
                <div class="dot ml-sm-3">
                </div>
                <div class="col-sm-8">
                    <p>EasyMathMaster3988</p>
                    <p style="font-size:12px;">
                        Don't be a calculoser.
                        I'll help you survive AP Calculus AB/BC!
                    </p>
                    <p style="font-size:12px;"><b>1,623,379</b> student fans</p>
                </div>

            </div>

            <div class="row mt-sm-3">
                <div class="dot ml-sm-3">
                </div>
                <div class="col-sm-8">
                    <p class="mr-sm-5">ThatAlogrithmGirl</p>
                    <p style="font-size:12px;">
                        In the world of Computer Science and Math.
                    </p>
                    <p style="font-size:12px;"><b>999,967</b> student fans</p>
                </div>
            </div>
            <div class="row mt-sm-3">
                <div class="dot ml-sm-3">
                </div>
                <div class="col-sm-8">
                    <p class="mr-sm-5">ThatAlogrithmGirl</p>
                    <p style="font-size:12px;">
                        In the world of Computer Science and Math.
                    </p>
                    <p style="font-size:12px;"><b>999,967</b> student fans</p>
                </div>
            </div>
            <div class="row mt-sm-3">
                <div class="dot ml-sm-3">
                </div>
                <div class="col-sm-8">
                    <p class="mr-sm-5">ThatAlogrithmGirl</p>
                    <p style="font-size:12px;">
                        In the world of Computer Science and Math.
                    </p>
                    <p style="font-size:12px;"><b>999,967</b> student fans</p>
                </div>
            </div>
            <div class="text-center">
                <button class="btn buttonStyleLearning">See all 2,019 math StreamTutor</button>
                <p style="font-size:12px">Joseph, as a student who get help from Streamwork, you can also be a StreamTutor at the same time - no extra Streamwork account needed!</p>
                <button class="btn buttonStyles mb-sm-3"> I WANT TO BE A STREAMTUTOR </button>
            </div>
        </div>

    </div>

</div>

