@{
    ViewData["Title"] = "SplashPage";
}
<div class="section" id="index">
    <div class="container-fluid">
        <div class="row">           
                <img src="~/images/Splash.png" style="width:100%" /> 
        </div>       
    </div>
</div>
