@{Layout = "_LayoutNoNavbar";}
@{ViewData["Title"] = "Unsubscribe";}

<script src="~/js/SignUpLogin.js"></script>

<br />
<br />
<br />
<br />
<br />
<br />
<form class="form">
    <div class=" text-center">
        <a href="/"><img src="~/images/streamworklogo.png" width="250" height="70" /></a>
        <h5 class="m-3 font-weight-normal">You have successfully unsubscribed from email notifications. In order to subscribe again go to "settings" on your dashboard and click "Subscribe To Notifications"</h5>
    </div>
</form>
