@model StreamWork.ViewModels.ProfileStudentViewModel

@{Layout = "_LayoutStudentNavbar";}
@{ViewData["Title"] = "ProfileStudent";}

<script src="~/js/EditProfile.js"></script>
<script src="~/js/Student.js"></script>
<link rel="stylesheet" href="~/css/Student.css"/>

<div class="container">
    <br />
    <br />
    <div class="row">
        <div class="col-1"></div>
        <input type="image" runat="server" src="~/images/MathCard.png" style="width:10%; height:10%;" onclick="FilterStreams('Mathematics')" />
        <input type="image" src="~/images/ScienceCard.png" style="width:10%; height:10%;" onclick="FilterStreams('Science')" />
        <input type="image" src="~/images/EngineeringCard.png" style="width:10%; height:10%;" onclick="FilterStreams('Engineering')" />
        <input type="image" src="~/images/BuisnessCard.png" style="width:10%; height:10%;" onclick="FilterStreams('Business')" />
        <input type="image" src="~/images/LawCard.png" style="width:10%; height:10%;" onclick="FilterStreams('Law')" />
        <input type="image" src="~/images/ArtCard.png" style="width:10%; height:10%;" onclick="FilterStreams('Art')" />
        <input type="image" src="~/images/HumanitiesCard.png" style="width:10%; height:10%;" onclick="FilterStreams('Humanities')" />
        <input type="image" src="~/images/OtherCard.png" style="width:10%; height:10%;" onclick="FilterStreams('Other')" />
    </div>
</div>
<br />
<div class="container" style="width:100%;">
    <h2 class="text-center" style="font-family:'Roboto Slab', serif"><b>Live Streams</b><span class="ml-2"><img id="info" src="~/images/info_icon.png" style="width: 24px; height: 24px; margin-top: -5px;" data-toggle="tooltip" data-placement="right" title="Watch all your favorite educational livestreams here. The best part is that they are all free!" /></span></h2>
    <div class="row">
        @if (Model.UserChannels.ToArray().Length > 0)
        {
            foreach (var videoInfo in Model.UserChannels)
            {
                if (videoInfo.StreamSubject != null)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 streamsubject @videoInfo.StreamSubject">
                        <div class="card mt-3" style="border-radius:5%; border:none;">
                            <iframe src="//iframe.dacast.com/b/135034/c/@videoInfo.ChannelKey" style="width:100%; height:200px; border-top-left-radius:10px; border-top-right-radius:10px;" frameborder="0" scrolling="no" allow="autoplay"></iframe>
                            <div class="card-body p-0" style="background-color:#008080;border-bottom-left-radius:10px; border-bottom-right-radius:10px; border:none; cursor:pointer" onclick="window.location.href='../StreamViews/StreamPage?streamTutorUsername=' + ('@videoInfo.Username')">
                                <div class="row">
                                    <div class="col-12">
                                        <input type="image" style="border-radius:5%; width:50px; margin-left:10px; margin-top:10px; margin-bottom:10px; height:60px; float:left" src=@videoInfo.ProfilePicture />
                                        <h5 class="text-truncate" style="font-family: 'Roboto'; font-size:15px; color:white; margin-left:80px; margin-top:10px;">@videoInfo.StreamTitle</h5>
                                        <h6 class="text-truncate" style="font-family: 'Roboto'; font-size:14px; color:white; margin-left:80px;">@videoInfo.Username</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>

<script>
    $("#info").tooltip();
    $("#info2").tooltip()
</script>

<style>
    .underline:hover{
        text-decoration:underline;
    }
</style>

<script>$(document).ready(function () {

        $("#nav").click(function () {

            $("#navbarText").slideToggle();

        });
    });</script>