@model StreamWork.ViewModels.ProfileStudentViewModel

@{Layout = "_LayoutStudentNavbar";}
@{ViewData["Title"] = "StudentSettings";}

<script src="~/js/EditProfile.js"></script>
<script src="~/js/Settings.js"></script>
<link rel="stylesheet" href="~/css/Student.css" />

<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <br />
            <div class="card" style="background-color: white;">
                <div class="card-header" style="background-color:#008080">
                    <h1 class="text-center" style="color:white; font-family: 'Roboto Slab', serif;">Change Password</h1>
                </div>
                <br />
                <div class="card-body">
                    <form>
                        <input class="form-control mt-4" id="CurrentPassword" type="password" style="width:100%; border-radius:5px" placeholder="Current Password" ; />
                        <input class="form-control mt-4" id="NewPassword" type="password" style="width:100%; border-radius:5px" placeholder="New Password" ; />
                        <input class="form-control mt-4" id="ConfirmPassword" type="password" style="width:100%; border-radius:5px" placeholder="Confirm Password" ; />
                        <br />
                        <br />
                        <button class="streamWorkPrimary" type="button" onclick="EditStudentSecurity()" style="display:block; margin-left:auto; margin-right:auto;">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <br />
            <div class="card" style="background-color: white;">
                <div class="card-header" style="background-color:#008080">
                    <h1 class="text-center" style="color:white; font-family: 'Roboto Slab', serif;">Notifications</h1>
                </div>
                <br />
                <div class="card-body">
                    <form>
                        <h5 class="text-center">Subscribing to notifications will allow for an email to be sent to you when a tutor goes live.</h5>
                        @if (Model.StudentUserProfile.NotificationSubscribe.Equals("True"))
                        {
                            <button id="UnsubscribeButton" class="streamWorkGrey mt-3" type="button" onclick="Unsubscribe('@Model.StudentUserProfile.EmailAddress')" style="display:block; margin-left:auto; margin-right:auto;">Unsubscribe</button>
                            <button id="SubscribeButton" class="streamWorkSecondary mt-3" type="button" onclick="Subscribe('@Model.StudentUserProfile.EmailAddress')" style="display:none; margin-left:auto; margin-right:auto;">Subscribe</button>
                        }
                        else
                        {
                            <button id="UnsubscribeButton" class="streamWorkGrey mt-3" type="button" onclick="Unsubscribe('@Model.StudentUserProfile.EmailAddress')" style="display:none; margin-left:auto; margin-right:auto;">Unsubscribe</button>
                            <button id="SubscribeButton" class="streamWorkSecondary mt-3" type="button" onclick="Subscribe('@Model.StudentUserProfile.EmailAddress')" style="display:block; margin-left:auto; margin-right:auto;">Subscribe</button>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*Notify Modal Fail*@
<div class="modal fade" id="notifyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="background-color:red;">
                <p id="notifyBody" class="text-center p-0 m-0" style="color:white; font-size:16px"></p>
            </div>
        </div>
    </div>
</div>

@*Notify Modal Sucess*@
<div class="modal fade" id="notifyModalSuccess" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="background-color:green;">
                <p id="notifyBodySuccess" class="text-center p-0 m-0" style="color:white; font-size:16px"></p>
            </div>
        </div>
    </div>
</div>

<script>$(document).ready(function () {

        $("#nav").click(function () {

            $("#navbarText").slideToggle();

        });
    });</script>