.sign-up-padding {
    padding-top: 80px;
}

.sign-in-padding {
    padding-top: 120px;
}

.sign-in-sign-up-logo {
    max-width:450px
}

.modal-min-width{
    min-width:500px;
}

@media (max-width: 400px) {
    .sign-up-padding {
        padding-top: 50px;
    }

    .sign-in-sign-up-logo {
        width: 0px
    }

    .sign-in-padding {
        padding-top: 50px;
    }

    .modal-min-width {
        min-width: 0px;
    }
}

@media (min-width: 1800px) {
    .sign-up-padding {
        padding-top: 120px;
    }

    .sign-in-sign-up-logo {
        width: 0px
    }

    .sign-in-padding {
        padding-top: 160px;
    }

    .modal-min-width {
        min-width: 0px;
    }
}

