@model StreamWork.DataModels.Video

<div class="card mt-3 border" style="border-bottom-left-radius:20px; border-bottom-right-radius:20px; border-top-left-radius:20px; border-top-right-radius:20px; min-height:228px">
    <div class="card-title">
        <a href="/Stream/Archive/@Model.StreamID/32169"><img style="width:100%; height:100%; border-top-left-radius:20px; border-top-right-radius:20px;" src="@Model.StreamThumbnail"></a>
    </div>
    <div class="card-body pt-0 pb-1">
        <h5 class="form-header multiline-truncate mb-0">@Model.StreamTitle</h5>
        <p class="form-header mt-1 mb-0" style="font-size:10px"><a class="streamWork-green" href="/Profiles/Tutor/@Model.Username">@Model.Name.Replace('|', ' ')</a></p>
        <p class="form-header mt-1 mb-1 roboto" style="font-size:10px">Tutoring @Model.StreamSubject</p>
    </div>
    <div class="card-footer" style="background-color:@Model.StreamColor; border-bottom-left-radius:20px; border-bottom-right-radius:20px;"></div>
</div>