@model StreamWork.DataModels.Channel
@*
    <div class="card mt-3 border h-100" style="border-bottom-left-radius:20px; border-bottom-right-radius:20px; border-top-left-radius:20px; border-top-right-radius:20px;">
        <div class="card-title">
            <a href="/Stream/Live/@Model.Username"><img style="width:100%; height:100%; border-top-left-radius:20px; border-top-right-radius:20px;" src="@Model.StreamThumbnail"></a>
        </div>
        <div class="card-body pt-0 pb-1">
            <a href="/Stream/Live/@Model.Username">
                <h5 class="form-header multiline-truncate mb-0">@Model.StreamTitle</h5>
            </a>
            <p class="form-header mb-1 mt-1" style="font-size:10px"><a class="streamWork-green" href="/Profiles/Tutor/@Model.Username">@Model.Name.Replace('|', ' ')</a></p>
        </div>
        <div class="card-footer pt-1 pb-1" style="background-color:@Model.StreamColor; border-bottom-left-radius:20px; border-bottom-right-radius:20px;">
            <p class="form-header p-0 m-0 streamWork-white roboto float-right" style="font-size:12px"><b>@Model.StreamSubject</b></p>
        </div>
    </div>
*@