.custom-container {
    margin-top: 100px;
    max-width: 1400px
}

.p-margins {
    margin-left: 75px;
    margin-right: 75px
}

.header-appearance {
    font-size: 28px;
    margin-top: 65px
}

.team-streamwork-margins {
    margin-top: 65px;
}

