.custom-container-first {
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 1500px
}

.custom-container {
    margin-bottom: 50px;
    max-width: 1500px
}

.p-margins {
    margin-left: 75px;
    margin-right: 75px
}

.header-appearance {
    font-size: 28px;
    margin-top: 65px
}

.team-streamwork-margins-desktop {
    margin-top: 55px;
}

.team-streamwork-margins-mobile {
    margin-top: 80px;
}

.blob-banner {
    background-image: url('/images/HomeAssets/ColorBlobs.svg');
    background-size: 155vw;
    background-position-x: 30%;
}

.blob-banner-inverted {
    background-image: url('/images/HomeAssets/ColorBlobsInverted.svg');
    background-size: 155vw;
    background-position-x: 30%;
}

.blob-banner-inverted-2 {
    background-image: url('/images/HomeAssets/ColorBlobsInverted.svg');
    background-size: 155vw;
    background-position-x: 20%;
    background-position-y: 50%;
}

.drop-shadow {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.19) !important;
}

.opacity-change {
    background: rgba(255, 255, 255, 0.7)
}

.roboto-slab-lower-weight {
    font-family: 'Roboto Slab', serif;
}
