.profilePictureSetting{
    width:30px;
    border-radius:5px;
}

.chatList {
    background-color: transparent;
    border: none
}

.chatProfilePicture {
    border-radius: 5%;
    width: 30px;
    margin-left: 10px;
    margin-top: 10px;
    height: 40px;
    float: left;
}

.chatName {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #D9534F;
    margin-left: 50px;
    margin-top: 10px;
}

.chatDate {
    font-size: 10px;
    color: black
}

.chatMessage {
    font-family: 'Roboto';
    font-size: 14px;
    border: thick;
    color: black;
    margin-left: 50px;
}

