.chat-list-primary-color-way {
    background: none;
    background-color: white !important;
    border-radius:0px;
}

.chat-list-secondary-color-way {
    background: none;
    background-color: #FBFBFB !important;
    border-radius: 0px;
}

.chat-profile-picture {
    border-radius: 5%;
    width: 30px;
    margin-top: 10px;
    height: 40px;
    cursor:none;
}

.chat-name {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom:0px
}

.chat-date {
    font-family: 'Roboto', serif;
    font-size: 10px;
    color: #818A96;
}

.chat-message {
    font-family: 'Roboto';
    font-size: 14px;
    border: thick;
    color: black;
    padding-left: 40px;
    word-break: break-all
}

.chat-list-view-archive {
    padding-top: 72px !important;
}

.chat-list-view-live {
    padding-top: 72px !important;
    padding-bottom: 64px !important;
}

::-webkit-input-placeholder {
    padding-top: 20px;
    font-size: 14px;
    font-family: 'Roboto', serif
}

.no-scroll-bar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll-bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.chat-text {
    font-size: 14px !important;
    margin-top: 22px !important;
    margin-bottom: 22px !important
}





