body{
    height:100%
}

﻿html
{
    width: 100%;
    height: 100%;
    overflow:hidden
}
.full-page {
    width: 100%;
    height: 100%;
}
.in-page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.page-body {
    flex-shrink: 0;
    flex-grow: 1;
}
.page-footer {
    flex-shrink: 0;
    text-align: center;
    font-size: 10px;
}
vbody{
    margin:0;
}
.body-right {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}
.body-center2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2%;
}
.body-center3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}
.body-center4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2%
}

.topnav input[type=text] {
  width:400px;
  height:50px;
}
.topnav input[type=text] {
    border: 1px solid #ccc;
}
.streamButtonStyle {
    width:260px;
    height:175px;
}
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
.form-sign {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;

}

lds-dual-ring {
    display: block;
    width: 100px;
    height: 100px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 35%;
    border-radius: 50%;
    border: 5px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.bordered-image {
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
    
}

.upload-uploadbtn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.uploadbtn {
    border: 2px solid #006565;
    color: #006565;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}


.upload-uploadbtn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.edit-editbtn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.editbtn {
    border: 2px solid #006565;
    color: #006565;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.loaderTutor {
    border: 16px solid white;
    border-top: 16px solid #008080;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

.loaderStudent {
    border: 16px solid white;
    border-top: 16px solid #008080;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

.loader {
    border: 16px solid black; /* Light grey */
    border-top: 16px solid #008080; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.loaderStartStream {
    border: 16px solid black; /* Light grey */
    border-top: 16px solid #008080;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.indexCaption {
  font-size: 11px;
}
@media screen and (min-width: 1200px) {
    .indexCaption {
        font-size: 14px;
    }
}

.indexCaption {
    font-size: 11px;
}

@media screen and (min-width: 1200px) {
    .indexCaption {
        font-size: 14px;
    }
}

.streamWork-primary {
    border: none !important;
    background-color: #004643 !important;
    color: white !important;
    border-radius: 5px !important;
    font-size: 10px;
    padding: 8px 20px;
    cursor: pointer !important;
}

.streamWork-secondary {
    border: solid !important;
    border-width: 2px !important;
    border-color: #004643 !important;
    background-color: white !important;
    color: #004643 !important;
    border-radius: 5px !important;
    font-size: 10px;
    padding: 8px 20px;
    cursor: pointer !important;
}

.streamWorkPrimary {
    border: none;
    background-image: linear-gradient(#008080, #00B3B3);
    color: #E6FFFF;
    border-radius: 8px;
    font-size: 22px;
    padding: 8px 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    cursor:pointer
}

.streamWorkSecondary {
    border: none;
    background-image: linear-gradient(#B3FFFF, #E6FFFF);
    color: #008080;
    border-radius: 8px;
    font-size: 22px;
    padding: 8px 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer
}

.streamWorkGrey {
    border: none;
    background-image: linear-gradient(#E8E8E8, #F7F7F7);
    color: #808080;
    border-radius: 8px;
    font-size: 22px;
    padding: 8px 22px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer
}

.streamWorkRed {
    border: none;
    background-image: linear-gradient(#DC1C13, #EA4C46);
    color: white;
    border-radius: 8px;
    font-size: 22px;
    padding: 8px 22px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer
}

.streamWorkGold {
    border: none;
    background-image: linear-gradient(#E6B800, #FFD11A);
    color: #665200;
    border-radius: 8px;
    font-size: 22px;
    padding: 8px 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer
}

.form-control:focus {
    outline: none;
    box-shadow: none !important;
    border: 3px solid #008080;
    background-color: transparent
}

.form-control {
    background: transparent;
    border: none;
    color: gray;
}

/*Navbar*/
.nav-bar {
    width: 100%;
    height: 50px;
    padding:30px;
    background-color: white
}

@media screen and (max-width: 600px) {
    .navBar {
        width: 100%
    }
}

.navbar-dropdown-button {
    background-color: #006060 !important;
    border: none;
}

.navbar-profile-picture {
    width: 40px;
    height: 50px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.navItem {
    color: #004643;
    font-family: 'Roboto Slab', serif;
}

/*Modals*/
.custom-modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    margin-left: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 0px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4)
}

@media (max-width: 600px) {
    .custom-modal {
        width: 100%;
    }
}

.custom-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding-top: 5px;
    border-radius: 0px;
    width: 900px;
}

@media (max-width: 950px) {
    .custom-modal-content {
        width: 800px;
    }
}

@media (max-width: 800px) {
    .custom-modal-content {
        width: 650px;
    }
}

@media (max-width: 650px) {
    .custom-modal-content {
        width: 600px;
    }
}

@media (max-width: 600px) {
    .custom-modal-content {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .custom-modal-content {
        width: 350px;
    }
}

.close {
    color: #aaaaaa;
    float: right;
    padding-right:10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*Forms*/
.form-header {
    font-family: 'Roboto Slab', serif;
    color: #707070;
    font-size: 14px
}

.form-input {
    font-size: 12px !important;
}

.form-textarea {
    font-size: 12px !important;
    height: 125px !important;
}

.form-section-topic-remove-icon {
    font-size: 14px;
    color: red;
    cursor: pointer;
    float: right
}

.form-university-header { /*Created due to appending html string in js*/
    font-family: 'Roboto Slab', serif;
    color: #707070;
    font-size: 20px
}

.form-sub-header {
    padding-left: 87px;
    font-family: 'Roboto Slab', serif;
    font-size: 8px;
    color: #9F9F9F;
}

/*Navigation Slider*/
.slider {
    width: 100%;
    height: 5px;
    background-color: #d3d3d3;
    outline: none;
    opacity: 0.7;
}

.slider-object {
    width: 50px;
    height: 5px;
    background-color: #FFC627;
    outline: none;
    transition: transform .5s ease-in-out;
    transform: translate3d(15px, 0px, 0px);
}

/*Image Container*/
.image-container {
    position: relative;
}

.bottom-right {
    position: absolute;
    bottom: 12px;
    right: -7px;
}

.top-right {
    position: absolute;
    top: 0px;
    right: -1px;
}