body{
    margin:0;
}
.body-right {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}
.body-center2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2%;
}
.body-center3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}
.body-center4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2%
}
.buttonStyle {
    height: 35px;
    border-radius: 5px;
    width: 115px;
    background-color: #008080;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size:11px;
    border:none;
}
.buttonStyleLogin {
    height: 35px;
    border-radius: 5px;
    width: 115px;
    background-color:white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    border-color: black;
    border-width:thin
}
.buttonStyletutor {
    height: 35px;
    border-radius: 5px;
    width: 160px;
    font-size: 10px;
    background-color: #008080;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    border: none;
}
.buttonStyleLearning {
    height: 35px;
    border-radius: 5px;
    width: 170px;
    background-color: transparent;
    color: #008080;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    border: none;
}
.buttonStyleSignIn {
    height: 35px;
    border-radius: 5px;
    width: 100px;
    background-color: transparent;
    color: #008080;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    border: none;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.Math {
    display: inline-block;
    margin: 10px;
}
.Literature {
    display: inline-block;
    margin: 10px;
}
.Engineering {
    display: inline-block;
    margin: 10px;
}
.DesignArt {
    display: inline-block;
    margin: 10px;
}
.Science {
    display: inline-block;
    margin: 10px;
}

.Buisness {
    display: inline-block;
    margin: 10px;
}

.Programming {
    display: inline-block;
    margin: 10px;
}

.Others {
    display: inline-block;
    margin: 10px;
}
.Tutor {
    display: flex;
    align-items: center;
    justify-content: center;
}
.LearningStreamWork {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2%;
}
.SignInLoginPos {  
    float:right;
}
.container {
    position: relative;
}

.Terms {
    float: right;
    margin-top: -36px;
}

span:before {
    content: " ";
    display: inline-block;
    width: 32px;
}





    

