.row-style {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 58px;
}

.chat-asset {
    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 110px;
    cursor: pointer
}

.chatbox-column {
    position: absolute;
    right: 0;
    height: calc(100% - 58px)
}

@media screen and (max-width:1250px) {
    .chatbox-column {
        position: initial;
        height: 500px
    }
}