.stream-buttons{
    width:110px;
}

.row-style {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 58px;
}

.chat-asset {
    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 110px;
    cursor: pointer
}

.fixed {
    position: absolute;
    right: 0;
    height: calc(100% - 71px)
}

.archived-chats {
    overflow: scroll !important;
}

@media screen and (max-width:991px) {
    .fixed {
        position: initial;
        height: 500px
    }
}

.custom-stream-container-padding {
    padding-top: 100px !important;
}

.custom-stream-container {
    max-width: 1200px !important;
}

/*Custom Columns For Stream Page*/
@media screen and (max-width:1250px){
    .custom-column-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .custom-column-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 100%;
    }

    .custom-column-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 100%;
    }

    .custom-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .custom-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

@media screen and (max-width:987px) {
    .custom-column-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 100%;
    }

    .custom-column-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .custom-column-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .custom-order-1 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .custom-order-2 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}

@media screen and (max-width:768px) {
    .custom-column-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .custom-column-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 100%;
    }

    .custom-column-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 100%;
    }

    .custom-order-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .custom-order-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

@media screen and (max-width:576px) {
    .custom-column-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .custom-column-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .stream-buttons {
        width: 100px;
    }
}

.custom-column-8-padding {
    padding-left: 5px !important;
}

@media screen and (max-width:1250px) {
    .custom-column-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .custom-column-8-padding {
        padding-left: 15px !important;
    }
}

@media screen and (max-width:987px) {
    .custom-column-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66%;
        flex: 0 0 66%;
        max-width: 100%;
    }

    .custom-column-8-padding {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

@media screen and (max-width:768px) {
    .custom-column-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .custom-column-8-padding {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

.section-cutoff {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.section-cutoff-all {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1000;
    -webkit-box-orient: vertical;
}