.underline:hover{
    text-decoration:underline;
}

.zoom{
    transition: transform .2s;
}

.zoom:hover{
    transform: scale(1.05);
}

.borderChange {
    border: 2px solid black;
}

.borderChange:hover {
    border: 2px solid gold;
}