@{var cacheRand = new Random().Next();}
@Html.AntiForgeryToken()

<div class="row">
    <nav class="navbar navbar-expand-sm fixed-top p-1 w-100 navbar-custom" style="background-color:white;">
        <div class="pl-3" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-lg-flex d-md-flex d-sm-flex d-none">
                <li class="nav-item active d-block mr-auto ml-auto">
                    <a class="navItem nav-link pl-3 pr-3" href="/Home/Tutor">Tutor</a>
                </li>
                <li class="nav-item active d-block mr-auto ml-auto">
                    <a class="navItem nav-link pl-3 pr-3" href="/Home/Browse">Browse</a>
                </li>
                <li class="nav-item active d-block mr-auto ml-auto">
                    <a class="navItem nav-link pl-3 pr-3" href="/Home/About">About</a>
                </li>
            </ul>

            <ul class="navbar-nav mr-auto d-lg-none d-md-none d-sm-none d-block">
                <li class="nav-item active d-inline-block mr-auto ml-auto">
                    <img class="pointer mr-2" src="~/images/streamWorkPencil.png" onclick="window.location.href='/'" width="32" />
                </li>
                <li class="nav-item active d-inline-block mr-auto ml-auto">
                    <img class="pointer ml-2 mr-2" src="~/images/GenericAssets/Browse.svg" onclick="window.location.href='/Home/Browse'" width="25" />
                </li>
            </ul>
        </div>

        <div class="dropright mr-auto ml-2 d-lg-none d-md-none d-sm-none d-block">
            <img id="dropdownMenuButton pointer" data-toggle="dropdown" class="dropdown-toggle pointer" src="~/images/GenericAssets/Elipses.svg" width="25" />
            <div class="dropdown-menu mt-3" style="font-size:12px; min-width:0px !important">
                <a class="dropdown-item" href="/Home/Tutor">Tutor</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" id="Settings" href="/Home/About">About</a>
            </div>
        </div>

        <div class="ml-lg-auto ml-ms-auto ml-sm-auto ml-0">
            <div id="notification-bell-mask" class="d-inline-block">
                @if (Model.Notifications.Count > 0 && Model.AreThereUnseenNotifications)
                {
                <img src="~/images/GenericAssets/NotificationBell.svg" width="65" class="pointer" onclick="OpenModal('notification-modal'); UpdateToSeen('@Model.CurrentUserProfile.Username');" />
                }
                else
                {
                <img src="~/images/GenericAssets/Bell.svg" width="65" class="pointer" onclick="OpenModal('notification-modal')" />
                }
            </div>
            <div class="btn-group pr-3">
                <input id="navbar-profile-picture" class="navbar-profile-picture" type="image" data-toggle="dropdown" src="@Model.CurrentUserProfile.ProfilePicture?@cacheRand" />
                <button type="button" id="dropdown" class="btn btn-info dropdown-toggle border-0 navbar-dropdown-button" data-toggle="dropdown"></button>
                <div class="dropdown-menu dropdown-menu-right" style="font-size:12px; min-width:0px !important">
                    <a class="dropdown-item pointer" href="/Student/StudentDashboard">Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item pointer" id="Settings" href="/Student/StudentSettings">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item pointer" onclick="SignOut()">Logout</a>
                </div>
            </div>
        </div>

        <script>$('#dropdown').dropdown()</script>
    </nav>
</div>

@await Html.PartialAsync("Partials/Modals/NotificationModal")