<div class="row" id="tab-7" style="display: none;">
    <div class="col-lg-2"></div>
    <div class="col-lg-8" style="background-color: white; border-style: solid; border-width: 1px; border-color: #b1b1b1;">
        <div class="row" style="min-height: 600px;">
            <div class="col-md-6 d-none d-md-block" style="min-height: 600px;">
                <div class="row p-4" style="min-height: 600px; display: flex; align-items: center; flex-wrap: wrap; justify-content: center;">
                    <img src="~/images/SignUpAssets/SignUp_5_SW_SVG.svg" style="width: 70%;" />
                </div>
            </div>
            <div class="col-md-6 pt-5 pb-4 px-5" style="border-style: none none none solid; border-width: 1px; border-color: #b1b1b1;">
                <h1 class="text-center mb-2" style="font-family: 'Roboto Slab';">Awesome!</h1>
                <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Just a few more things we need from you!</p>

                <label id="transcript-label" for="transcript" class="streamWork-block">
                    Upload Transcript
                </label>
                <input id="transcript" type="file" accept="image/*,.pdf" style="display: none;" />
                <p style="color: #707070; font-size: 13px;">Accepts: image/pdf, Max size: 2MB</p>
                <label id="resume-label" for="resume" class="streamWork-block">
                    Upload Résumé
                </label>
                <input id="resume" type="file" accept="image/*,.pdf" style="display: none;" />
                <p style="color: #707070; font-size: 13px;">Accepts: image/pdf, Max size: 2MB</p>

                <br />
                <br />

                @*TODO Invoke signup*@
                <button id="tab-7-next" class="streamWork-disabled" type="button" style="width: 100%;" onclick="tab7Next();">Apply To Become StreamTutor</button>

                <br />
                <br />
                <br />
                <br />
                <br />

                <div class="mt-6 pt-6 pr-3" style="color: #004643; position: absolute; bottom: 0; left: 0;">
                    <button class="streamWork-primary ml-3 mb-2" style="width: 60px; height: 20px; padding: 0px 0px;" onclick="goToTab(6);">Go Back</button>
                </div>
                <div class="mt-6 pt-6 pr-3" style="color: #004643; position: absolute; bottom: 0; right: 0;">
                    <p style="color: #b1b1b1; display: inline-block;">&#x25CB;&#x25CB;</p><p style="color: #004643; display: inline-block;">&#x25CF;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>