<div class="row" id="tutorComplete" style="display: none;">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 pt-5 pb-4 px-5" style="background-color: white; border-style: solid; border-width: 1px; border-color: #b1b1b1;">
        <div class="text-center">
            <img src="~/images/SignUpAssets/SignUp_6_Together_SW_SVG.svg" />
        </div>
        <br />
        <hr />
        <br />
        <br />

        <h1 class="text-center mb-2" style="font-family: 'Roboto Slab';">Your Application Has Been Received!</h1>
        <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Please keep an eye out on your inbox, we will reach out in 1-2 days! While you wait...<br />feel free to fill out your StreamTutor profile!</p>

        <div class="text-center">
            <a><button type="button" class="streamWork-primary mb-3" style="width: 40%;" onclick="Route()">Continue</button></a>
        </div>

        <br />
        <br />
    </div>
    <div class="col-lg-2"></div>
</div>
