<div class="row">
    <nav class="navbar navbar-expand-lg p-1 w-100 fixed-top" style="background-color:white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pl-3" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active d-block mr-auto ml-auto">
                    <a class="navItem nav-link pl-3 pr-3" href="/Home/Tutor">Tutor</a>
                </li>
                <li class="nav-item active d-block mr-auto ml-auto">
                    <a class="navItem nav-link pl-3 pr-3" href="/Home/Browse">Browse</a>
                </li>
                <li class="nav-item active d-block mr-auto ml-auto">
                    <a class="navItem nav-link pl-3" href="/Home/About">About</a>
                </li>
            </ul>
            <div class="d-block mr-auto ml-auto">
                <a class="navbar-brand" href="/">
                    <img src="~/images/StreamWorkLogo.png" width="150" alt="">
                </a>
            </div>
        </div>
        <div class="btn-group pr-3 float-right">
            <button class="streamWork-secondary mr-2" onclick="window.location.href='/Home/SignUp'">Sign Up</button>
            <button class="streamWork-primary" onclick="window.location.href='/Home/SignIn'">Sign In</button>
        </div>
    </nav>
</div>