<div class="row" id="emailVerification" style="display: none;">
    <div class="card d-block mr-auto ml-auto py-4 px-5 border" style="background-color: white; width:550px">
        <p class="text-center my-3" style="font-family: 'Roboto Slab'; font-size: 40px; font-weight: bold;">Email Confirmation</p>
        <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Please check your email to confirm.</p>

        <img class="px-5 mb-4" src="~/images/SignUpAssets/SignUp_Email_Confirmation_SVG.svg" style="width: 100%;" />

        <p style="font-family: 'Roboto Slab'; font-size: 14px; color: #707070; margin-bottom: 0;">Verification Code</p>
        <input id="emailVerificationCode" type="text" class="mb-3 form-control rounded-0" style="width: 100%;" onkeyup="emailVerificationUpdateNext();" data-container="body" data-toggle="popover" data-placement="top" data-content="Incorrect verification code" />
        <button id="emailVerification-next" type="button" class="streamWork-disabled mb-3" style="width: 100%;" onclick="emailVerificationNext();">Confirm Email Address</button>

        <p class="divider-text">Didn't get the email?</p>

        <button type="button" class="streamWork-primary mb-3" style="width: 100%;" onclick="sendVerificationEmail();">Re-Send Confirmation Email</button>
    </div>
</div>