.container-padding {
    padding-top: 100px;
}

.custom-home-container {
    max-width: 1500px;
    margin-top: 20px
}

.header {
    font-size: 42px;
    color: black;
}

.home-background {
    background: linear-gradient(to bottom, #004643 65%, #F3F3F3 25%);
}

.graphic {
    position: relative;
    left: 25%;
    bottom: -70px;
    width: 24%;
    min-width: 280px
}

@media (max-width: 800px){
    .header {
        font-size: 38px;
        color: black;
    }

    .home-background {
        background: linear-gradient(to bottom, #004643 100%);
    }

    .graphic {
        position: relative;
        left: 18%;
        bottom: -70px;
        width: 24%;
        min-width: 240px
    }

    .container-padding {
        padding-top: 40px;
    }
}

.featured-profile-image {
    width: 75px;
    margin-top: 50px
}

.featured-subject-icon {
    width: 100%;
    height: 100%;
    max-width: 120px;
    max-height: 120px;
    cursor: pointer
}

.white {
    color: white;
}

.blob-background-banner-1 {
    background-image: url('/images/HomeAssets/ColorBlobs.svg');
    background-repeat: no-repeat;
    background-size: 155vw;
    background-position-y: 68%;
    background-position-x: 40%;
}

.blob-background-banner-2 {
    background-image: url('/images/HomeAssets/ColorBlobs.svg');
    background-repeat: no-repeat;
    background-position-y: 58%;
    background-position-x: 44%;
}

@media (max-width: 800px) {
    .blob-background-banner-2 {
        background-image: url('/images/HomeAssets/ColorBlobs.svg');
        background-repeat: no-repeat;
        background-position-y: 58%;
        background-position-x: 25%;
    }
}
    
