@model StreamWork.ViewModels.ProfileTutorViewModel

@{Layout = "_LayoutTutorNavbar";}
@{ViewData["Title"] = "TutorSettings";}

<script src="~/js/EditProfile.js"></script>
<script src="~/js/Settings.js"></script>
<link rel="stylesheet" href="~/css/Tutor.css" />

<div id="editModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #008080">
            <div class="modal-header">
                <h5 class="modal-title" style="color:white">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input align="middle" type="text" class="form-control" id="ProfileCaption" placeholder="Caption" value="@Model.userProfile.ProfileCaption" />
                    <br />
                    <textarea align="middle" type="text" class="form-control" id="ProfileParagraph" placeholder="About Me" style="height:100px">@Model.userProfile.ProfileParagraph</textarea>
                    <br />
                    <img id="previewProfilePic" src=@Model.userProfile.ProfilePicture alt="your image" style="border-radius: 50%; width:115px; height:150px; display:block;margin-left:auto;margin-right:auto" />
                    <br />
                    <div class="upload-uploadbtn-wrapper">
                        <button class="uploadbtn" style="margin-left:110px">Upload a Profile Picture</button>
                        <input id="uploadProfilePic" type='file' onchange="readURL(this,'ProfilePic')" />
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" style="background-color:black; color:white" class="btn" onclick="RegisterProfilePhotoAndCaption()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <br />
                <div class="card" style="background-color: white; height:550px">
                    <div class="card-header" style="background-color:#008080">
                        <h1 class="text-center" style="color:white">Security</h1>
                    </div>
                    <br />
                    <div class="card-body">
                        <form>
                            <h3 class="text-center">Change Password</h3>
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <div>
                                        <label>Current Password:</label>
                                    </div>
                                    <input id="CurrentPassword" type="password" style="width:100%; border-radius:5px" ; />
                                </div>
                                <div class="col-12 mt-3">
                                    <div>
                                        <label>New Password:</label>
                                    </div>
                                    <input id="NewPassword" type="password" style="width:100%; border-radius:5px" ; />
                                </div>
                                <div class="col-12 mt-3">
                                    <div>
                                        <label>Confirm Password:</label>
                                    </div>
                                    <input id="ConfirmPassword" type="password" style="width:100%; border-radius:5px" ; />
                                </div>
                            </div>
                            <br />
                            <br />
                            <button class="editbtn mt-2" onclick="EditTutorSecurity()" style="display:block; margin-left:auto; margin-right:auto;">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function () {

        $("#nav").click(function () {

            $("#navbarText").slideToggle();

        });
    });
</script>