<script src="~/js/Tutor.js"></script>
<script src="//player.dacast.com/js/player.js"></script>

@model StreamWork.ViewModels.ProfileTutorViewModel

@{
    ViewData["Title"] = "TutorStream";
}


@if (Model.userChannels[0].ChannelKey == null)
{
    <script>
    $(document).ready(function () {
    $('#channelKeyModal').modal({
    backdrop: 'static',
    keyboard: false
   })
})
    </script>
}
else if(Model.userChannels[0].StreamTitle == null && Model.userChannels[0].StreamSubject == null){
      <script>
    $(document).ready(function () {
    $('#registerStreamModal').modal({
    backdrop: 'static',
    keyboard: false
    })
})
    </script>
}

      <div style="font-family:'Roboto', sans-serif;">
          <nav class="navbar sticky-top navbar-expand-lg  text-center" style="background-color:#008080">
              <img src="~/images/streamworkPencilWhite.png" height="70" onclick="window.location.href='/'" />
              <button class="navbar-toggler" type="button" data-toggle="collapse" id="nav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item ml-sm-4 mt-1" style="font-size:15px;">
                          <a class="nav-link" href="/Tutor/ProfileTutor" style="color:white;">Dashboard</a>
                      </li>
                      <li class="nav-item ml-sm-5 mt-1" style="font-size:14px; ">
                          <a class="nav-link" href="/Tutor/TutorStream" style="color:white;">Start Streaming</a>
                      </li>
                      <li class="nav-item ml-sm-5 mt-1" style="font-size:15px;">
                          <a id="button" class="nav-link" href="/" style="color:white;">Home</a>
                      </li>
                  </ul>
              </div>
              <div class="btn-group justify-content-end">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <img src=@Model.userLogins[0].ProfilePicture style="width:65px; height:85px" />
                  <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#" id="EditProfile" onclick="EditProfile()">Edit Profile</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Logout</a>
                  </div>
              </div>
          </nav>


          <div class="container-fluid mt-3">
              <div class="row">
                  <nav class="col-md-3 d-none d-lg-block sidebar">
                      <div class="sidebar-sticky">
                          <ul class="nav flex-column">
                              <li class="nav-item" style="margin-top:150px">

                              </li>
                          </ul>
                      </div>
                  </nav>
                  <div class="col-sm-12 col-md-12 col-lg-9 mt-3">

                      <div id="dacastPlayer"></div>
                      <script>
                              window.addEventListener("click", function () {
                              var myPlayer = dacast("135034_c_505911", 'dacastPlayer', {
                                  width: 350,
                                  height: 200
                              });
                              if (myPlayer.playing() == true) {
                                  alert("It's Playing'")
                              }
                              else {
                                  alert("Nope not Playing")
                              }
                          });</script>
                  </div>
          </div>
      </div>

<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input align="middle" type="text" class="form-control" id="ProfileCaption" placeholder="Caption" value="@Model.userLogins[0].ProfileCaption"/>
                    <br />
                    <textarea align="middle" type="text" class="form-control" id="ProfileParagraph" placeholder="About Me" style="height:100px">@Model.userLogins[0].ProfileParagraph</textarea>
                    <br />
                    <input class="file-custom" id="file-upload" value="@Model.userLogins[0].ProfilePicture" type='file' onchange="readURL(this);" />
                    <img id="blah" src=@Model.userLogins[0].ProfilePicture alt="your image" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="RegisterProfilePhotoAndCaption()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="channelKeyModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter Channel Key</h5>
            </div>
            <div class="modal-body">
                <form>
                    <input id="channelKey" align="middle" type="text" class="form-control" id="ProfileCaption" placeholder="Channel Key" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ValidateKey()">Validate Key</button>
            </div>
        </div>
    </div>
</div>

<div id="registerStreamModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter Stream Title and Stream Subject</h5>
            </div>
            <div class="modal-body">
                <form>
                    <input align="middle" type="text" class="form-control" value="@Model.userChannels[0].StreamTitle" id="streamTitle" placeholder="Stream Title">                      <select class="mt-1" style="width: 100%" id="streamSubject">
                        <option value="Select Subject">Select Subject</option>
                        <option value="Mathematics">Mathematics</option>
                        <option value="Science">Science</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Business">Business</option>
                        <option value="Law">Law</option>
                        <option value="Art">Art</option>
                        <option value="Humanities">Humanities</option>
                        <option value="Other">Other</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="RegisterStreamTitleAndStreamSubject()">Start Stream</button>
            </div>
        </div>
    </div>
</div>
          </div>

<style>
    .dot {
        height: 10vw;
        width: 10vw;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        color: black
    }

    .sidebar {
        height: 100%;
        width: 20%;
        position: fixed;
        z-index: 1;
        top: 0px;
        bottom: 0px;
        right: 0;
        overflow-y: scroll;
        background-color: #006565;
        overflow-x: hidden;
        color: white;
        text-align: center;
    }

    img {
        max-width: 460px;
        max-height: 250px;
    }

    img {
        max-width: 115px;
    }
    
     .file-custom{
        margin: 0;
        padding: 2rem 1.5rem;
        font: 1rem/1.5 "PT Sans", Arial, sans-serif;
        color: #5a5a5a;
    }
</style>
