@model StreamWork.ViewModels.ProfileTutorViewModel

@{Layout = "_LayoutTutorNavbar";}
@{ViewData["Title"] = "TutorStream";}

@if (!Model.TutorUserProfile.ProfileType.Equals("tutor") || !Model.TutorUserProfile.AcceptedTutor)
{
    <script>
        $(document).ready(function () {
            $('#unapprovedTutorModal').modal({
                backdrop: 'static',
                keyboard: false
            })
        })
    </script>
}
else if (Model.UserChannel.StreamTitle == null && Model.UserChannel.StreamSubject == null)
{
    <script>$(document).ready(function () {
            $('#registerStreamModal').modal({
                backdrop: 'static',
                keyboard: false
            })
        })</script>
}

<div style="background-color:black">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 mt-3 p-0" style="background-color:white">
                <div><iframe src="https://c.streamhoster.com/embed/media/WxsdDM/mAe0epZsixC/@Model.UserChannel.ChannelKey.Split('|')[0]" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" scrolling="no""></iframe></div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 p-0" style="background-color:whitesmoke">
                @if (true)
                {
                    <iframe style="height:90vh; width:100%" src=@Model.ChatSecretKey allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
                }
            </div>
        </div>
    </div>

    <div id="registerStreamModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color:whitesmoke">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:black">Stream Settings<span><img id="info" src="/images/info_icon.png" style="width: 24px; height: 24px; margin-top: -5px; margin-left:7px" data-toggle="tooltip" data-placement="right" title="This is where you make the connection from your encoder to broadcast to students on StreamWork"></span></h5>
                    <a class="mt-1" href="/Home/HowToStream" style="color:#008080">How to stream?</a>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-6">
                                <input align="middle" type="text" class="form-control" id="streamTitle" placeholder="Title">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                <select class="form-control " id="streamSubject">
                                    <option value="Select Subject">Select Subject</option>
                                    <option value="Mathematics">Mathematics</option>
                                    <option value="Science">Science</option>
                                    <option value="Engineering">Engineering</option>
                                    <option value="Business">Business</option>
                                    <option value="Law">Law</option>
                                    <option value="Art">Art</option>
                                    <option value="Humanities">Humanities</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <textarea align="middle" class="form-control mt-3" id="streamDescription" placeholder="Description"></textarea>
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-6">
                                <div class="upload-uploadbtn-wrapper">
                                    <button class="form-control"><span><img src="/images/Upload16.png"></span> Upload Thumbnail</button>
                                    <input id="uploadThumbnail" type="file" value="~/images/MathDefault.png" onchange="readURL(this,'Thumbnail');">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-6">
                                <div class="form-control ml-2">
                                    <input class="form-check-input" type="checkbox" value="" id="notifyStudents">
                                    <label class="form-check-label" for="notifyStudents">
                                        Notify Students <span><img id="info2" src="/images/info_icon.png" style="width: 24px; height: 24px; margin-top: -5px; margin-left:7px" data-toggle="tooltip" data-placement="right" title="This will send a notification to students saying that you are streaming."></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <img id="previewThumbnail" src="/images/MathDefault.png" alt="your image" style="width:100%; border-radius:10px">
                    </form>
                </div>
                <div class="modal-footer">
                    <div id="loaderStartStream" style="display:none" class="loader mr-auto"></div>
                    <button type="button" class="streamWorkGrey" style="cursor:pointer" onclick="window.location.href = '/Tutor/ProfileTutor'">Exit</button>
                    <button id="StartStream" type="button" class="streamWorkPrimary" style="cursor:pointer" onclick="CheckIfStreamIsLive('@Model.UserChannel.ChannelKey')">Go Live!</button>
                </div>
            </div>
        </div>
    </div>

    @*Notify Modal Fail*@
    <div class="modal fade" id="notifyModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" style="background-color:red;">
                    <p id="notifyBody" class="text-center p-0 m-0" style="color:white; font-size:16px"></p>
                </div>
            </div>
        </div>
    </div>

    @*Notify Modal Sucess*@
    <div class="modal fade" id="notifyModalSuccess" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" style="background-color:green;">
                    <p id="notifyBodySuccess" class="text-center p-0 m-0" style="color:white; font-size:16px"></p>
                </div>
            </div>
        </div>
    </div>
</div>

@*Unapproved Tutor Modal*@
<div id="unapprovedTutorModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: whitesmoke">
            <div class="modal-header">
                <h5 class="modal-title" style="color:black">Looks like you haven't been verified yet!</h5>
            </div>
            <div class="modal-body">
                <p style="color: black;">It appears you are not a verified StreamTutor! If you are a student, create a separate student account. If you are a StreamTutor, please wait 1-2 business days to be approved. In the meantime feel free to edit your profile and watch some streams. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="streamWorkGrey" style="cursor:pointer" onclick="window.location.href = '/Tutor/ProfileTutor'">Exit</button>
            </div>
        </div>
    </div>
</div>

<style>
    .dot {
        height: 10vw;
        width: 10vw;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        color: black
    }

    .sidebar {
        height: 100%;
        width: 20%;
        position: fixed;
        z-index: 1;
        top: 0px;
        bottom: 0px;
        right: 0;
        overflow-y: scroll;
        background-color: #006565;
        overflow-x: hidden;
        color: white;
        text-align: center;
    }
</style>

<script>$(document).ready(function () {

        $("#nav").click(function () {

            $("#navbarText").slideToggle();

        });
    });</script>

<script>$("#info").tooltip();
    $("#info2").tooltip();</script>