@model StreamWork.ViewModels.Tutor.TutorStreamViewModel

@{Layout = "_LayoutNoNavBar";}
@{ViewData["Title"] = "TutorStream";}

@if (!Model.UserProfile.ProfileType.Equals("tutor") || !Model.UserProfile.AcceptedTutor)
{
    <script>$(document).ready(function () {
            $('#unapprovedTutorModal').modal({
                backdrop: 'static',
                keyboard: false
            })
        })</script>
}
else if (Model.UserChannel.StreamTitle == null && Model.UserChannel.StreamSubject == null)
{
    <script>$(document).ready(function () {
            OpenRegisterStreamModal();
        })</script>
}

<div class="container-fluid">
    <div class="row" style="background-color:white;position:absolute; height: calc(100% - 100px); width:100%;">
        <div id="stream" class="d-flex flex-column col-lg-8 col-md-12 col-sm-12 col-12 p-0" style="position:relative">
            <iframe style=" width:100%; height:100%;" class="p-0" src="https://c.streamhoster.com/embed/media/WxsdDM/mAe0epZsixC/@Model.UserChannel.ChannelKey.Split('|')[0]" frameborder="0" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </div>
        <div id="chatBox" class="d-flex flex-column col-lg-4 col-md-12 col-sm-12 col-12 p-0">
            <iframe style="height:100%; border:none;" src="https://www.streamwork.live/chat/streamworkchat?chatId=@Model.UserChannel.Username&chatInfo=@Model.ChatInfo"></iframe>
        </div>
    </div>

    @*RegisterStream Modal*@
    <div id="registerStreamModal" class="modal" tabindex="-2" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color:whitesmoke">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:black">Stream Information<span><img id="info" src="/images/info_icon.png" style="width: 24px; height: 24px; margin-top: -5px; margin-left:7px" data-toggle="tooltip" data-placement="right" title="This is where you make the connection from your encoder to broadcast to students on StreamWork"></span></h5>
                    <a class="mt-1" href="/Home/HowToStream" style="color:#008080">How to stream?</a>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-6">
                                <input align="middle" type="text" class="form-control" id="streamTitle" placeholder="Title" value="">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                <select class="form-control " id="streamSubject">
                                    <option value="Select Subject">Subject</option>
                                    <option value="Mathematics">Mathematics</option>
                                    <option value="Science">Science</option>
                                    <option value="Engineering">Engineering</option>
                                    <option value="Business">Business</option>
                                    <option value="Law">Law</option>
                                    <option value="Art">Art</option>
                                    <option value="Humanities">Humanities</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <textarea align="middle" class="form-control mt-3" id="streamDescription" placeholder="Description"></textarea>
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-6">
                                <div class="upload-uploadbtn-wrapper">
                                    <button class="form-control"><span><img src="/images/Upload16.png"></span> Upload Thumbnail</button>
                                    <input id="uploadThumbnail" type="file" onchange="readURL(this,'Thumbnail');">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-6">
                                <div class="form-control ml-2">
                                    <input class="form-check-input" type="checkbox" value="" id="notifyStudents">
                                    <label class="form-check-label" for="notifyStudents">
                                        Notify Followers <span><img id="info2" src="/images/info_icon.png" style="width: 24px; height: 24px; margin-top: -5px; margin-left:7px" data-toggle="tooltip" data-placement="right" title="This will send a notification to your followers saying that you are streaming."></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <img id="previewStreamThumbnail" src="~/images/MathDefault.png" alt="your image" style="width:100%; border-radius:10px">
                    </form>
                </div>
                <div class="modal-footer">
                    <div id="loaderStartStream" style="display:none" class="loader mr-auto"></div>
                    <button id="ExitStream" type="button" class="streamWorkGrey" style="cursor:pointer" onclick="window.location.href = '/Tutor/TutorDashboard'">Exit</button>
                    <button id="StartStream" type="button" class="streamWorkPrimary" style="cursor:pointer;" onclick="CheckIfStreamIsLive('@Model.UserChannel.ChannelKey', '@Model.UserChannel.Username', '@Model.ChatInfo')">Go Live!</button>
                </div>
            </div>
        </div>
    </div>

    @*Notify Modal Fail*@
    <div class="modal fade" id="notifyModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" style="background-color:red;">
                    <p id="notifyBody" class="text-center p-0 m-0" style="color:white; font-size:16px"></p>
                </div>
            </div>
        </div>
    </div>

    @*Notify Modal Sucess*@
    <div class="modal fade" id="notifyModalSuccess" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" style="background-color:green;">
                    <p id="notifyBodySuccess" class="text-center p-0 m-0" style="color:white; font-size:16px"></p>
                </div>
            </div>
        </div>
    </div>


    @*Unapproved Tutor Modal*@
    <div id="unapprovedTutorModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: whitesmoke">
                <div class="modal-header">
                    <h5 class="modal-title" style="color:black">Looks like you haven't been verified yet!</h5>
                </div>
                <div class="modal-body">
                    <p style="color: black;">It appears you are not a verified StreamTutor! If you are a student, create a separate student account. If you are a StreamTutor, please wait 1-2 business days to be approved. In the meantime feel free to edit your profile and watch some streams. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="streamWorkGrey" style="cursor:pointer" onclick="window.location.href = '/Tutor/TutorDashboard'">Exit</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>$(document).ready(function () {

        $("#nav").click(function () {

            $("#navbarText").slideToggle();

        });
    });</script>

<script>$("#info").tooltip();
    $("#info2").tooltip();</script>
