<div id="notification-image-invalid-modal" class="custom-modal modal-on-modal">
    <div class="custom-modal-content" style="width:300px; height:150px">
        <div class="close ml-auto" onclick="CloseModal('notification-image-invalid-modal')">&times;</div>
        <h5 id="notification-message" class="form-header text-center pl-3 pr-3" style="padding-top:50px; font-size:16px;">Image is too large</h5>
        <button class="btn d-block mr-auto ml-auto mt-3 w-50" style="background-color:#004643; color:white" onclick="CloseModal('notification-image-invalid-modal')">Ok</button>
    </div>
</div>