<div id="notification-loading-image-modal" class="custom-modal">
    <div class="custom-modal-content" style="width:100%; background-color:transparent;">
        <div class="loader d-block mr-auto ml-auto"></div>
    </div>
</div>