<div id="schedule-modal" class="custom-modal">
    <div class="custom-modal-content">
        <div class="close ml-auto" onclick="DiscardCalendarModalAndCloseModal()">&times;</div>
        <h5 class="form-header" style="padding-left:20px; padding-top:10px; font-size:16px;">Schedule Stream Time</h5>
        <div class="slider">
            <div class="slider-object" style="width:190px"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <form id="schedule-modal-form" class="pt-4 pb-4 pl-5 pr-5">
                    <div id="schedule-modal-notification" class="alert notification-success" style="padding-left:50px" role="alert">
                        <b>Changes Saved!</b> Your information has been successfully saved.
                    </div>
                    <script>$('#schedule-modal-notification').hide()</script>
                    <div id="schedule-modal-delete-task-notification" class="alert notification-warning" style="padding-left:25px" role="alert">
                        <b>Are you sure you want to delete this stream?</b> This is an irreversible action.
                    </div>
                    <script>$('#schedule-modal-delete-task-notification').hide()</script>
                    <div id="schedule-modal-check-time-format-notification" class="alert notification-info" style="padding-left:25px" role="alert">
                        <b>One or both of the times that you set are invalid!</b> Use the clock icon to set a time.
                    </div>
                    <script>$('#schedule-modal-check-time-format-notification').hide()</script>
                    <div id="schedule-invalid-date-time-notification" class="alert notification-info" style="padding-left:25px" role="alert">
                        <b>This date and time has already passed!</b> Select a date and time in the future.
                    </div>
                    <script>$('#schedule-invalid-date-time-notification').hide()</script>
                    <div class="row">
                        <div class="col-lg-2 col-md-12">
                            <label class="form-header">Select Date</label>
                            <div class="p-4 schedule-border">
                                <div class="datetimepicker-input" id="schedule-date-picker">
                                    <div id="schedule-date-mask" style="cursor:pointer">
                                        <img id="schedule-default" class="d-block ml-auto mr-auto" src="~/images/ScheduleAssets/Calendar.png" data-target="#schedule-date-picker" data-toggle="datetimepicker" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-12">
                            <label class="form-header pt-lg-0 pt-3">Stream Title</label>
                            <input id="schedule-title" class="form-control border rounded-0 form-input" maxlength="50" placeholder="Add Title" data-container="body" data-toggle="popover" data-placement="top" data-content="This field is required" onclick="DisableHidePopover('schedule-title')" required>
                            <script>
                                
                            </script>
                            <label class="form-header pt-3">Select Topic</label>
                            <select id="schedule-subject" class="form-control form-control-sm rounded-0" data-container="body" data-toggle="popover" data-placement="top" data-content="This field is required" onchange="DisableHidePopover('schedule-subject')" required>
                                <option value="" selected>-Select-Topic-</option>
                                <option>Mathematics</option>
                                <option>Science</option>
                                <option>Engineering</option>
                                <option>Business</option>
                                <option>Law</option>
                                <option>Art</option>
                                <option>Humanities</option>
                                <option>Others</option>
                            </select>
                            <div class="row">
                                <div class="col-lg-8">
                                    <label class="form-header pt-3">Stream Description</label>
                                    <textarea class="form-control form-textarea rounded-0 border" type="text" id="schedule-description" maxlength="500" placeholder="ex: Today we are going to be learning about how to do integrals using U-Substitution" data-container="body" data-toggle="popover" data-placement="top" data-content="This field is required" onclick="DisableHidePopover('schedule-description')" required></textarea>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-header pt-3">Time Start</label>
                                    <div class="input-group date" id="schedule-time-start-picker" data-target-input="nearest">
                                        <input id="schedule-time-start-picker-value" type="text" class="form-control rounded-0  datetimepicker-input" data-target="#schedule-time-start-picker" data-container="body" data-toggle="popover" data-placement="top" data-content="This field is required" onclick="DisableHidePopover('schedule-time-start-picker-value')" required />
                                        <div class="input-group-append" data-target="#schedule-time-start-picker" data-toggle="datetimepicker">
                                            <div class="input-group-text rounded-0"><i class="fa fa-clock-o"></i></div>
                                        </div>
                                    </div>
                                    <label class="form-header pt-3">Time Stop</label>
                                    <div class="input-group date" id="schedule-time-stop-picker" data-target-input="nearest">
                                        <input id="schedule-time-stop-picker-value" type="text" class="form-control rounded-0 datetimepicker-input" data-target="#schedule-time-stop-picker" data-container="body" data-toggle="popover" data-placement="top" data-content="This field is required" onclick="DisableHidePopover('schedule-time-stop-picker-value')" required />
                                        <div class="input-group-append" data-target="#schedule-time-stop-picker" data-toggle="datetimepicker">
                                            <div class="input-group-text rounded-0"><i class="fa fa-clock-o"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="schedule-buttons">
            <button class="btn border-0 rounded-0 p-3 w-100" style="background-color:#004643; color:white" onclick="SaveScheduleTask()">Save Changes</button>
        </div>
    </div>
</div>