<div id="signin-signup-modal" class="custom-modal">
    <div class="custom-modal-content" style="width:550px">
        <div class="close ml-auto" onclick="DiscardChangesAndCloseModal('signin-signup-modal', 'signin-signup-modal')">&times;</div>
        <ul class="nav nav-tabs ml-1" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active form-header" id="profile-info-tab" data-toggle="tab" href="#profileinfo" onclick="SliderProfileInformation()">Sign-in</a>
            </li>
        </ul>
        <div class="slider">
            <div id="slider-object-profile-edit-modal" class="slider-object" style="width:60px"></div>
        </div>
        <div id="profile-information-notification" class="alert notification-success mt-3 mb-0" style="margin-left:50px; margin-right:50px" role="alert">
            <b>Changes Saved!</b> Your information has been successfully saved.
            <div class="close ml-auto" onclick="$('#profile-information-notification').hide()">&times;</div>
        </div>
        <script>$('#profile-information-notification').hide()</script>
        <div id="profile-information-sm-notification" class="alert notification-info mt-3 mb-0" style="margin-left:50px; margin-right:50px" role="alert">
            <b>Invalid <span id="profile-information-sm-p"></span> URL!</b> Please try with a different URL.
            <div class="close ml-auto" onclick="$('#profile-information-sm-notification').hide()">&times;</div>
        </div>
        <script>$('#profile-information-sm-notification').hide()</script>
        <div class="tab-content">
            <div class="tab-pane active" id="profileinfo" role="tabpanel" aria-labelledby="profile-info-tab">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body p-4">
                                <div id="invalid-username-password-notification" class="alert notification-warning text-center" style="padding-left:25px" role="alert">
                                    <b>Invalid Username or Password</b>.
                                </div>
                                <script>$('#invalid-username-password-notification').hide()</script>
                                <p class="text-center my-3" style="font-family: 'Roboto Slab'; font-size: 50px; font-weight: bold;">Sign-in</p>
                                <p class="text-center mb-4" style="color: #707070; font-size: 13px;">Welcome back! Sign in to continue learning!</p>
                                <p class="form-header mb-0">Username / Email Address</p>
                                <input id="username" type="text" class="mb-3" style="width: 100%;" onkeydown="CheckIfBothFieldsAreEmpty()" onkeyup="CheckIfBothFieldsAreEmpty()" required />
                                <p class="d-inline-block form-header mb-0">Password</p>
                                <a class="d-inline-block float-right roboto pb-0" style="font-size:14px; color:#00A0A0 ">Forgot Password?</a>
                                <div class="mb-3 input-group">
                                    <input id="password" type="password" class="form-control" onkeydown="CheckIfBothFieldsAreEmpty()" onkeyup="CheckIfBothFieldsAreEmpty();" required />
                                    <div class="input-group-append">
                                        <span class="input-group-text" style="background-color: white; cursor: pointer;" onclick="togglePasswordVisibility();">
                                            <i id="password-eye" class="fa fa-eye-slash"></i>
                                        </span>
                                    </div>
                                </div>
                                <button id="sign-in-button" type="button" class="streamWork-primary mb-3" style="width: 100%;" onclick="SignInModal('Stream/Live/@Model.FeaturedTutor.Username');">Sign-in</button>
                                <br />

                                <p class="divider-text">or</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a id="sign-in-google" class="btn d-block mr-auto ml-auto" style="border-color:black; text-transform:none;" onclick="SignInOauth()" role="button">
                                            <img width="20" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                            Sign-in with Google
                                        </a>
                                    </div>
                                </div>

                                <br />
                                <br />

                                <p style="text-align: center; color: #004643;">New to StreamWork? <a href="/Home/SignUp" style="color: #00A0A0">Sign up</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
CheckIfBothFieldsAreEmpty()
    document.getElementById('username').onkeydown = function (event) {
        if (event.keyCode == 13) {
            SignInModal('Stream/Live/@Model.FeaturedTutor.Username')
        }
    }
    document.getElementById('password').onkeydown = function (event) {
        if (event.keyCode == 13) {
            SignInModal('Stream/Live/@Model.FeaturedTutor.Username')
        }
    }</script>

