<div id="stream-connection-established-modal" class="custom-modal modal-on-modal">
    <div class="custom-modal-content" style="width:300px; height:185px">
        <h5 id="notification-message" class="form-header text-center pl-3 pr-3" style="padding-top:50px; font-size:16px;"><b>Connection Established!</b> <br /> Have a great stream!</h5>
        <button class="btn d-block mr-auto ml-auto mt-3 w-50" style="background-color:#004643; color:white" onclick="CloseModal('stream-connection-established-modal')">Ok</button>
    </div>
</div>