<div id="register-stream-modal" class="custom-modal">
    <div class="custom-modal-content">
        <h5 class="form-header" style="padding-left:20px; padding-top:10px; font-size:16px;">Stream Information</h5>
        <div class="slider">
            <div class="slider-object" style="width:160px"></div>
        </div>
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
        
    </div>
</div>
