<div id="tutor-not-approved-modal" class="custom-modal">
    <div class="custom-modal-content">
        <div class="row">
            <div class="col-12">
                <img src="~/images/SignUpAssets/SignUp_6_Together_SW_SVG.svg" />
                <h1 class="text-center mb-2 mt-4 roboto-slab">Your Application Has Been Received!</h1>
                <p class="text-center" style="color: #707070; font-size: 13px;">Please keep an eye out on your inbox, we will reach out in 1-2 days! While you wait...<br />feel free to fill out your StreamTutor profile!</p>
                <button class="streamWork-primary d-block ml-auto mr-auto mb-4" onclick="window.location.href='/Tutor/TutorDashboard'">Fill out profile</button>
            </div>
        </div>
        <div id="archived-stream-edit-buttons"></div>
    </div>
</div>