@{var cacheRand = new Random().Next();}

<div class="row">
    <nav class="navbar navbar-expand-lg fixed-top p-1 w-100 navbar-custom" style="background-color:white;">
        <div class="collapse navbar-collapse pl-3" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active d-block mr-auto ml-auto">
                    <a class="navItem nav-link pl-3 pr-3" href="/Home/Tutor">Tutor</a>
                </li>
                <li class="nav-item active d-block mr-auto ml-auto">
                    <a class="navItem nav-link pl-3 pr-3" href="/Home/Browse">Browse</a>
                </li>
                <li class="nav-item active d-block mr-auto ml-auto">
                    <a class="navItem nav-link pl-3 pr-3" href="/Home/About">About</a>
                </li>
            </ul>

            <form id="search-form" class="p-1 border rounded w-75" style="background-color:white; margin-left:40px; margin-right:50px" onkeyup="SearchStreams(event, 'stream-row')" onsubmit="SearchStreams(event, 'stream-row')">
                <input id="searchQuery" class="form-control-lg" type="search" placeholder="🔎  Search Streams By Title" style="border: none; font-size:12px;">
            </form>
        </div>

        <div class="dropright mr-auto ml-2 d-lg-none d-md-block d-sm-block d-block">

            <img class="pointer mr-2" src="~/images/streamWorkPencil.png" width="32" />
            <img id="dropdownMenuButton" data-toggle="dropdown" class="dropdown-toggle pointer" src="~/images/GenericAssets/Elipses.svg" width="25" />
            <div class="dropdown-menu mt-3" style="font-size:12px; min-width:0px !important">
                <a class="dropdown-item pointer" href="/Home/Tutor">Tutor</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item pointer" id="Settings" href="/Home/About">About</a>
            </div>
        </div>
        @if (Model.CurrentUserProfile == null)
        {
            <div class="btn-group pr-3 float-right m-2">
                <button class="streamWork-secondary mr-2" onclick="window.location.href='/Home/SignUp'">Sign Up</button>
                <button class="streamWork-primary" onclick="window.location.href='/Home/SignIn/SW'">Sign In</button>
            </div>
        }
        else
        {
            <div id="notification-bell-mask" class="d-inline-block">
                @if (Model.Notifications.Count > 0 && Model.AreThereUnseenNotifications)
                {
                    <img src="~/images/GenericAssets/NotificationBell.svg" width="65" class="pointer" onclick="OpenModal('notification-modal'); UpdateToSeen('@Model.CurrentUserProfile.Username');" />
                }
                else
                {
                    <img src="~/images/GenericAssets/Bell.svg" width="65" class="pointer" onclick="OpenModal('notification-modal')" />
                }
            </div>

            <div class="btn-group pr-3">
                <input id="navbar-profile-picture" class="navbar-profile-picture" type="image" data-toggle="dropdown" src="@Model.CurrentUserProfile.ProfilePicture?@cacheRand" />
                <button type="button" id="dropdown" class="btn btn-info dropdown-toggle border-0 navbar-dropdown-button" data-toggle="dropdown"></button>
                <div class="dropdown-menu dropdown-menu-right" style="font-size:12px; min-width:0px !important">
                    @if (Model.CurrentUserProfile.ProfileType == "tutor")
                    {
                        <a class="dropdown-item" href="/Tutor/TutorDashboard">Dashboard</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="Settings" href="/Tutor/TutorSettings">Settings</a>
                    }
                    else
                    {
                        <a class="dropdown-item" href="/Student/StudentDashboard">Dashboard</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="Settings" href="/Student/TutorSettings">Settings</a>
                    }
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" onclick="SignOut()">Logout</a>
                </div>
            </div>
        }
        <script>$('#dropdown').dropdown()</script>
    </nav>
</div>

@await Html.PartialAsync("Partials/Modals/NotificationModal")