@page "{scheduleId}"
@model StreamWork.Pages.Tutor.TutorStream
@{Layout = "Tutor/_LayoutTutor";}
@{ViewData["Title"] = "TutorStream";}
@Html.AntiForgeryToken()

@if (!Model.CurrentUserProfile.ProfileType.Equals("tutor") || !Model.CurrentUserProfile.AcceptedTutor)
{
    <script>$(document).ready(function () {
            OpenModal('tutor-not-approved-modal');
        })</script>
}
else if (Model.UserChannel.StreamTitle == null && Model.UserChannel.StreamSubject == null)
{
    <script>$(document).ready(function () {
            OpenModal('register-stream-modal');
        });</script>
}

<div class="container-fluid">
    <div class="row" style="margin-top:71px">
        <div class="d-flex flex-column col-lg-9 col-md-12 col-sm-12 col-12 p-0 border-right">
            <div id="player-card" class="card border-0">
                <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://c.streamhoster.com/embed/media/WxsdDM/mAe0epZsixC/@Model.UserChannel.ChannelKey.Split('|')[0]" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" scrolling="no" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay; fullscreen;"></iframe></div>
            </div>
        </div>
        <div id="chat-card" class="d-flex flex-column fixed archived-chats col-lg-3 col-md-12 col-sm-12 col-12 p-0 border-top-0">
            <iframe id="live-chat" style="width:100%;height:100%; border:none;" src="/Chat/LiveChat/@Model.UserChannel.Username"></iframe>
        </div>
    </div>
</div>

<script>ResizeStreamSection()</script>

@await Html.PartialAsync("Partials/Modals/TutorStreamModal")
@await Html.PartialAsync("Partials/Notification/PushNotifications")
@await Html.PartialAsync("Partials/Modals/TutorNotApprovedModal")