.notification-destination {
    padding-left: 40px;
    font-size: 12px;
    color: #004643 !important;
    cursor: pointer;
}


.notification-remove {
    width: 24px;
    cursor: pointer;
    padding-top: 2px;
    display: none;
}