<div class="row">
    <nav class="navbar navbar-expand-lg p-1 w-100 fixed-top" style="background-color:white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pl-3" id="navbarSupportedContent">
            <a class="navbar-brand" href="/">
                <img src="~/images/GenericAssets/StreamWork-Full.svg" width="200" onclick="window.location.href='/'" alt="">
            </a>
        </div>
        <div class="btn-group pr-3 float-right">
            <button class="streamWork-secondary mr-2" onclick="window.location.href='/Home/SignUp'">Sign Up</button>
            <button class="streamWork-primary" onclick="window.location.href='/Home/SignIn/SW'">Sign In</button>
        </div>
    </nav>
</div>