@{Layout = "_LayoutChat";}
@{ViewData["Title"] = "StreamWorkChat";}

<section>
    <div class="container-fluid p-0">
        <div class="row" style="position:fixed; height:100%; width:105%">
            <div class="col-12 p-0">
                <div class="card" style="border-bottom-left-radius:0px; border-bottom-right-radius:0px; width:100%; height:100%;border:none; background-color:whitesmoke">
                    <div class="card-title text-center" style="font-family:'Roboto Slab', serif; font-size:22px">Chat</div>
                    <div class="card-body">
                        <div class="row">
                            <div id="chat">
                                <div class="col-12">
                                    <ul id="tutorQuestionGroup" class="list-group"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="questionBox">
                        <div class="card" style=" background-color:whitesmoke; border:none; height:100%">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-11 col-md-11 col-sm-10 col-10">
                                        <input id="regularQuestions" class="form-control" placeholder="Send message" />
                                        <div>
                                            <p><span style="display:none" id="equationQuestions" class="form-control"></span></p>
                                            <p style="display:none"><span id="latex"></span></p>
                                            <script>var mathFieldSpan = document.getElementById('equationQuestions');
                                                var latexSpan = document.getElementById('latex');
                                                var MQ = MathQuill.getInterface(2); // for backcompat
                                                var mathField = MQ.MathField(mathFieldSpan, {
                                                    spaceBehavesLikeTab: true, // configurable
                                                    handlers: {
                                                        edit: function () { // useful event handlers
                                                            latexSpan.textContent = mathField.latex(); // simple API
                                                        }
                                                    }
                                                });</script>
                                        </div>
                                    </div>
                                    <div class="col-lg- col-md-1 col-sm-2 col-2">
                                        <i class='fas fa-calculator' onclick="SwitchInputs()" style='font-size:32px;color:#008080;cursor:pointer'></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>