<link rel="stylesheet" href="~/mathquill/mathquill.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.3/signalr.min.js"></script>
<script src="~/mathquill/mathquill.js"></script>
<script>var MQ = MathQuill.getInterface(2);</script>
<script src="~/js/chat.js" asp-append-version="true"></script>

@model StreamWork.ViewModels.ChatViewModel;

@{Layout = "_LayoutNoNavbar";}
@{ViewData["Title"] = "TutorQuestionChat";}

<script>
    $(document).ready(function () {
        StartConnectionToServerTutor('@Model.TutorChannel.Id');
    })
</script>

<section>
    <div class="container-fluid m-3">
        <div class="row">
            <div class="col-12">
                <ul id="tutorQuestionGroup" class="list-group"></ul>
            </div>
        </div>
    </div>
</section>