<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/0930651c-3343-4907-add6-1085da02c0ea/resourceGroups/emto/providers/Microsoft.Web/sites/emto</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://emto.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>emto.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>emto</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$emto</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>