<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/5ec84abf-c3de-4c8b-b750-222f0c6549a3/resourceGroups/StreamWork20180914052438ResourceGroup/providers/Microsoft.Web/sites/StreamWork20180916060520</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://streamwork20180916060520.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>streamwork20180916060520.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StreamWork20180916060520</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StreamWork20180916060520</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>