
@{  
    ViewData["Title"] = "MathStream";
}
<div class="container-fluid">
    <div class="row" style="background-color:#F2F2F2">
        <div class="col-sm-10">
            <img src="~/images/StreamWorkLogo (2).png" width="250" height="70" onclick="window.open('/')" />
            <div class="d-inline-flex">
                <button class="btn buttonStylePages">Browse by subjects</button>
                <button class="btn buttonStylePages  ">Find Tutors</button>
                <button class="btn buttonStylePages ">Popular Livestreams</button>
                <button class="btn buttonStylePages ml-sm-4">Become a Tutor</button>
                <button class="btn buttonStylePages ml-sm-4">About StreamWork</button>
            </div>
        </div>
        <div class="col-sm-2 p-0">
            <div class="d-inline-flex">
                <div>
                    <h6 class="mt-sm-2">Johnny Appleseed</h6>
                    <h6 class="float-right">#student</h6>
                </div>
                <div class="dot4 m-sm-2"></div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 p-sm-0">
            <div class="embed-responsive-16by9">
                <iframe
                        width="835"
                        height="550 "
                        src="http://www.youtube.com/embed/fxCEcPxUbYA"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-3">
            <h2 class=" float-left mt-sm-2">Calculus 2 Tutoring</h2>
            <h6 class=" float-left mt-sm-3" style="font-size:12px">by Anika Stephannie</h6>
            <h6 class=" float-left mt-sm-2">40,376 students in this classroom </h6>
            <p style="font-size:12px" class=" float-left mt-sm-2">
                As final week approaching, I would like to help you guys for Calculus I! Be sure to sub me for more math tutoring livestreams.
            </p>
           <h4 class="float-left">Chat</h4>

        </div>
       
    </div>
</div>
