
@{
    ViewData["Title"] = "MathStream";
}
<div class="container-fluid">
    <div class="row" style="background-color:#F2F2F2">
        <div class="col-sm-10">
            <img src="~/images/StreamWorkLogo (2).png" width="250" height="70" onclick="window.open('http://streamwork20180916060520.azurewebsites.net/')" />
            <div class="btn-group">
                <button class="btn buttonStylePages">Browse by subjects</button>
                <button class="btn buttonStylePages  ">Find Tutors</button>
                <button class="btn buttonStylePages ">Popular Livestreams</button>
                <button class="btn buttonStylePages ml-sm-4">Become a Tutor</button>
                <button class="btn buttonStylePages ml-sm-4">About StreamWork</button>
            </div>
        </div>
        <div class="col-sm-2 p-0">
            <div class=" btn-group">
                <div>
                    <h6 class="mt-sm-2">Johnny Appleseed</h6>
                    <h6 class="float-right">#student</h6>
                </div>
                <div class="dot4 m-sm-2"></div>
            </div>

        </div>
    </div>
 </div>
