@model StreamWork.ViewModels.StreamPageViewModel

@{
    ViewData["Title"] = "StreamPage";
}

<script src="~/js/SignUpLogin.js"></script>

@if (Model.profile.userProfile == null)
{
    <script>NavigateToPage('/Home/Math')</script>
}
else
{
    <script>checkLoggedIn('@Model.profile.userProfile.LoggedIn',"/Home/Math");</script>
}

@if (!Model.IsSubscribed()) {
    <script>window.location.href = '/Home/Subscribe';</script>
}

<div style="font-family:'Roboto', sans-serif;">
    <nav class="navbar navbar-expand-lg  text-center" style="position:fixed;z-index:2 ;width:100%;background-color:#008080">
        <img src="~/images/WhiteStreamWork.png" width="250" height="70" onclick="window.location.href='/'" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" id="nav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-sm-5" style="font-size:14px;">
                    <a class="nav-link" href="/" style="color:white;">Browse by Subjects</a>
                </li>
                <li class="nav-item ml-sm-5" style="font-size:14px;">
                    <a class="nav-link" href="/Home/BecomeTutor" style="color:white;">Become a StreamTutor</a>
                </li>
                <li class="nav-item ml-sm-5" style="font-size:14px;">
                    <a class="nav-link" href="/Home/About" style="color:white;">About</a>
                </li>
                <li class="nav-item ml-sm-5" style="font-size:14px;">
                    <a class="nav-link" href="/Home/HowToStream" style="color:white;">How to Stream</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-9 p-2">
                <div style="padding-top:115px">
                    <iframe src="//iframe.dacast.com/b/135034/c/@Model.urlParams[0]" width="100%" height="700px" frameborder="0" scrolling="no" allow="autoplay" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-3 p-2">
                <div style="padding-top:115px">
                    <iframe src=@Model.urlParams[1] width="100%" height="550" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>
                </div>
                <br />
                <a target="_blank" rel="noopener noreferrer" href="/Home/Donate?tutor=@Model.profile.userProfile2.Username">
                    <img src="~/images/donate201911.png" target="_blank" rel="noopener noreferrer" style="display:block; margin-left:auto; margin-right:auto; width:75%; height:auto" />
                </a>
            </div>
        </div>
    </div>
</div>
