.container {
    max-width: 1250px !important;
    padding-top: 100px;
}

.profile-picture-overlap-container {
    position: absolute;
    top: -20%;
    left: 35px;
}

/*Navigation Slider Tabs*/
.nav-tabs > li > a.active {
    color: #707070 !important;
    background-color: transparent !important;
    border: none;
    font-family: 'Roboto Slab', serif;
}

.nav-tabs > li > a {
    color: #9F9F9F !important;
    background-color: transparent !important;
    border: none;
    font-family: 'Roboto Slab', serif;
}

/*Streams, Followers & Views Objects*/
.count-outer-object {
    font-size: 14px;
    word-spacing: 8px;
    padding-top: 8px
}

.count-inner-object {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    padding: 7px;
}

@media screen and (max-width: 800px) {
    .count-outer-object {
        font-size: 10px;
        word-spacing: 8px;
        padding-top: 8px
    }

    .count-inner-object {
        font-size: 14px;
        font-family: 'Roboto Slab', serif;
        padding: 7px;
    }
}

.banner {
    width: 100%;
    object-fit: cover;
    object-position: top;
    max-height: 300px
}

/*Headers*/
.header-padding {
    padding-left:110px
}

.header-picture {
    width: 80px;
    cursor: default;
}